
<p><%= link_to 'Add',{ :controller=>"staffs",:action => 'new', :class_id => @class_id }, :remote => true %></p>

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="row4">
  	<table width="100%" border="0" align="center border" cellpadding="10" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading"><%= sortable "last_name", "Last Name" %></th>
		    <th align="center" valign="top" class="table_heading"><%= sortable "first_name", "First Name" %></th>
	        <th align="center" valign="top" class="table_heading">Assign/Un-assign</th>

	    
	    
	</tr>

 <% for staff in @staffs %>
		 <tr>
        <td align="left" valign="top" class="tr_bg"><%= staff.last_name %></td>
    	 <td align="left" valign="top" class="tr_bg"><%= staff.first_name %></td>
    	
        <td align="left" valign="middle" class="tr_bg">
          <%= link_to format_boolean(staff.status?), {:controller => 'staffs', :action => 'toggled_status', :id => staff.id}, :remote => true %>
        </td>
       </tr>

    <% end %>
  </tbody></table>
		
 </div>		

















