
<%= form_for @staff, :remote => true do |f| %>
    <% if current_user.role? :admin %> 
        <div>
               <%= f.label :institute_id %><br />
                <%= f.collection_select :institute_id, Institution.all(:order => "id"), :id, :Name, :selected => 15 %>
       </div><br/>
      
    <% end %>
    <% if current_user.role? :admin %> 
               <%= select("staff", "user_id", User.find(:all,:conditions => "designation = 't'").collect {|p| [ p.first_name, p.id ] }, {:prompt => 'Select'}) %>

    <% elsif current_user.role? :instituteadmin %> 
     
       <p>
        Select Teacher : 
            <%= select("staff", "user_id", User.find_all_by_designation_and_institute_id("t",current_user.institute_id).collect {|p| [ p.first_name, p.id ] }, {:prompt => 'Select'}) %>
    <% end %> 
            <%= f.hidden_field :class_id, :value=>"#{params[:class_id]}" %>
    <% if current_user.role? :instituteadmin %> 
	       <%= f.hidden_field :institute_id, :value => current_user.institute_id %>
   	<% end %>
     </p>
  
     <p><%= f.submit "Submit" %></p>
<% end %>