<script language="JavaScript">
  function showObj(){
   
      document.getElementById("objque").style.display='block';
      document.getElementById("objdescr").style.display='none';
      
  }
  function showDescr(divId){
   
      document.getElementById("objdescr").style.display='block';
      document.getElementById("objque").style.display='none';
      
  }
  
  </script>
  
  
  
<div class="mc_heading">
	Question
	
	</div>


<div class="row4">
	
	
<%= form_for [:course, :assignment, @question] do |f| %>
	<div id="wraper_ques">
       <div class="row_ques">
         <div class="colum_left_ques">
           <label for="sub_question_sub question ">Question </label>
         </div>
         <div class="colum_right_ques">
             <%= f.text_field :question,:class =>"textfield" %> 
         </div>
       </div>
        <div class="row_ques">
           <div class="colum_left_ques">
             <label for="sub_question_type of question">Type of question</label>
           </div>
           <div class="colum_right_ques">
               <input type="radio" value="0" onclick="showObj('objque')" name="question[type_of_question]" id="sub_question_type_of_question_0"> objective
               <input type="radio" value="1" onclick="showDescr('objdescr')" name="question[type_of_question]" id="sub_question_type_of_question_1"> descriptive</div>
        </div> 

         <div id="objque" class="row_ques" style="display: block;">
           <div class="colum_left_ques">
             <label for="question_option">Option</label>
           </div>
           <div class="colum_right_ques">
            <table width="100%" border="0" cellspacing="5" cellpadding="0">
        
  	      <%= f.fields_for :objquestions do |builder| %>
          <tr>
            <td><%= render "objquestion_fields", :f => builder %></td>
          </tr>
          <% end %>
          <tr>
           <td>
           <div><%= link_to_add_fields "Add Option", f, :objquestions %></div></td>
           </tr>
        </table>
           </div>
		   
		   
		   
         </div>
    
         <div style="display: none;" id="objdescr" class="row_ques">
           <div class="colum_left_ques">
              <label for="sub_question_Explaination">Explaination</label>
           </div>
           <div class="colum_right_ques">
             <%= f.text_area :explaination,:size =>15 %>
         <%= f.hidden_field :assignment_id, :value => params[:assignment_id] %>
    		  <%= f.hidden_field :user_id, :value => current_user.id %>      
           </div>
         </div>
    
         <div class="row_ques">

         <div class="colum_right_ques">
        <%= f.submit "Save",  :class=>"greenbutton", :style=>"float:left" %>
         </div>
       </div>
      </div>
	<%end%>
	</div>