<% if @question_type == 'objective' %>
  <%= f.fields_for :objquestions do |builder| %>
	<%= render "objquestion_fields", :f => builder %>
	<% end %>
	<p><%= link_to_add_fields "Add Question", s, :objquestions %></p>
<% elsif @question_type == 'descriptive' %>

  Anup
<% end %>
  