<div class="mc_heading">
	Question
	
	</div>
	<div class="row4">
	
	<table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
<tr>
		<td width="50%" align="right" valign="middle" class="tr_bg"><strong>Questions </strong></td>
		<td align="left" valign="top" class="tr_bg"><label> <%=h @question.question %></label></td>
  	</tr>
 
<tr>
<td width="50%" align="right" valign="middle" class="tr_bg"><strong>Please select options </strong></td>

 <td align="left" valign="top" class="tr_bg"> 
     	<%= form_for :question do |f| %>
    
<% for objquestion in @question.objquestions %>
 	  
    <%= f.radio_button  "option_answer", "#{objquestion.id}" %> <%= objquestion.que %> 
     <% end %>
</td>
 
  </tr>

<%= f.hidden_field :id, :value =>"#{@question.id}" %>
 <td colspan="2" align="left" valign="middle" class="tr_bg" style="padding-left:290px"><%= f.submit "Save",  :class=>"greenbutton", :style=>"float:left" %> </td>
<% end %>
</div>

