<div class="mc_heading">
	Manage Questions
	
	</div>

<div style="margin-bottom:10px; width:100%; height:auto; float:left">
	<div style="float:left; width:50%; height:auto; text-align:left">
	<img src="/assets/add.png" alt="" width="24" height="24" border="0" align="absmiddle" /><%= link_to 'Add New Question', new_course_assignment_question_path,:class=>"table_heading_link" %> </div>
	
</div> 

 <div class="row4">
  	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Question</th>
		<th align="center" valign="top" class="table_heading">Type of question</th>
	    <th width="37%" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>
	   
	   
	 <% @questions.each do |question| %>
	   
      <tr>
        <td align="left" valign="top" class="tr_bg"><%= question.question %></td>
    	<td align="left" valign="top" class="tr_bg"><% if question.type_of_question == 0 %>objective <% elsif question.type_of_question == 1 %> descriptive <% end %></td>
      <td align="left" valign="middle" class="tr_bg"> <%= link_to 'Add Sub Questions', course_assignment_question_sub_questions_path(params[:course_id], question.assignment_id, question.id),:class =>"td_link" %> |
		    <%= link_to 'Edit', edit_course_assignment_question_path(params[:course_id], question.assignment_id, question.id),:class =>"td_link" %>
   	    | <a href="/course/<%= params[:course_id] %>/assignments/<%= question.assignment_id %>/questions/<%= question.id %>/delete" "class ="td_link" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip" >Delete</a>
      
	</td>
       </tr>

    <% end %>
  </tbody></table>
		
 </div>