<div class="mc_heading">
	Question
	
	</div>
	<div class="row4">
	
	<table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
<tr>
		<td width="50%" align="right" valign="middle" class="tr_bg"><strong>Questions </strong></td>
		<td align="left" valign="top" class="tr_bg"><label> <%=h @question.question %></label></td>
  	</tr>
 


<p>Please select Options</p>
<div>

<% for objquestion in @question.objquestions %>
  <p>
   
    <%= radio_button_tag  "correct_answer", "#{objquestion.id}" %> <%= objquestion.que %>
  </p>
  


<% end %>
</div>

 