<div class="mc_heading">
	Add Classes
	
	</div>





	<div class="row4">
	<%= form_for(@edu_class) do |f| %>
	<table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
	  	<% if current_user.role? :admin %> 
	  		<tr>
	  			<td align="right" valign="middle" class="tr_bg"><strong>Institutions </strong></td>
	  	     	<td align="left" valign="top" class="tr_bg">         <%= f.collection_select :institute_id, Institution.all(:order => "id"), :id, :Name, :selected => 15,:class=>"textfield3" %>
</td>
	  	</tr>
	  	<%end%>
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :class_name,:class=>"textfield3" %>
    	</td>
    	</tr>
		<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Graduation </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :graduation_month,:class=>"textfield3", placeholder: "mm", size: 2 %> / 
    	 <%= f.text_field :graduation_year,:class=>"textfield3", placeholder: "yyyy",  size: 4%>
    	</td>
    	</tr>
	  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Days</strong></td>
			<td align="left" valign="top" class="tr_bg"><%= select_tag("class_ids[]", options_for_select(Day.find(:all).collect { |cat| [cat.day, cat.id] }, @edu_class.days.collect { |cat| cat.id}), {:multiple=>true, :size=>7}) %></td>
    </tr>
    <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Time</strong></td>
		<td align="left" valign="top" class="tr_bg"><%= time_select :edu_class, :start_time, {:ampm => true}, :prompt => true %> &nbsp;&nbsp;to &nbsp;&nbsp;
    <%= time_select :edu_class, :end_time, {:ampm => true}, :prompt => true %>
		
		</td>
    </tr>
		
	
		
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Location </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= f.text_field :class_location,:class=>"textfield3" %></td>
  </tr>
  
  <tr>
    		<td align="right" valign="middle" class="tr_bg"><strong>Term </strong></td>
        <td align="left" valign="top" class="tr_bg"><%= f.select( :terms,  { "Year" => "year", "Semester" => "sem"}, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"edu_classes", :action => "check_terms"}, :with => "'terms='+value")}"}) %></td>
  </tr>
  
  <tr id="term">
      
  </tr>
		
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>No of seats </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= f.text_field :no_of_seats,:class=>"textfield3" %>
    		<%= f.hidden_field :user_id, :value => current_user.id %>
			<% if current_user.role? :instituteadmin %> 
			    <%= f.hidden_field :institute_id, :value => current_user.institute_id %>
			<% end %>
			<% if current_user.role? :teacher %> 
			    <%= f.hidden_field :institute_id, :value => current_user.institute_id %>
			<% end %>
    		
    	</td>
    	</tr>
    	<tr>
      <td align="right" valign="middle" class="tr_bg"><strong>Students </strong></td>
      <td align="left" valign="top" class="tr_bg">
        <%= text_field_tag 'subject_students', nil, placeholder: "search students" %>
        <input type="hidden" id="students" name="students" value=""></input>
        <div class="show_students">
          <ul>
          </ul>
        </div>
      </td>
    </tr>
		
	<tr>
	  <td colspan="2" align="left" valign="middle" class="tr_bg" style="padding-left:290px"><%= f.submit "Save",  :class=>"greenbutton", :style=>"float:left" %> </td>
	  </tr>
</tbody></table>
	
	<%end%>
	</div>
<script>

		initializeSearchAndAdd("<%= course_index_users_path({format: 'json', type: 's'})%>", 'students');
</script>