<div class="mc_heading">
	Edit Classes
	
	</div>
	<div class="row4">
	<%= form_for(@edu_class) do |f| %>
	<table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
	  	<% if current_user.role? :admin %> 
	  		<tr>
	  			<td align="right" valign="middle" class="tr_bg"><strong>Institutions </strong></td>
	  	     	<td align="left" valign="top" class="tr_bg">         <%= f.collection_select :institute_id, Institution.all(:order => "id"), :id, :Name, :selected => 15,:class=>"textfield3" %>
</td>
	  	</tr>
	  	<%end%>
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :class_name,:size =>15,:class=>"textfield3" %>
    	</td>
    	</tr>
      <tr>
    <td align="right" valign="middle" class="tr_bg"><strong>Graduation </strong></td>
      <td align="left" valign="top" class="tr_bg">
       <%= f.text_field :graduation_month,:class=>"textfield3", placeholder: "mm", size: 2 %> / 
       <%= f.text_field :graduation_year,:class=>"textfield3", placeholder: "yyyy",  size: 4%>
      </td>
      </tr>
		
	  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Days</strong></td>
			<td align="left" valign="top" class="tr_bg"><%= select_tag("class_ids[]", options_for_select(Day.find(:all).collect { |cat| [cat.day, cat.id] }, @edu_class.days.collect { |cat| cat.id}), {:multiple=>true, :size=>7}) %></td>
    </tr>
    <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Time</strong></td>
		<td align="left" valign="top" class="tr_bg"><%= time_select :edu_class, :start_time, {:ampm => true}, :prompt => true %> &nbsp;&nbsp;to &nbsp;&nbsp;
    <%= time_select :edu_class, :end_time, {:ampm => true}, :prompt => true %>
		
		</td>
    </tr>
		
	
		
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Location </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= f.text_field :class_location,:size =>15,:class=>"textfield3" %></td>
  </tr>
  
  <tr>
    		<td align="right" valign="middle" class="tr_bg"><strong>Terms </strong></td>
        <td align="left" valign="top" class="tr_bg"><%= f.select( :terms,  { "Year" => "year", "Semester" => "sem"}, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"institutions", :action => "check_terms"}, :with => "'terms='+value")}"}) %></td>
  </tr>

  <tr id="term">
    <% if @edu_class.terms == 'year' %>
      <td align="right" valign="middle" class="tr_bg"><strong>Year </strong></td>
      <td align="left" valign="top" class="tr_bg"><%= select_year(@edu_class.year, :start_year => Time.now.year + 5, :end_year => Time.now.year - 95, :field_name => 'year', :prefix => "institution") %>
      </td>
      
    <% elsif @edu_class.terms == 'sem' %> 
      <td align="right" valign="middle" class="tr_bg"><strong>Semester </strong></td>
      <td align="left" valign="top" class="tr_bg"><%= select("institution", "sem",  { "Fall" => "Fall", "Spring" => "Spring", "Summer" => "Summer"}) %><%= select_year(@edu_class.year, :start_year => Time.now.year + 5, :end_year => Time.now.year - 95, :field_name => 'year', :prefix => "institution") %>
      </td>
    <% end %>
  </tr>
		
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>No of seats </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= f.text_field :no_of_seats,:size =>15,:class=>"textfield3" %>
    		<%= f.hidden_field :user_id, :value => current_user.id %>
			<% if current_user.role? :instituteadmin %> 
			    <%= f.hidden_field :institute_id, :value => current_user.institute_id %>
			<% end %>
			<% if current_user.role? :teacher %> 
			    <%= f.hidden_field :institute_id, :value => current_user.institute_id %>
			<% end %>
    		<% if @edu_class.status == nil  %>
    	     <%= f.hidden_field :status, :value =>1 %>
    	   <% end %>
    	</td>
    	</tr>
    	<tr>
    		<td align="right" valign="middle" class="tr_bg"><strong>Students </strong></td>
    		<td align="left" valign="top" class="tr_bg">
    			<%= text_field_tag 'subject_students', nil, placeholder: "search students" %>
    			<% existing_ids = @edu_class.students.collect(&:id).join(",")%>
    			<input type="hidden" id="students" name="students" value="<%= existing_ids %>"></input>
    			<div class="show_students">
    				<ul>
    					<% @edu_class.students.each do |student|%>
    					<li data-id='<%= student.id%>'><%= student.name_label%>  <a class='remove'>x</a></li>
    					<% end %>
    				</ul>
    			</div>
    		</td>
    	</tr>
		
	<tr>
	  <td colspan="2" align="left" valign="middle" class="tr_bg" style="padding-left:290px"><%= f.submit "Save",  :class=>"greenbutton", :style=>"float:left" %> </td>
	  </tr>
</tbody></table>
	
	<%end%>
	</div>
<script>
		initializeSearchAndAdd("<%= course_index_users_path({format: 'json', type: 's'})%>", 'students');
</script>