
	<% if( current_user.role? :admin)  %>

		<div>
    	  <p><%= link_to 'Subjects', subjects_path, :class => "table_heading_link" %> | &nbsp; <%= link_to 'Units', units_path, :class => "table_heading_link" %>
      | &nbsp; <%= link_to 'Chapters', chapters_path, :class => "table_heading_link" %> | &nbsp; <%= link_to 'Topics', topics_path, :class => "table_heading_link" %> | &nbsp; <%= link_to 'Sub Topics', sub_topics_path, :class => "table_heading_link" %></p>
      </div>
   <% end %>
	<% if current_user.role?:instituteadmin %>
   	  <div>
    	  <p><%= link_to 'Subjects', subjects_path, :class => "table_heading_link" %> | &nbsp; <%= link_to 'Units', units_path, :class => "table_heading_link" %>
      | &nbsp; <%= link_to 'Chapters', chapters_path, :class => "table_heading_link" %> | &nbsp; <%= link_to 'Topics', topics_path, :class => "table_heading_link" %> | &nbsp; <%= link_to 'Sub Topics', sub_topics_path, :class => "table_heading_link" %></p>
      </div>
 
   <% end %>
	<div class="mc_heading">
	Manage Classes
	
	</div>
	
	
	 
 <% if (current_user.role? :admin ) || (current_user.role? :instituteadmin )  %>
	    
		<div style="margin-bottom:10px; width:100%; height:auto; float:left">
		<div style="float:left; width:50%; height:auto; text-align:left">
			  
		<img src="/assets/add.png" alt="" width="24" height="24" border="0" align="absmiddle" /> <%= link_to 'Add', new_edu_class_path,:class=>"table_heading_link" %>	</div>
	
	<div style="float:right; width:50%; height:auto; text-align:right">
	     <%= form_tag edu_classes_path, :method => 'get' do %>
 			 <%= text_field_tag :search, params[:search], :class=>"textfield2" %>
			 <%= submit_tag "Search", :class_name => nil, :class => "searchbutton" %>
	
	    <% end %>
	</div>
	
	</div>
	
		
<div class="row4">
	
	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading"><%= sortable "class_name", "Name" %></th>
		<th align="center" valign="top" class="table_heading"><%= sortable "class_days", "Days" %></th>
	    <th align="center" valign="top" class="table_heading"><%= sortable "start_time", "Time" %></th>
	    <th align="center" valign="top" class="table_heading"><%= sortable "class_location", "Location" %></th>
	   
	    <th align="center" valign="top" class="table_heading"><%= sortable "status" %></th>
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">View</th>
	    
	</tr>
		<% @edu_classes.each do |edu_class| %>
	<tr>
		<td align="left" valign="top" class="tr_bg"><%= edu_class.class_name %></td>
    	<td align="left" valign="top" class="tr_bg"><% days = edu_class.days %> <% days.each do |day| %> <%= day.abbreviate %>&nbsp; <% end %> </td>
    	<td align="left" valign="top" class="tr_bg"><%= edu_class.start_time.strftime("%l:%M %P") unless edu_class.start_time.nil? %> - <%= edu_class.end_time.strftime("%l:%M %P") unless edu_class.end_time.nil? %>	</td>
    	<td align="left" valign="top" class="tr_bg"><%= edu_class.class_location %>	</td>
    	 <% if current_user.role?:admin %>	
		<td align="center" valign="top" class="tr_bg"><%= link_to format_boolean(edu_class.status?), {:controller => 'edu_classes', :action => 'toggled_status', :id => edu_class.id} %></td>
		<% elsif current_user.role?:instituteadmin %>
		<td align="center" valign="top" class="tr_bg"><%= link_to format_boolean(edu_class.status?), {:controller => 'edu_classes', :action => 'toggled_status', :id => edu_class.id} %></td>
	<% else %>
			<td align="center" valign="top" class="tr_bg"><%= link_to format_boolean(edu_class.status?) %></td>
<% end %>
		<td align="left" valign="middle" class="tr_bg">
		<%= link_to 'Assignments', course_assignments_path(edu_class),:class =>"td_link" %> | <%= link_to 'Students', students_edu_class_path(edu_class),:class =>"td_link" %> | <%= link_to 'Edit', edit_edu_class_path(edu_class),:class =>"td_link" %> |
		<a href="/edu_classes/<%= edu_class.id %>/delete" class ="td_link" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip" >Delete</a>	
			 </td>
  </tr>
	  
  	
     
        

 
 <% end %> 
  
 </tbody></table>
	 <%= will_paginate @edu_classes %>
	
	</div>
  <% end %> 
  
  
  
    <% if current_user.role?:teacher %>
     <div style="margin-bottom:10px; width:100%; height:auto; float:left">
     <div style="float:left; width:50%; height:auto; text-align:left"></div>
 
     	
     	<div style="float:right; width:50%; height:auto; text-align:right">
	     <%= form_tag edu_classes_path, :method => 'get' do %>
 			 <%= text_field_tag :search, params[:search], :class=>"textfield2" %>
			 <%= submit_tag "Search", :class_name => nil, :class => "searchbutton" %>
	
	    <% end %>
	</div>
	
	</div>
    <div class="row4">
	
	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
    
    
     <tbody> <tr class="pretty">
     	 <th align="center" valign="top" class="table_heading"><%= sortable "class_name", "Name" %> </th>
		 <th align="center" valign="top" class="table_heading"><%= sortable "class_days", "Days" %></th>
	     <th align="center" valign="top" class="table_heading"><%= sortable "start_time", "Time" %></th>
	     <th align="center" valign="top" class="table_heading"><%= sortable "class_location", "Location" %></th>
	     <th align="center" valign="top" class="table_heading"><%= sortable "status" %></th>
	     <th width="37%" colspan="3" align="center" valign="top" class="table_heading">View</th>
	   </tr>
	  
	    <% @edu_classes.each do |c| %>
	    <% s = Staff.find_by_class_id_and_user_id(c.id, current_user.id) %>
	    <% staff_class_id = s.class_id rescue "" %>
       <% if c.id == staff_class_id %>
          <tr>
 		 <td align="left" valign="top" class="tr_bg"><%= c.class_name %></td>
 		 <td align="left" valign="top" class="tr_bg">   <% days = c.days %> <% days.each do |day| %> <%= day.abbreviate %>&nbsp; <% end %> </td>
   		 <td align="left" valign="top" class="tr_bg">     <%= c.start_time.strftime("%l:%M %P") unless c.start_time.nil? %> - <%= c.end_time.strftime("%l:%M %P") unless c.end_time.nil? %>	</td>
         <td align="left" valign="top" class="tr_bg">   <%=c.class_location %></td>  
    	 <td align="center" valign="top" class="tr_bg"><%= link_to format_boolean(c.status?), {:controller => 'edu_classes', :action => 'toggled_status', :id => c.id} %></td>
          
          
		<td align="left" valign="middle" class="tr_bg">
		<%= link_to 'Assignments', edu_class_assignments_path( c.id),:class =>"td_link" %> | <%= link_to 'Students', students_edu_class_path( c.id),:class =>"td_link" %> | <%= link_to 'Edit', edit_edu_class_path( c.id),:class =>"td_link" %> |
	
		<a href="/edu_classes/<%= c.id %>/delete" class ="td_link" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip" >Delete</a>	
	   </td> 
            
     </tr> 
    <% end %>  
    <% end %>  
  
    
   </tbody></table>
	
	 <%= will_paginate @edu_classes %>
	</div>

 <% end %> 
  




