<div class="mc_heading">
	Classes
	
	</div>
	
	
	

	
		
	<div class="row4">
	
	<table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
		
	<tr>
		<td width="50%" align="right" valign="middle" class="tr_bg"><strong>Class name </strong></td>
    	<td align="left" valign="top" class="tr_bg"><label><%= @edu_class.class_name %></label></td>
    	</tr>
		
	<tr>
	  <td width="50%" align="right" valign="middle" class="tr_bg"><strong>Days</strong></td>
	  <td align="left" valign="top" class="tr_bg"><%= @edu_class.class_days%></td>
	  </tr>
	
		
	<tr>
		<td width="50%" align="right" valign="middle" class="tr_bg"><strong>Class hours </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= @edu_class.class_hours %></td>
    	</tr>
		
	<tr>
		<td width="50%" align="right" valign="middle" class="tr_bg"><strong>Class location </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= @edu_class.class_location %> </td>
    	</tr>
		
	<tr>
		<td width="50%" align="right" valign="middle" class="tr_bg"><strong>No of seats </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= @edu_class.no_of_seats %> </td>
    	</tr>
		
	<tr>
	  
</tbody></table>
	
	
	</div>
	








 
 
 
 
 
 
 
 
 
 
 

 

 