<div class="mc_heading">
Teachers 

</div>

  

 <div class="row4">
	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
  <tr class="pretty"> 
      <th align="center" valign="top" class="table_heading">Last Name</th>
	    <th align="center" valign="top" class="table_heading">First Name</th>
  </tr>
  
	<% @staffs.each do |staff| %>
	  <% user = User.find(staff.user_id) %>
	 <tr>
      <td align="center" valign="top" class="tr_bg"><%= user.last_name %></td>
  	  <td align="center" valign="top" class="tr_bg"><%= user.first_name %> </td>
  </tr>
  <% end %>
 </table>
	
</div>