<div class="mc_heading">
	Sub Question
	
	</div>
	
<div class="row4">
   <table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>	
	<tr>
		<td width="50%" align="right" valign="middle" class="tr_bg"><strong>Questions </strong></td>
		<td align="left" valign="top" class="tr_bg"><label> <%=h @sub_question.subquestion %></label></td>
  	</tr>	
<tr>
<td width="50%" align="right" valign="middle" class="tr_bg"><strong>Please select options </strong></td>

 <td align="left" valign="top" class="tr_bg"> 
     <%= form_for :question do |f| %>
    
<% for subobjquestion in @sub_question.subobjquestions %>
 	  
     <%= f.radio_button  "option_answer", "#{subobjquestion.id}" %> <%= subobjquestion.que %> 
     <% end %>
</td>
 
  </tr>

<%= f.hidden_field :id, :value =>"#{@sub_question.id}" %>
 <td colspan="2" align="left" valign="middle" class="tr_bg" style="padding-left:290px"><%= f.submit "Save",  :class=>"greenbutton", :style=>"float:left" %> </td>
<% end %>
</div>



















