

<div class="mc_heading">
	Sub Question
	
	</div>

<div style="margin-bottom:10px; width:100%; height:auto; float:left">
	<div style="float:left; width:50%; height:auto; text-align:left">
	<img src="/assets/add.png" alt="" width="24" height="24" border="0" align="absmiddle" /><%= link_to 'Add New Sub Question', new_edu_class_assignment_question_sub_question_path,:class=>"table_heading_link" %> </div>
	
</div> 

 <div class="row4">
  	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Sub Question</th>
		<th align="center" valign="top" class="table_heading">Type of question</th>
	    <th align="center" valign="top" class="table_heading">Correct_answer</th>
	    <th width="37%" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>
	   
	   
	<% @sub_questions.each do |sub_question| %>
	   
      <tr>
        <td align="left" valign="top" class="tr_bg"><%= sub_question.subquestion %></td>
    	<td align="left" valign="top" class="tr_bg"><% if sub_question.type_of_question == 0 %>objective <% elsif sub_question.type_of_question == 1 %> descriptive <% end %></td>
        <td align="left" valign="top" class="tr_bg"><%= sub_question.correct_answer %>	</td>
        
      <td align="left" valign="middle" class="tr_bg"><%= link_to 'Edit', edit_edu_class_assignment_question_sub_question_path(params[:edu_class_id], sub_question.assignment_id, sub_question.question_id, sub_question.id),:class =>"td_link" %>
       	    | <a href="/edu_classes/<%= sub_question.class_id %>/assignments/<%= sub_question.assignment_id %>/questions/<%= sub_question.question_id %>/sub_questions/<%= sub_question.id %>/delete" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip" >Delete</a>

      
	</td>
       </tr>

    <% end %>
  </tbody></table>
		
 </div>		
      

