 
<p>
  <h2>Question</h2>
   <table>
   	<tr>
  	<th align="right">question : </th>
    <td> <%= @sub_question.subquestion %></td>
   </tr>
   <tr>
   	<th align="right">Option :</th>
  <td><%= @sub_question.option%></td>
  </tr>
  <tr>
  	<th align="right">Explaination:</th>
  <td><%= @sub_question.explaination %></td>
  </tr>
  <tr>
  	<th align="right">Correct Answer:</th>
  <td><%= @sub_question.correct_answer %></td>
  </tr>
 
 
</table>

 <%= link_to 'Back', sub_questions_path %>