<% if params[:terms] == 'year' %>
<td align="right" valign="middle" class="tr_bg"><strong>Year </strong></td>
<td align="left" valign="top" class="tr_bg"><%= select_year(Date.today, :start_year => Time.now.year + 5, :end_year => Time.now.year - 95, :field_name => 'year', :prefix => "institution") %>
</td>
<% elsif params[:terms] == 'sem' %>

<td align="right" valign="middle" class="tr_bg"><strong>Semester </strong></td>
<td align="left" valign="top" class="tr_bg"><%= select("institution", "sem",  { "Fall" => "Fall", "Spring" => "Spring", "Summer" => "Summer"}) %><%= select_year(Date.today, :start_year => Time.now.year + 5, :end_year => Time.now.year - 95, :field_name => 'year', :prefix => "institution") %>
</td>
<% end %>