<div class="mc_heading">
	Institutions
	
	</div>





	<div class="row4">
	<%= form_for(@institution) do |f| %>
	<table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
	  
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	<%= f.text_field :Name,:size =>20 %>
    	</td>
    	</tr>
		
	
   
		
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Address </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= f.text_area :Address,:rows =>4 ,:class=>"textfield3" %></td>
    	</tr>
		
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Email </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= f.text_field :Email,:size =>15 ,:class=>"textfield3" %></td>
    	 <%= f.hidden_field :user_id, :value => current_user.id %>
    	</tr>
		
	
		  <tr>
        		<td align="right" valign="middle" class="tr_bg"><strong>Terms </strong></td>
            <td align="left" valign="top" class="tr_bg"><%= f.select( :terms,  { "Year" => "year", "Semester" => "sem"}, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"institutions", :action => "check_terms"}, :with => "'terms='+value")}"}) %></td>
      </tr>

      <tr id="term">
        <% if @institution.terms == 'year' %>
          <td align="right" valign="middle" class="tr_bg"><strong>Year </strong></td>
          <td align="left" valign="top" class="tr_bg"><%= select_year(@institution.year, :start_year => Time.now.year + 5, :end_year => Time.now.year - 95, :field_name => 'year', :prefix => "institution") %>
          </td>
          
        <% elsif @institution.terms == 'sem' %> 
          <td align="right" valign="middle" class="tr_bg"><strong>Semester </strong></td>
          <td align="left" valign="top" class="tr_bg"><%= select("institution", "sem",  { "Fall" => "Fall", "Spring" => "Spring", "Summer" => "Summer"}) %><%= select_year(@institution.year, :start_year => Time.now.year + 5, :end_year => Time.now.year - 95, :field_name => 'year', :prefix => "institution") %>
          </td>
        <% end %>
      </tr>
	<tr>
	  <td colspan="2" align="left" valign="middle" class="tr_bg" style="padding-left:290px"><%= f.submit "Update",  :class=>"greenbutton", :style=>"float:left" %> </td>
	  </tr>
</tbody></table>
	
	<%end%>
	</div>










