
  <div class="mc_heading">
	Manage Institutions
	
	</div>

   <div style="margin-bottom:10px; width:100%; height:auto; float:left">
	<div style="float:left; width:50%; height:auto; text-align:left">
	<img src="/assets/add.png" alt="" width="24" height="24" border="0" align="absmiddle" /><%= link_to 'Add New Institution', new_institution_path,:class=>"table_heading_link" %></div>
	 </div> 
	
	 <div class="row4">
 	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Name</th>
		<th align="center" valign="top" class="table_heading">Address</th>
	    <th align="center" valign="top" class="table_heading">Email</th>
	   
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>
	
		      

	
		<% @institutions.each do |institution| %>
		
		 <tr>
       <td align="left" valign="top" class="tr_bg"><%= institution.Name %></td>
   	<td align="left" valign="top" class="tr_bg"><%= institution.Address%> </td>
       <td align="left" valign="top" class="tr_bg"><%= institution.Email%> </td>
   	
       <td align="left" valign="middle" class="tr_bg">
      <%= link_to 'Show', institution,:class =>"td_link" %>|<%= link_to 'Edit', edit_institution_path(institution),:class =>"td_link" %>|<a href="/institutions/<%= institution.id %>/delete" class ="td_link"  onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip" >Delete</a> </td>
       </td>
      </tr>

   <% end %>
 </tbody></table>
		 <%= will_paginate @institutions %>
</div>		
		
		
		
		
		
		
		
