<div class="mc_heading">
	Institutions
	
	</div>
	
	
	

	
		
	<div class="row4">
	
	<table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
		
	<tr>
		<td width="50%" align="right" valign="middle" class="tr_bg"><strong>Name</strong></td>
    	<td align="left" valign="top" class="tr_bg"><label><%= @institution.Name %></label></td>
    	</tr>
		
	<tr>
	  <td width="50%" align="right" valign="middle" class="tr_bg"><strong>Address</strong></td>
	  <td align="left" valign="top" class="tr_bg"><%= @institution.Address%></td>
	  </tr>
	
		
	<tr>
		<td width="50%" align="right" valign="middle" class="tr_bg"><strong>Email </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= @institution.Email%></td>
    	</tr>
		
	
	  
</tbody></table>
	
	
	</div>
	































 


 