<% @messages.each do |message| %>
  <% sender_user = User.find(message.sender)  %>
  
<div class="message_strip" style="background:<%= current_user.get_color_for(message.subject_id) %>"><div class="message_cb">
<input type="checkbox" class="field checkbox" name="Field3" id="Field3"><label></label></div>
<div class="author"> <a href="javscript:void(0);" class="message_link"><%= sender_user.first_name %> <%= sender_user.last_name %></a></div>
<div class="title"><a href="<%= message_path(message) %>" data-milkbox="milkbox:g1" data-milkbox-size="width:950,height:400" class="message_link"><%= message.subject %></a></div>
<div class="time"><%= message.created_at.strftime("%l:%M %P") unless message.created_at.nil? %></div></div>
<% end %>