<h1>Editing message</h1>


 <%= stylesheet_link_tag 'token-input-facebook' %>
  <%= javascript_include_tag "messages.js" %>


 <%= render "form"%>
	


  
  


<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
