<% content_for :styles do %>
 <%= stylesheet_link_tag "style1", "new_message_overlay"%>
 <%= stylesheet_link_tag "facebox" %>
 
<% end %>
<% content_for :scripts do %>
  <%= javascript_include_tag "facebox" %>
  
<% end %>

<style>
#send_overlay_inner_border {
    border: 1px solid #BFBFBF;
    border-radius: 15px 15px 15px 15px;
    height: 577px;
    left: 9px;
    top: 13px;
    
}
#facebox .content {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px 10px 10px 10px;
    display: table;
    padding: 10px;
    width: 370px;
}

#facebox .close {
    padding: 2px;
    position: absolute;
    right: 20px;
    top: 20px;
}

</style>

<div id="row2">
	
	
<div id="row2_left" class="msg_font">

 <div><div style="margin:22px 0 5px 20px ">Current Courses</div>

  <% if current_user.role?:teacher %>
    <% edu_classes = current_user.subjects %>
    <% edu_classes.each_with_index do |subject,index| %>
      <% if index== 0%>
    <div class="cc_link2 message_round_first" style="background:<%= current_user.get_color_for(subject.id) %>" id="<%= subject.id %>">
      <% elsif(index == (edu_classes.length - 1)) %>
     <div class="cc_link2 message_round_last" style="background:<%= current_user.get_color_for(subject.id) %>" id="<%= subject.id %>">
      <% else %>
    <div class="cc_link2" style="background:<%= current_user.get_color_for(subject.id) %>" id="<%= subject.id %>" >
    <% end %>
      <% if subject_message(subject.id) != 0 %><span class="redcircle"><%= subject_message(subject.id) %></span><% end %><%= link_to subject.name,subject_message_path(subject.id) ,remote: true, :class => "cclink" %></div>
    <% end %>
    
  <% elsif current_user.role? :instituteadmin %>
    <% edu_classes =Subject.find_all_by_institute_id(current_user.institute_id) %>
    <% edu_classes.each_with_index do |subject,index| %>
      <% if index== 0%>
    <div class="cc_link2 message_round_first" style="background:<%= current_user.get_color_for(subject.id) %>">
      <% elsif(index == (edu_classes.length - 1)) %>
     <div class="cc_link2 message_round_last" style="background:<%= current_user.get_color_for(subject.id) %>">
      <% else %>
    <div class="cc_link2" style="background-color: <%= current_user.get_color_for(subject.id) %>">
  <% end %>
      <% if subject_message(subject.id) != 0 %><span class="redcircle"><%= subject_message(subject.id) %></span><% end %><%= link_to subject.name,subject_message_path(subject.id) ,remote: true, :class => "cclink" %></div>
    <% end %>
  
  <% elsif current_user.role? :admin %>
    <% edu_classes = Subject.all %>
    
    <% edu_classes.each_with_index do |subject,index| %>
     <% if index== 0%>
    <div class="cc_link2 message_round_first" style="background:<%= current_user.get_color_for(subject.id) %>">
      <% elsif(index == (edu_classes.length - 1)) %>
     <div class="cc_link2 message_round_last" style="background:<%= current_user.get_color_for(subject.id) %>">
    <% else %>
    <div class="cc_link2" style="background:<%= current_user.get_color_for(subject.id) %>">
    <% end %>
      <% if subject_message(subject.id) != 0 %> <span class="redcircle"><%= subject_message(subject.id) %></span> <% end %><%= link_to subject.name,subject_message_path(subject.id) ,remote: true, :class => "cclink" %></div>
    <% end %>
    
  <% elsif current_user.role? :student %>
  
    <% edu_classes = current_user.subjects %>
    <% edu_classes.each_with_index do |subject,index| %>
    <% if index== 0%>
    <div class="cc_link2 message_round_first" style="background:<%= current_user.get_color_for(subject.id) %>">
      <% elsif(index == (edu_classes.length - 1)) %>
     <div class="cc_link2 message_round_last" style="background:<%= current_user.get_color_for(subject.id) %>">
    <% else %>
    <div class="cc_link2" style="background:<%= current_user.get_color_for(subject.id) %>">
      <% end %>
      <% if subject_message(subject.id) != 0 %><span class="redcircle"><%= subject_message(subject.id) %></span><% end %><%= link_to subject.name,subject_message_path(subject.id) ,remote: true, :class => "cclink" %></div>
    <% end %>

  <% end %>
  
 
 </div>
<div style=" margin: 50px 0 0 20px">More Messages</div>
 
<div><a class="left_button2" href="#">School Announcements</a></div> 

 




</div>
<!--tab start-->
<div id="row1_right">


<div class="message_icon_container">
		<div>
		    <%= link_to "New", new_message_path, :class=>"new_message", :remote=> true %>
		    
		</div>
		<div><a href="#" class="archive">Archive</a></div>
		
		<div class="search" style="margin:23px 0 0 0">
		<%= form_tag messages_path, :method => 'get' do %>
		
		<div style="float:left"><%= text_field_tag :search, params[:search],:class =>"searchfield_new",:placeholder => "Search..."  %></div>
		<div style="float:left"> <%= submit_tag "", :name => nil ,:class =>"search_button"%></div>
		  
		<% end %>
	</div>
		
		</div>

		<span class="clear"></span>
		<div class="content all">
		<div id="row2_right">



<% @messages.each do |message| %>
  <% sender_user = User.find(message.sender)  %>
  
<div class="message_strip" style="background:<%= current_user.get_color_for(message.subject_id) %>"><div class="message_cb">
<input type="checkbox" class="field checkbox" name="Field3" id="Field3"><label></label></div>
<div class="author"> <a href="javascript:void(0);" class="message_link"><%= sender_user.first_name %> <%= sender_user.last_name %></a></div>
<div class="title"><a href="<%= message_path(message) %>"data-remote="true"  data-milkbox="milkbox:g1" data-milkbox-size="width:950,height:400" class="message_link"><%= message.subject %></a></div>
<div class="time"><%= message.created_at.strftime("%l:%M %P") unless message.created_at.nil? %></div></div>
<% end %>


</div>
  

		</div>
		<div class="content date">


		</div>
		<div class="content type">

		</div>
	</div>
</div>
<!--tab end-->

<script type="text/javascript" src="js/tabs.js"></script>



	</div>
	
		