<script>
	jQuery("#new_message").validate({
		errorElement:'div',
		rules: {
			"message[subject]" : { required: true },
			"message[body]" : { required: true },
			"message[user_tokens]" : { required: true },
			"message[subject_id]": { required: true }
			},
			 
		messages: {
			"message[subject]":{ required:  "Please enter subject" },
	        "message[body]" : { required:  "Please enter the message" },
            "message[user_tokens]" : { required:  "Please enter the sender name" },
            "message[subject_id]" : { required:  "Please select  subject" }
         }
			

		});
</script>

<%= render 'form' %>
