<%= stylesheet_link_tag 'token-input-facebook' %>
  <%= javascript_include_tag "messages.js" %>

<div id="send_overlay_inner_border">
 <div id="inline3" style="width:950px; height:auto ; overflow:auto; text-align:left">
  <%= form_for :message, :url=>{:controller =>"/messages",:action=>"create"},:html=>{:class=>"newmessage", :multipart => true} do |f| %>
	<div class="new_message_row1">

	<div align="center" class="new_message_colum1">
	 <div id="send_photo">
	  
	  </div>
		<div style=" width:100%; float:left; margin:10px 0 10px 0;">
		  
		  <% if current_user.role?:teacher %>
		    
        <%= select("message", "subject_id", Subject.find_all_by_institute_id(current_user.institute_id).collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, :class=>"select_class") %>
        
      <% elsif current_user.role? :instituteadmin %>
        <%= select("message", "subject_id", Subject.find_all_by_institute_id(current_user.institute_id).collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, :class=>"select_class") %>
      
      <% elsif current_user.role? :admin %>
      
        <%= select("message", "subject_id", Subject.find(:all).collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, :class=>"select_class") %>
        
      <% elsif current_user.role? :student %>
       
        <%= select("message", "subject_id", Subject.find_all_by_class_id(current_user.class_id).collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, :class=>"select_class") %>
      <% end %>
      
		  
		</div>
	</div>
	
	
	<div class="new_message_colum2">
		<table width="100%" border="0" cellspacing="10" cellpadding="0">
		  <tr>
		    <td width="12%" align="left" valign="middle"><div style="color: #D0D0D0;font-family: Lucida Sans Unicode;">Subject:</div></td>
		    		    <td>
		     <%= f.text_field :subject, :class=>"large_textfield",:value=>"Re: #{@message.subject}" , :style=>"width:555px !important;border: medium none;" %>
		    </td>
		  </tr>
		  <tr>
		   <td valign="top" align="left" width="12%"><div style="color: #D0D0D0;font-family: Lucida Sans Unicode;">To:</div></td>
		    <td>
		    	
		        <%= f.text_field :user_tokens, "data-pre" => User.recipient_tokens(@message.sender).map { |user|  {:id => user.id, :name => user.fullname} }.to_json %>
		    </td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td>
		    
		    	      <table width="100%">
      		      <tr>
      		         <td valign="bottom" align="left">
      		            <div id="attach" class="attach_unchecked"></div>

              				<%= f.file_field :file_attachment, :id=>"attach_file" %>
      		         </td>

      		         <td align="right">

            		        <%= f.submit "", :class=>"send_message" %>
            		      </td>
      		         </td>
      		      </tr>
      		      </table>
		  </tr>
		</table>

	</div>

	</div>

		<div class="new_message_row2">
			<%= f.text_area :body, :value=>"#{@message_body}", :class=>"message_container" %>
			
		</div>
	 <% end %>
	</div>
	</div>
	
