	
<div class="message_box">	
    <% subject = Subject.find(@message.subject_id) %>
		<div class="pink_strip" style="background-color: <%= current_user.get_color_for(subject.id) %>">
		<a href="#"><div class="document"></div></a>
		<div class="assignment_title"><%= @message.subject %></div>
		<div class="message_time"><%= @message.created_at.strftime("%H:%M %P  %b %d, %Y ")%></div> 
</div>
<div><%= link_to "",reply_message_path ,:remote=>true ,:class=>"reply "%></div>
<div class="reply_all "></div>
<div><%= link_to "",forward_message_path ,:remote=>true,:class=>"forward " %></div>
<div class="message_wrap1">
	<% sender_user = User.find(@messages.sender)  %>
<div style="width:100%; float:left; margin:0 0 20px"><span class="message_from"><%= sender_user.first_name %>  <%= sender_user.last_name %></span></div> 
<% reciever_user = User.find(@messages.recipient)  %>
<div style="width:100%; float:left;margin:0 0 40px"><span class="message_to"><%= reciever_user.first_name %> <%= reciever_user.last_name %></span>     </div>

<div class="message1">
 <%= @message.body %>
</div>

</div>

</div>