jQuery('#row2_right').html("<%= escape_javascript(render(:partial => 'messages/subject_message')) %>");
jQuery(".cc_link2").removeClass("active_message")
jQuery("#<%= params[:id] %>").addClass("active_message");