 <% unless current_user.role?("student")%>
 <div class="assignment_new_link">
    <img src="/assets/add.png" alt="" width="24" height="24" border="0" align="absmiddle"/> 
    <%= link_to 'New', new_course_assignment_path(params[:course_id]), :remote => true %> 
</div> 
<% end %>
<div class="assignment_heading"> Assignment</div>
           <div class="points_heading">Points</div>
           <div class="due_heading">Due</div>	

<%  @assignments.each_with_index do |assignment,i| %>
<div class="pink_bg" style="background: <%= current_user.get_color_for(assignment.subject_id) %>">

<% if (current_user.role? :student ) %>
  
    <% solve = SolvedStudent.find_by_assignment_id_and_user_id(assignment.id,current_user.id)  %>
    <% unless solve.nil? %>
    
      <div class="sn"><input type="checkbox" class="field checkbox" name="Field3" id="Field3" DISABLED checked=""><label></label><%= (i+1) %>. </div>
      <div class="icondiv"></div>

		
        <div class="assignment">
        	<% if assignment.assignment_type == "reading"%>a
        	<%= link_to assignment.name, new_student_assignment_solve_pdf_assignment_path(assignment.id) ,:remote=> true%>
       		<% elsif assignment.assignment_type == "exercise"%>
        	<%= link_to assignment.name, new_student_assignment_assign_que_path(assignment.id), :remote=>true %>
     		<% end %>
       </div>
        <div class="points">10 /10</div>
       <div class="due"><%= assignment.due_date.strftime('%m / %d ' )%></div>
    
     <% else %>
     
      <div class="sn"><input type="checkbox" class="field checkbox" name="Field3" id="Field3" DISABLED><label></label><%= (i+1) %>. </div>
      <div class="icondiv"></div>

	<% if assignment.assignment_type == "reading"%>
	<div class="assignment"><%= link_to assignment.name, new_student_assignment_solve_pdf_assignment_path(assignment.id) ,:remote=>true %></div>
       		<% elsif assignment.assignment_type == "exercise"%>
        <div class="assignment"><%= link_to assignment.name, new_student_assignment_assign_que_path(assignment.id), :remote=>true %></div>
        <% end %>
        <div class="points">10 /10</div>
       <div class="due"><%= assignment.due_date.strftime('%m / %d ' )%></div>
     
     <% end %>
  


       <% else %>
<div class="sn"><input type="checkbox" class="field checkbox" name="Field3" id="Field3"><label></label><%= (i+1) %>. </div>
<div class="icondiv"></div>     
  
 <div class="assignment">
        	<% if assignment.assignment_type == "reading"%>
        	<%= link_to assignment.name, new_student_assignment_solve_pdf_assignment_path(assignment.id) ,:remote => "true"%>
       		<% elsif assignment.assignment_type == "exercise"%>
        	<%= link_to assignment.name, new_student_assignment_assign_que_path(assignment.id), :remote=>true %>
     		<% end %>
       </div>
<div class="points">10 /10</div>
<div class="due"><%= assignment.due_date.strftime('%m / %d ' )%></div>
<div class="checkbox2"><input name="" type="checkbox" value="" /></div>

<% end %>
</div>
<% end %>