<% content_for :styles do %>
 <%= stylesheet_link_tag "tab" %>
 <%= stylesheet_link_tag "subject2" %>
 <%= stylesheet_link_tag "facebox" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "facebox" %>
<% end %>

<!-- Include Mootools and FancySelect -->
	<script type='text/javascript'>
			jQuery(document).ready(function() {
				enableSelectBoxes();
			});
			
			function enableSelectBoxes(){
				jQuery('div.selectBox').each(function(){
					
					jQuery(this).attr('value',jQuery(this).children('div.selectOptions').children('span.selectOption:first').attr('value'));
					
					jQuery(this).children('span.selected,span.selectArrow').click(function(){
						if(jQuery(this).parent().children('div.selectOptions').css('display') == 'none'){
							jQuery(this).parent().children('div.selectOptions').css('display','block');
						}
						else
						{
							jQuery(this).parent().children('div.selectOptions').css('display','none');
						}
					});
					
					jQuery(this).find('span.selectOption').click(function(){
						jQuery(this).parent().css('display','none');
						jQuery(this).closest('div.selectBox').attr('value',jQuery(this).attr('value'));
						jQuery(this).parent().siblings('span.selected').html(jQuery(this).html());
					});
				});				
			}//-->
		</script>
		
<div id="row2">
	
	
 <div id="row2_left">

   <div>
  		<div style="float:left; margin:0 0 0 0px">

  			<div class='selectBox'>
  				<span class='selected'>
  				  <% sel_subject = Subject.find(params[:course_id]) %>
  				  
  				   <style type="text/css">
   					.<%= sel_subject.name %>_subject{ background: url(/assets/transperant_button.png); padding:10px; text-align:center; border-radius:5px; border:1px solid #e4bd86; width:178px; height:68px}
             .<%= sel_subject.name %>_subject:hover{ background:; border:1px solid #989898; box-shadow: 0px 0px 7px #ffc600;}
             .<%= sel_subject.name %>_subject:active{ background:; border:1px solid #989898; box-shadow: 0px 0px 7px #ffc600;}
   					</style>
  			 
  			     <a href="javascript:void(0);", data-remote="true" style="text-decoration:none; color:#6C6C6C">
              <div class="<%= sel_subject.name %>_subject">
             		<div class="subject"><%= sel_subject.name %></div>
             		<div><%= sel_subject.class_location rescue ""%></div>
             		<div><%= sel_subject.start_time.strftime("%l:%M %P") rescue ""%>-<%= sel_subject.end_time.strftime("%l:%M %P") rescue ""%></div>
             	</div>
             </a>
  				</span>
  				<div class="selectOptions">
  				 <% @subjects.each do |subject| %>
  					
  					<style type="text/css">
  					.<%= subject.name %>_subject{ background: url(/assets/transperant_button.png); padding:10px; text-align:center; border-radius:5px; border:1px solid #e4bd86; width:178px; height:68px}
            .<%= subject.name %>_subject:hover{ background:; border:1px solid #989898; box-shadow: 0px 0px 7px #ffc600;}
            .<%= subject.name %>_subject:active{ background:; border:1px solid #989898; box-shadow: 0px 0px 7px #ffc600;}
  					</style>
  					
  					<span class="selectOption" value="Option 1">
             <a href="<%= course_check_assignments_path(subject.id) %>", data-remote="true" style="text-decoration:none; color:#6C6C6C">
               <div class="<%= subject.name %>_subject">
             		  <div class="subject"><%= subject.name %></div>
             		  <div><%= subject.class_location rescue ""%></div>
             		  <div><%= subject.start_time.strftime("%l:%M %P") rescue ""%>-<%= subject.end_time.strftime("%l:%M %P") rescue ""%></div>
             	 </div>
              </a>
            </span>
  				 <% end %>
  				</div>
  			</div>

  		</div>
  	</div>
  	

    <div><a class="left_button" href="#">Syllabus</a></div> 
    <div><%= link_to "Assignment", {:controller=>"course_classes", :action=>"index", :course_id=>"#{params[:course_id]}"}, :class=>"left_button_selected" %></div> 
    <div class="forum_link"><%= link_to 'Forum',forem.forum_path(sel_subject.forum.id), :remote => true, class: "left_button" %></div> 
	<div class="resources_link"><%= link_to 'Resources', {:controller=>"videos", :action=>"index", :course_id=>"#{params[:course_id]}"}, :remote => true, class: "left_button" %></div> 

    <div style="width:300px; height:auto; float:left; padding:100px 0 0 20px">Grades</div>
    <div><a class="left_button" href="#">Grade History</a></div>


  </div>
<!--tab start-->
<div id="row1_right">

<div id="container">
		
		
		<div class="tabdiv">
		
		  <% if params[:sort].nil? %>
		  <%= link_to "", {:controller=>"course_classes", :action=>"index", :course_id=>"#{sel_subject.id}", :class_id=>"#{params[:class_id]}"}, :class=>"tab_all_selected" %>
		  <% else %>
		  <%= link_to "", {:controller=>"course_classes", :action=>"index", :course_id=>"#{sel_subject.id}", :class_id=>"#{params[:class_id]}"}, :class=>"tab_all" %>
		  <% end %>
		  <% if params[:sort] == "due_date" %>
		    <%= sortable "assignment_type", "", "tab_date_selected" %>
		  <% else %> 
		    <%= sortable "due_date", "", "tab_date" %>
		  <% end %>
		  
		  <% if params[:sort] == "assignment_type" %>
		    <%= sortable "assignment_type", "", "type_tab_selected" %>
		  <% else %> 
		    <%= sortable "assignment_type", "", "type_tab" %>
		  <% end %> 
		</div>
		
    <div class="search" style="width:240px !important; top: 38px !important; position: relative !important;">
			<%= form_tag course_course_classes_path, :method => 'get' do %>
 			 <%= text_field_tag :search, params[:search],:class=>"searchfield", :placeholder => "Search.." %>
			<%# hidden_field_tag :class_id, "#{sel_subject.class_id}" %>
 			 <div style="width:32px; float:right; position:relative;top: -32px;
left: -39px;"><%= submit_tag "", :name => nil, :class=>"search_courses" %></div>
	
	    <% end %>
	    
    </div>
    
    
    		
  </div>
  
		<span class="clear"></span>
		<div class="content all">
		<div id="row2_right" class="assignments_container">
      

        <div id="box_bg" class="scrollable_list assignment_list" >
        	
            <%= render "assignments" %>
        </div>
      
    </div>
    

    </div>
		</div>
	</div>
</div>
<!--tab end-->

<script type="text/javascript" src="js/tabs.js"></script>



	</div>
	