<% content_for :styles do %>
 <%= stylesheet_link_tag "tab" %>
 <%= stylesheet_link_tag "facebox" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "facebox" %>
<% end %>

<!-- Include Mootools and FancySelect -->
	<script type='text/javascript'>
			jQuery(document).ready(function() {
				enableSelectBoxes();
			});
			
			function enableSelectBoxes(){
				jQuery('div.selectBox').each(function(){
					
					jQuery(this).attr('value',jQuery(this).children('div.selectOptions').children('span.selectOption:first').attr('value'));
					
					jQuery(this).children('span.selected,span.selectArrow').click(function(){
						if(jQuery(this).parent().children('div.selectOptions').css('display') == 'none'){
							jQuery(this).parent().children('div.selectOptions').css('display','block');
						}
						else
						{
							jQuery(this).parent().children('div.selectOptions').css('display','none');
						}
					});
					
					jQuery(this).find('span.selectOption').click(function(){
						jQuery(this).parent().css('display','none');
						jQuery(this).closest('div.selectBox').attr('value',jQuery(this).attr('value'));
						jQuery(this).parent().siblings('span.selected').html(jQuery(this).html());
					});
				});				
			}//-->
		</script>
		
<div id="row2">
	
	
 <div id="row2_left">

   <div>
  		<div style="float:left; margin:0 0 0 0px">

  			<div class='selectBox'>
  				<span class='selected'>
  				  <% sel_subject = Subject.find(params[:course_id]) %>
  				  <a href="javascript:void(0);" data-remote="true">
              <img style="float:left; background:url('/assets/avatar.png') no-repeat scroll center 13px <%= current_user.get_color_for(sel_subject.id) %>;" src="/assets/avatar.png" class="english_attendance">
              
              <span style="float:left; padding:35px 0 0 10px"><%= sel_subject.name %></span>
            </a>
  				</span>
  				<div class="selectOptions" >
  				 <% @subjects.each do |subject| %>
  					<span class="selectOption" value="Option 1">
  					<a href="<%= course_check_assignments_path(subject.id) %>", data-remote="true">
  					<img style="float:left; background:url('/assets/avatar.png') no-repeat scroll center 13px <%= current_user.get_color_for(subject.id) %>;" src="/assets/avatar.png" class="english_attendance">
  					<span style="float:left; padding:35px 0 0 10px"><%= subject.name %></span>
  					</a>
  					</span>
  				 <% end %>
  				</div>
  			</div>

  		</div>
  	</div>
  	

    <div><a class="left_button" href="#">Syllabus</a></div> 
    <div><a class="left_button" href="#">Assignment</a></div> 
    <div><a class="left_button" href="#">Contacts</a></div> 

    <div style="width:300px; height:auto; float:left; padding:150px 0 0 20px">Grades</div>
    <div><a class="left_button" href="#">Grade History</a></div>


  </div>
<!--tab start-->
<div id="row1_right">

<div id="container">
		<ul class="menu">
			<li id="all" style="border-radius: 10px 0 0 10px;"><%= link_to "All", {:controller=>"course_classes", :action=>"index", :course_id=>"#{sel_subject.id}", :class_id=>"#{sel_subject.class_id}"} %></li>
			<li id="date" style="border-radius:0px;"><%= sortable "due_date", "Date" %></li>
			<li id="type" style="border-radius: 0 10px 10px 0;"><%= sortable "assignment_type", "Type" %></li>
		</ul>
		
    <div class="search" style="width:240px !important;">
			<%= form_tag course_course_classes_path, :method => 'get' do %>
 			 <%= text_field_tag :search, params[:search],:class=>"searchfield" %>
			<%= hidden_field_tag :class_id, "#{sel_subject.class_id}" %>
			 <div style="width:32px; float:right; position:relative;top:-35px"><%= submit_tag "", :name => nil, :class=>"search_courses" %></div>
	
	    <% end %>
	    
    </div>
    
    
    		
  </div>
  
		<span class="clear"></span>
		<div class="content all">
		<div id="row2_right">
      <div id="topcurve"></div>

        <div id="box_bg">
        	
            <%= render "assignments" %>
        </div>
    </div>
    <div id="bottom_curve"></div>

    </div>
		</div>
	</div>
</div>
<!--tab end-->

<script type="text/javascript" src="js/tabs.js"></script>



	</div>
	
