<div class="signin_title">Sign In</div>
<div id="loginbox_wraper">

 <div class="loginbox" style="font-size:14px">
 	 
 	 <%= form_for(:session, :url => sessions_path) do |f| %>
		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right" valign="top" class="login_row"><%= link_to "New Account", signup_path, :class=>"fp" %></td>
  </tr>
  <td><% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
    <% end %></td>
  <tr>
    <td align="left" valign="top" class="login_row">Username: <span class="star">*</span></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="login_row"><%= f.text_field :username,  :class => "textfield"%></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="login_row">Password: <span class="star">*</span></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="login_row"><%= f.password_field :password,  :class => "textfield" %></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="login_row">
	<div style="float:left; width:48%"> 
	<%= check_box_tag :remember_me, 1, params[:remember_me], :class => "fp" %>
	

	  Remember me?</div>
	<div style="float:right; width:48%; text-align:right; padding-top:3px"><%= link_to "Forgot Password?", new_password_reset_path, :class => "fp"%></div></td>
  </tr>
  <tr>
    <td align="center" valign="top" class="login_row"><%= f.submit "ENTER",  :class=>"login_enter" %></td>
  </tr>
</table>
 <% end %>

        </div>
</div>
