


        

<div class="signin_title">Forgot password?</div>
<div id="loginbox_wraper">

 <div class="loginbox" style="font-size:14px">
 	 
 	 <%= form_tag password_resets_path, :method => :post, :id=>"password_reset" do %>
		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
 
  <td><% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
    <% end %></td>
  <tr>
    <td align="left" valign="top" class="login_row">Email id <span class="star">*</span></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="login_row">  <%= text_field_tag :email, params[:email], :class=>"textfield" %></td>
  </tr>
  
  
  <tr>
    <td align="center" valign="top" class="login_row"><%= submit_tag "Reset Password", :class=>"login_enter" %></td>
  </tr>
</table>
 <% end %>

        </div>
</div>