<div id="posts_id_<%= post.id%>">
<a name='post-<%= post.id %>'></a>
<div id='post_<%= post_counter + 1 %>' class='post <%= cycle('odd', 'even') -%>'>

  <div class='user'>
    <div class='username'>
      <%=post.user.fullname %> :
    </div>
    <div class="time_updated">
      <time datetime="<%= post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(post.created_at)} #{t("ago")}" %></time>
    </div>
  </div>

  <div class='contents'>
    	
    
    <%= forem_format(post.text) %>

    <% if post.reply_to %>
      <span class='in_reply_to'>
        <%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user.fullname}", "#post-#{post.reply_to.id}" %>
      </span>
    <% end %>

    <ul class='actions'>
      <% if forem_user %>
        <% if post.user == forem_user || forem_user.teacher?%>
          <li><%= link_to t('delete', :scope => 'forem.topic'), forem.topic_post_path(post.topic, post), :method => :delete, :confirm => t("are_you_sure"), remote: true %></li>
        <% end %>
            <li><%= link_to t('reply', :scope => 'forem.topic'), forem.new_topic_post_path(post.topic, :reply_to_id => post.id), remote: true %></li>
        
      <% end %>
    </ul>
  </div>
</div>
</div>