<a name='post-<%= post.id %>'></a>
<div id='post_<%= post.id %>' class='reply_to_post post <%= cycle('odd', 'even') -%>'>

  <div class='user'>
    <div class='username'>
      <%=  post.user.fullname %>
    </div>
  </div>
  <div class='contents'>
    <a href='#post-<%= post.id %>'>
      <time datetime="<%= post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(post.created_at)} #{t("ago")}" %></time>
    </a>
    <%= forem_format(post.text) %>
  </div>
</div>