
 <tr>
 	
 <td align="left" valign="top" class="tr_bg"><h4>Questions<h4><%= q.question %><br>
 	
 	<% if q.type_of_question == 0 %>
         <% Objquestion.find_all_by_question_id(q.id).each do |c| %>
         <%= f.radio_button  "correct_answer[]", "#{c.id}" %><%= c.que %><br><br>
   <% end %>
   <% elsif q.type_of_question == 1 %>
         <%= f.text_area :description_answer,:size =>15 %>
    <% end %>
 
 <h4>Subquestions<h4>
        <% SubQuestion.find_all_by_question_id(q.id).each do |p| %>
        <%= p.subquestion %><br>
    <% if p.type_of_question == 0 %>
            <% Subobjquestion.find_all_by_sub_question_id(p.id).each do |q| %>
     
     <%= radio_button_tag  "correct_answer", "" %><%= q.que %><br><br>
   
  <% end %>
    <% elsif p.type_of_question == 1 %>
               <%= f.text_area :description_answer,:size =>15 %>
              
    <% end %>
  <% end %>
  
 </tr>

