<div class="mc_heading" style="color:#000000">
	<% std_assignment = Assignment.find(params[:student_assignment_id])%>
    <%= std_assignment.name %>
	
	</div>

	<div id="wraper_ques">
	  
	 <%= form_for :assignment, :url=>{:action=>"create", :controller=>"assign_ques", :student_assignment_id=>"#{params[:student_assignment_id]}"} do |s| %>
		<% @ques.each_with_index  do |q,i| %>
		<%= fields_for "student_assignment[]", q do |f| %>
		
		<div class="lq"><%= (i+1) %>. <%= q.question %>
		
		<%= f.hidden_field :question_id, :value => q.id %>
		
			<% if q.type_of_question == 0 %>
			<div class="la">
		 
				<ul class="answer">
					<% Objquestion.find_all_by_question_id(q.id).each do |c| %>
					<li> <%= f.radio_button  :option_answer, "#{c.id}", :checked =>true %><%= c.que %></li><br>
					<% end %>
				</ul> 
	    	</div>
	    	<% elsif q.type_of_question == 1 %>
               
              <div class="la">
		 		<ul class="answer"> 
               		<li> <%= f.text_area :explaination,:cols =>68, :rows=>5,:class=>"textfield_large" %><li>
               </ul> 
             </div>
            <% end %>
            <%= f.hidden_field :assignment_id, :value => params[:student_assignment_id] %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
		
		
		
		      <% shown_title = false %>

		
			
			 

		
		
		
		
		</div>
		
		<% end %>
          
        <% end %>
          <% if(current_user.role? :student )  %>
          <%= submit_tag "Save" ,:class=>"greenbutton" %>
          <% end %>
      
      
          <%= s.hidden_field :assignment_id, :value => params[:student_assignment_id] %>
              <%= s.hidden_field :user_id, :value => current_user.id %>
		
		<% end %>
      </div>

