<% content_for :styles do %>
<%= stylesheet_link_tag "facebox" %>
<% end %>
<% content_for :scripts do %>
  <%= javascript_include_tag "facebox", "fullcalendar", "calenders" %>
<% end %>

<script>
function active_month()
{
      jQuery(".fc-button-month .fc-button-inner").addClass("activetab"); 
}

jQuery(document).ready(function() { 
	
jQuery(".fc-button-colors").click(function() {
			jQuery(this).toggleClass("active-colors");
  				jQuery(".colors-div").fadeToggle("slow", "linear");
		});
		
	jQuery(".colors-div ul li").click(function() {
		jQuery(this).toggleClass("active");
	});



	jQuery(".fc-button .fc-button-inner").click(function() {
		jQuery(".fc-button .fc-button-inner").removeClass("activetab")
		jQuery(this).addClass("activetab");
	});

   
   active_month();
   
	});
	
	
	
	

jQuery(document).ready(function() { 
jQuery("#school_selector").change(function(){ 

    filter_id = jQuery(this).val();
     if (filter_id == 'all') {

        jQuery('#calendar').fullCalendar ('removeEvents');
        var start_source1 = {
                type:'get',
                data: {subject_id:'all',filter:'false'},
                url: '/events',
                backgroundColor: 'red'
        };
      	 var start_source2 = {
                type:'get',
                data: {subject_id:'all',filter:'false'},
                url: '/calender_asses',
                backgroundColor: 'red'
        };
      
        jQuery('#calendar').fullCalendar('addEventSource', start_source1);
    	jQuery('#calendar').fullCalendar('addEventSource', start_source2);
   
    }else{

        jQuery('#calendar').fullCalendar ('removeEvents');
        var start_source1 = {
                type:'get',
                data: {subject_id:jQuery("#school_selector").val(),filter:'true'},
                url: '/calender_asses/filter',
                backgroundColor: 'red'
        };
        jQuery('#calendar').fullCalendar('addEventSource', start_source1);

    }
});	

});


</script>
  
<div  style="margin: 0pt 20px 5px 0pt;">

<%= link_to "", new_event_path, :remote=>true, :class=>"add" %>
</div>
<div id='calendar' style="float: left;width: 100%;">
	<div class="colors-div">

<select id='school_selector'>
      <option value='all'>All</option>
      <% if current_user.role?:teacher %>
	    	<% edu_classes = Subject.find_all_by_institute_id(current_user.institute_id) %>
	   		 <% edu_classes.each do |subject| %>
	         <option value='<%= subject.id %>'><%= subject.name %></option>
	         <% end %>
       <% elsif current_user.role? :instituteadmin %>
	        <% edu_classes = Subject.find_all_by_institute_id(current_user.institute_id) %>
	   		 <% edu_classes.each do |subject| %>
	         <option value='<%= subject.id %>'><%= subject.name %></option>
	        <% end %>
       <% elsif current_user.role? :admin %>
    		<% edu_classes = Subject.find(:all) %>
       		 <% edu_classes.each do |subject| %>
   		          <option value='<%= subject.id %>'><%= subject.name %></option>
			<% end %>
	   <% elsif current_user.role? :student %>
	    	<% edu_classes = current_user.subjects %>
	    	<% edu_classes.each do |subject| %>
	   	          <option value='<%= subject.id %>'><%= subject.name %></option>
	      	<% end %>
	  <% end %>
</select>

</div>
</div>
</div>
