   
		
<div class="mc_heading">
	 Assignments
	
	</div>
	


<div class="row4">

<% @assignments.each do |assignment| %>
   <table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
   
    <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Assignment Name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= assignment.name rescue ""%>
    	</td>
    	</tr>
	 <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Assignment Type </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	<%= assignment.assignment_type rescue ""%>
    	</td>
    	</tr>	
    
 

  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Due Dates</strong></td>
   <td align="left" valign="top" class="tr_bg">
    <%= assignment.due_date rescue ""%>
</td>
 
  
   <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Subject </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= Subject.find_by_id(assignment.subject_id).name rescue ""%>
    	</td>
    	</tr>	
 
  
  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Unit </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= Unit.find_by_id(assignment.unit_id).name rescue ""%>
    	</td>
    	</tr>	
    	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Chapters </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= Chapter.find_by_id(assignment.chapter_id).name rescue ""%>
    	</td>
    	</tr>	
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Topics</strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	  <%= Topic.find_by_id(assignment.topic_id).name rescue ""%> 
    	</td>
    	</tr>	
   <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>SubTopics</strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	  <%= SubTopic.find_by_id(assignment.sub_topic_id).name rescue ""%> 
    	</td>
    	</tr>	
   
	<% end %>
</div>
  
		
		