
<% @student_infos.each do |student| %>
<script type="text/javascript">
  function changeClass(x)
  {

  	     var sel = document.getElementById("sel_student").value;
		if(sel !="")
		{
			var selDiv = document.getElementById(sel);
			selDiv.setAttribute("style", "");
			
		}
		
		document.getElementById(x).setAttribute("style", "width:267px; height:auto; float:left; background:url(/assets/right_arrow_selected.png) no-repeat ;color:#000; text-decoration:none; font-size:16px; padding:5px 0 5px 10px; margin:0px 0 0px 0; border-bottom:1px solid #cecece;");
		
		document.getElementById("sel_student").value = x;
  	    
  }
</script>
	<a  href='<%= student_course_student_info_path("#{params[:course_id]}", "#{student.id}")%>' class="student_info_link left_button3" data-remote="true"  onclick="changeClass(<%= student.id%>);" id="<%= student.id %>">
		<div class="">
			<div class="alwrap">
				<div class="a">A</div>
				<div class="l">L</div>
			</div>
		<div style="float:left; padding:5px 0 0 0"><%= student.first_name %> <%= student.last_name %></div>
		</div>
	</a>
	<input id="sel_student" type="hidden" value="" name="sel_student">
<% end %>