<% unless @student_profile.nil? %>
<script>
jQuery(document).ready(function(){
	jQuery(".menu > li").click(function(e){
		switch(e.target.id){
			case "all":
				//change status & style menu
				jQuery("#all").addClass("active");
				jQuery("#date").removeClass("active");
				jQuery("#type").removeClass("active");
				jQuery("#four").removeClass("active");
				//display selected division, hide others
				jQuery("div.all").fadeIn();
				jQuery("div.date").css("display", "none");
				jQuery("div.type").css("display", "none");
				jQuery("div.four").css("display", "none");
			break;
			case "date":
				//change status & style menu
				jQuery("#all").removeClass("active");
				jQuery("#date").addClass("active");
				jQuery("#type").removeClass("active");
				jQuery("#four").removeClass("active");
				//display selected division, hide others
				jQuery("div.date").fadeIn();
				jQuery("div.all").css("display", "none");
				jQuery("div.type").css("display", "none");
				jQuery("div.four").css("display", "none");
				
				break;
			case "four":
				//change status & style menu
				jQuery("#all").removeClass("active");
				jQuery("#date").removeClass("active");
				jQuery("#type").removeClass("active");
				jQuery("#four").addClass("active");
				//display selected division, hide others
				jQuery("div.four").fadeIn();
				jQuery("div.all").css("display", "none");
				jQuery("div.type").css("display", "none");
				jQuery("div.date").css("display", "none");
			break;
			case "type":
				//change status & style menu
				jQuery("#all").removeClass("active");
				jQuery("#date").removeClass("active");
				jQuery("#type").addClass("active");
				jQuery("#four").removeClass("active");
				//display selected division, hide others
				jQuery("div.type").fadeIn();
				jQuery("div.all").css("display", "none");
				jQuery("div.date").css("display", "none");
				jQuery("div.four").css("display", "none");
			break;
		}
		//alert(e.target.id);
		return false;
	});
});
</script>
<div id="container">

<div class="profile_photo">
    <% if @student_profile.photo.url(:small) == "/photos/small/missing.png" %> 
  					<img src="/assets/profile_photo.jpg">
  	<% else %>
      <%= image_tag @student_profile.photo.url(:small)%>
    <% end %>

</div>

<div class="profile_name"><%= @student_profile.first_name %> <%= @student_profile.last_name %><br />
  <span class="profile_grade"><%= Subject.find(params[:course_id]).name %> Grade</span>
  
  <div> <ul class="menu">
			<li id="all" class="active">Gradebook</li>
			<li id="date">Discipline</li>
			<li id="type">Contacts</li>
			<li id="four">Report Card</li>
		</ul></div>
  </div>
		
		
		<div class="divider"></div>
		
		</div>

		<span class="clear"></span>
		<div class="content all">
		



	
	
	
		<div class="gradebook_row1">

		<div class="colum" style="width: 370px;">
			<div class="colum_row1"> 
				<div style="float:left"><h1><%= @subject.name %></h1><div class="graytext"> <% sel_class = @subject %> <%= sel_class.subject_location rescue ""%><br/><%= sel_class.start_time.strftime("%l:%M %P") rescue ""%>-<%= sel_class.end_time.strftime("%l:%M %P") rescue ""%></div></div>
				
				  <div id="gr">
				   <%= render "student_infos/grade" %>
				  </div>
				
			</div>
		</div>
		<div class="marksheading">Score / Max </div>
		<div class="dateheading">Date</div>

		</div>

		<% @assignments.each do |assignment| %>
		<div class="gradebook_row2">

			<div>
				<% solve = SolvedStudent.find_by_assignment_id_and_user_id(assignment.id,@student_profile.id)  %>
	  			<% unless solve.nil? %> 
				<div class="checkbox_wrap2">
					<input type="checkbox" class="field checkbox" name="Field3" id="Field3" DISABLED checked=""><label></label>
				</div> 
				
				
				 <%= link_to(raw("<span class='buttontext2'> #{assignment.name} </span>"), {:controller=>"student_infos", :action=>"check_assignment", :id=>"#{@student_profile.id}", :assignment_id=>"#{assignment.id}" },{ :class => 'pink', :remote=>true, :style=>"background:#{current_user.get_color_for(@subject.id)}"})  %>
         
				
				<% else %>
				<div class="checkbox_wrap2">
					<input type="checkbox" class="field checkbox" name="Field3" id="Field3"><label></label>
				</div> 
				 <a class="pink" href="javascript:void(0);" style="background:<%= current_user.get_color_for(@subject.id) %>"><span class="buttontext2"> <%= assignment.name %> </span> </a>
			   <% end %>
			</div>
			
			<div class="marksdiv"><% sta = StudentAssignment.find_all_by_user_id_and_result_and_assignment_id(params[:id],'1',assignment.id).length %>
				<% if sta != 0 %>
				
				<%= sta %>/<%= assignment.questions_count %>
				<%else%>
				------
				<% end %>
				</div>
			<div class="datediv"><%= assignment.due_date.strftime('%m / %d ' )%></div>
	
		</div>

		<% end %>


	
		</div>
		<div class="content date">
<div id="row2_right">
<table width="100%" border="0" cellspacing="0" cellpadding="5" style="font-size:12px; line-height:25px">
  
	    <tr>
      <td align="right" valign="middle">Type :</td>
      <td align="left" valign="middle"><label>
        <select name="select" class="textfield" style="width:150px">
          <option>Behavior </option>
          <option>Cheating/Plagiarism</option>
          <option>Disruptive</option>
        </select>
        </label></td>
    </tr>
	
	
	<tr>
      <td align="right" valign="middle">Demerits::</td>
      <td align="left" valign="middle"><label>
        <select name="select" class="textfield" style="width:150px">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        </label></td>
    </tr>
	
	<tr>
      <td align="right" valign="middle">Action :</td>
      <td align="left" valign="middle"><label>
        <select name="select" class="textfield" style="width:150px">
          <option>Student Report</option>
          <option>Detention</option>
          <option>Forward to Principle</option>
        </select>
        </label></td>
    </tr>
	
	

      <td align="right" valign="middle">Comments :</td>
      <td align="left" valign="middle"><textarea name="textarea" class="textfield"></textarea></td>
    </tr>
	<tr>
      <td align="right" valign="middle">&nbsp;</td>
      <td align="left" valign="middle"><a href="#">
        <input type="submit" name="Submit" value="Submit Report" class="greenbutton" />
      </a></td>
    </tr>
</table>

  </div>
		</div>
		<div class="content type">
		
		<table width="100%" border="0" cellspacing="10" cellpadding="0" style="font-size:18px">
  <tr>
    <td colspan="2"> Father: Paul Jobs<br />
      2101 Waverley Street Palo Alto, CA 94301<br />
      February 24<br />
      sjobs@apple.com</td>
    </tr>
  <tr>
    <td>Home Phone:<br />
      Day (Work) Phone:<br />
      Cell / Pager:<br />
      Email:<br />
      Address:</td>
    <td align="left" valign="top">Mother: Clara Jobs<br />
      Home Phone:<br />
      Day (Work) Phone:<br />
      Cell / Pager:<br />
      Email:<br />
      Address:</td>
  </tr>
  
    <tr>
    <td align="left" valign="top">Siblings: Patti Jobs (9th Grade) <br />
      Medical Conditions: <br /></td>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>

		
		</div>
		
		
		<div class="content four">
		
		<table width="100%" border="0" cellspacing="5" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="middle" style="font-size:18px">(Feature Coming Soon)</td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>


		
		</div>

  <% end %>
