<% if request.post? %>

	jQuery('').prependTo('#box_bg')
	  .hide()
	  .fadeIn()
  jQuery(document).trigger('close.facebox')
<% else %>
jQuery.facebox('<%= escape_javascript(render :template => 'student_infos/check_assignment.html') %>');
jQuery('#facebox form').data('remote','true');

<% end %>
