 <% content_for :styles do %>
   <%= stylesheet_link_tag "tab2" %>
   <%= stylesheet_link_tag "subject" %>
   <%= stylesheet_link_tag "facebox" %>
 <% end %>

 <% content_for :scripts do %>
   <%= javascript_include_tag "facebox" %>
 <% end %>


<!-- Include Mootools and FancySelect -->
	<script type='text/javascript'>
			jQuery(document).ready(function() {
				enableSelectBoxes();
			});
			
			function enableSelectBoxes(){
				jQuery('div.selectBox').each(function(){
					
					jQuery(this).attr('value',jQuery(this).children('div.selectOptions').children('span.selectOption:first').attr('value'));
					
					jQuery(this).children('span.selected,span.selectArrow').click(function(){
						if(jQuery(this).parent().children('div.selectOptions').css('display') == 'none'){
							jQuery(this).parent().children('div.selectOptions').css('display','block');
						}
						else
						{
							jQuery(this).parent().children('div.selectOptions').css('display','none');
						}
					});
					
					jQuery(this).find('span.selectOption').click(function(){
						jQuery(this).parent().css('display','none');
						jQuery(this).closest('div.selectBox').attr('value',jQuery(this).attr('value'));
						jQuery(this).parent().siblings('span.selected').html(jQuery(this).html());
					});
				});				
			}//-->
		</script>
	
<div id="row2">
	
	
<div id="row2_left">

	<div>
  		<div style="float:left; margin:0 0 0 0px">

  			<div class='selectBox'>
  				<span class='selected'>
  				
  				<% sel_subject = Subject.find(params[:course_id]) %>
  				 <a href="javascript:void(0);" data-remote="true">
 					 <img style="float:left; background:url('/assets/avatar.png') no-repeat scroll center 13px <%= current_user.get_color_for(sel_subject.id) %>;" src="/assets/avatar.png" class="english_attendance">
           <span style="float:left; padding:35px 0 0 10px"><%= sel_subject.name %></span>
 					</a>
 				
  				</span>
  				<div class="selectOptions" >
  					<% @subjects.each do |subject| %>
    					<span class="selectOption" value="Option 1">
    					<a href="<%= check_student_course_student_infos_path(subject.id) %>" data-remote="true">
    					<img style="float:left; background:url('/assets/avatar.png') no-repeat scroll center 13px <%= current_user.get_color_for(subject.id) %>;" src="/assets/avatar.png" class="english_attendance">
    					<span style="float:left; padding:35px 0 0 10px"><%= subject.name %></span>
    					</a>
    					</span>
    				 <% end %>
  				</div>
  			</div>

  		</div>
  		
			
			<%= link_to "", course_new_student_info_path(params[:course_id]) , :class=>"add1", :remote=>true %>
		
  	</div>
    <div class="left_button_curve_bg_wrap">

    <div class="left_button_curve_bg" id="assign_stud">
     
      <%= render "assignmentstud" %>

   </div>
  </div>
   </div>
 </div>
  <div id="student_info_right_wrap">

  <div id="student_info_right">

		<%= render "student" %>
	
	</div>
</div>
