<% content_for :styles do %>
 <%= stylesheet_link_tag "tab2" %>
<% end %>



	
<div id="row2">
	
	

 </div>

  <div id="student_info_right">

    
		<div id="container">

    <div class="profile_photo"><img src="/assets/profile_photo.jpg" alt="" /></div>

    <div class="profile_name"><%= @student_infos.first_name %> <%= @student_infos.last_name %><br />
      <span class="profile_grade">12th Grade</span>

      <div> <ul class="menu">
    			<li id="all" class="active">Gradebook</li>
    			<li id="date">Discipline</li>
    			<li id="type">Contacts</li>
    			<li id="four">Report Card</li>
    		</ul></div>
      </div>


    		<div class="divider"></div>

    		</div>

    		<span class="clear"></span>
    		<div class="content all">



    <div class="colum1">
    	<div class="colum_row1"> <div style="float:left"><h1>English</h1><div class="graytext">107 Smith Hall<br/>MWF 1:45-2:30</div></div>
    	<div class="grade_box"><span class="grade_text">A</span>
    	<div>Class Avg: B</div>
    	</div>
    	</div>
      
       <% @assignments.each do |assignment| %>
    	  <div> 
    	  <% solve = SolvedStudent.find_by_assignment_id_and_user_id(assignment.id,current_user.id)  %>
    	  <% unless solve.nil? %>
    	    <div class="checkbox_wrap">
      	     <input type="checkbox" class="field checkbox" name="Field3" id="Field3" DISABLED checked=""><label></label>
      	  </div> 

      	    <a class="pink" href="javascript:void(0);"><span class="buttontext2"> <%= assignment.name %> </span> </a>
    	  <% else %>
    	  <div class="checkbox_wrap">
    	     <input type="checkbox" class="field checkbox" name="Field3" id="Field3" DISABLED><label></label>
    	  </div> 
    	    
    	    <a class="pink" href="<%= new_student_assignment_assign_que_path(assignment.id) %>"><span class="buttontext2"> <%= assignment.name %> </span> </a>
    	  <% end %>
    	  
    	  </div>
    	 <% end %>


    	</div>



    	<div class="colum1" style="padding-top:17px">
    	<table width="100%" border="0" cellspacing="0" cellpadding="15">
      <tr>
        <td align="right" valign="top" class="tdborder">Score / Max  </td>
        <td align="left" valign="top" class="tdborder">Date</td>
      </tr>
      <tr>
        <td align="right" valign="top" class="tdscore">10 / 10 </td>
        <td align="left" valign="top" class="tdscore">07/30</td>
      </tr>
      <tr>
        <td align="right" valign="top" class="tdscore">10 / 10 </td>
        <td align="left" valign="top" class="tdscore">07/30</td>
      </tr>
      <tr>
        <td align="right" valign="top" class="tdscore">10 / 10 </td>
        <td align="left" valign="top" class="tdscore">07/30</td>
      </tr>
      <tr>
        <td align="right" valign="top" class="tdscore">10 / 10 </td>
        <td align="left" valign="top" class="tdscore">07/30</td>
      </tr>

      <tr>
        <td align="right" valign="top" class="tdscore">10 / 10 </td>
        <td align="left" valign="top" class="tdscore">07/30</td>
      </tr>
      <tr>
        <td align="right" valign="top" class="tdscore">10 / 10 </td>
        <td align="left" valign="top" class="tdscore">07/30</td>
      </tr>

      <tr>
        <td align="right" valign="top" class="tdscore">10 / 10 </td>
        <td align="left" valign="top" class="tdscore">07/30</td>
      </tr>
    </table>

    	</div>


    		</div>
    		<div class="content date">
    <div id="row2_right">
    <table width="100%" border="0" cellspacing="0" cellpadding="5" style="font-size:12px; line-height:25px">

    	    <tr>
          <td align="right" valign="middle">Type :</td>
          <td align="left" valign="middle"><label>
            <select name="select" class="textfield" style="width:150px">
              <option>Behavior </option>
              <option>Cheating/Plagiarism</option>
              <option>Disruptive</option>
            </select>
            </label></td>
        </tr>


    	<tr>
          <td align="right" valign="middle">Demerits::</td>
          <td align="left" valign="middle"><label>
            <select name="select" class="textfield" style="width:150px">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            </label></td>
        </tr>

    	<tr>
          <td align="right" valign="middle">Action :</td>
          <td align="left" valign="middle"><label>
            <select name="select" class="textfield" style="width:150px">
              <option>Student Report</option>
              <option>Detention</option>
              <option>Forward to Principle</option>
            </select>
            </label></td>
        </tr>



          <td align="right" valign="middle">Comments :</td>
          <td align="left" valign="middle"><textarea name="textarea" class="textfield"></textarea></td>
        </tr>
    	<tr>
          <td align="right" valign="middle">&nbsp;</td>
          <td align="left" valign="middle"><a href="#">
            <input type="submit" name="Submit" value="Submit Report" class="greenbutton" />
          </a></td>
        </tr>
    </table>

      </div>
    		</div>
    		<div class="content type">

    		<table width="100%" border="0" cellspacing="10" cellpadding="0" style="font-size:18px">
      <tr>
        <td colspan="2"> Father: Paul Jobs<br />
          2101 Waverley Street Palo Alto, CA 94301<br />
          February 24<br />
          sjobs@apple.com</td>
        </tr>
      <tr>
        <td>Home Phone:<br />
          Day (Work) Phone:<br />
          Cell / Pager:<br />
          Email:<br />
          Address:</td>
        <td align="left" valign="top">Mother: Clara Jobs<br />
          Home Phone:<br />
          Day (Work) Phone:<br />
          Cell / Pager:<br />
          Email:<br />
          Address:</td>
      </tr>

        <tr>
        <td align="left" valign="top">Siblings: Patti Jobs (9th Grade) <br />
          Medical Conditions: <br /></td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
    </table>


    		</div>


    		<div class="content four">

    		<table width="100%" border="0" cellspacing="5" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="middle" style="font-size:18px">(Feature Coming Soon)</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>



    		</div>
	
	</div>

