
<tr id='<%= dom_id(assignment)%>'>
  <td align="left" valign="top" class="tr_bg" width="29%"><%= assignment.name %></td>
<td align="left" valign="top" class="tr_bg" width="13%"><%= assignment.assignment_type %></td>
  <td align="left" valign="top" class="tr_bg" width="14%"><%= assignment.due_date.strftime("%d %b %Y - %l:%M %P") %>	</td>
<td align="left" valign="top" class="tr_bg" width="11%"> <%= assignment.max_point %>	</td>
  
<td align="center" valign="middle" class="tr_bg" width="35%">
	<% if assignment.assignment_type == "exercise"%>
	<%= link_to 'Add Questions', course_assignment_questions_path(assignment.subject_id, assignment.id),:class =>"td_link" %> | 
	<% end %>
	 
<%= link_to 'Students', course_assignment_student_path(assignment.subject_id, assignment.id),:class =>"td_link" %>|    
<a href="/edu_classes/<%= assignment.class_id %>/assignments/<%= assignment.id %>/delete "class ="td_link"  onclick="if(confirm('Are you sure you want to delete this assignment?'))  return true;  else  return false;" class = "icon-3 info-tooltip" >Delete</a>

 </td>
</tr>

