<%= select("assignment", "topic_id", @topic.map { |s| [s.name, s.id] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"assignments", :action => "check_subtopic"}, :with => "'topic_id='+value")}"}) %>