<%= select("assignment", "chapter_id", @chapter.map { |s| [s.name, s.id] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"assignments", :action => "check_topic"}, :with => "'chapter_id='+value")}"}) %>