<label>Due: </label>
<%= date_select("assignment", "due_date", :order => [:month, :day], :use_short_month=>true) %> —
<%= time_select("assignment", "due_date" , :default => @subject.start_time, :ampm => true) %> 

