



<%= select("assignment", "unit_id", @unit.map { |s| [s.name, s.id] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"assignments", :action => "check_chapter"}, :with => "'unit_id='+value")}"}) %>