
<%= javascript_include_tag "main", 'jquery.selectbox-0.5' %>
<%= stylesheet_link_tag "main" %>
<%= javascript_include_tag "facebox" %>

<script type="text/javascript" language="JavaScript">

  function selectImg(val)
  {
    document.getElementById('assignment_assignment_type').value = val;
 
  }
  
  jQuery(document).ready(function() {
    jQuery("#new_assignment").validate({
  	errorElement:'div',
  	rules: {
  		"assignment[name]":{ required: true },
  	  "assignment[subject_id]":{ required: true }

  		},
  	messages: {
  		    "assignment[name]":{ required:  "" },
    	    "assignment[subject_id]":{ required:  "" }
  		    }


  	});
  	});
  	
  	
  	jQuery(document).ready(function() { 
  		jQuery('#Items').selectbox();
  	});
  	
  	
  	function Add_duedate(id){ 
            new Ajax.Request("/assignments/check_duedate", {
                                     method: 'post',
                                     
                                     parameters: { subject_id: id },
                                     onSuccess: function(res){
                                        // handle the result
                                     }
                                 });
        }
  
  
</script>


<div id="overlay">

  <%= form_for [:course, @assignment],:html => {:multipart => true} do |f| %>
	  
	  <%= f.hidden_field :assignment_type, :value => "exercise" %>
	  <%= f.hidden_field :subject_id, :value => params[:course_id] %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    
	<div id="overlay_inner_window"></div>
	<div id="overlay_left">
		<%= f.submit "",  :id=>"save" %>
		<%= f.text_field :name, :placeholder => "(New Assignment Name)" %>
		
		<div class="upload">
      <div id="file_upload">
        <input type="file" name="upload" id="realupload" class="realupload" />
      </div>
     </div>
     
		<div id="change_class"><% select("assignment", "subject_id",  [[ @subject.name, @subject.id ]] , {:prompt => 'Change class'}, {:onChange => "#{remote_function(:url => {:controller =>"assignments", :action => "check_duedate"}, :with => "'subject_id='+value")}", :id=>"Items"}) %></div>
		 
        
    
		<div id="select_type">
			<div id="select_type_title">Select Type</div>
			<div id="icon_selector"></div>
			<div id="exersize_icon" onclick="javascript:selectImg('exercise');"></div>
			<div id="reading_icon" onclick="javascript:selectImg('reading');"></div>
			<div id="report_icon" onclick="javascript:selectImg('report');"></div>
			<div id="group_icon" onclick="javascript:selectImg('group');"></div>
			<div id="exam_icon" onclick="javascript:selectImg('exam');"></div>
		</div>
		<div id="date_container">
			<label>Due: </label>
			
			<%=  f.datetime_select :due_date, :order => [:month, :day, :hour, :minute], :use_short_month=>true, :ampm => true %>
		</div>
		<div id="grade_container">
			
			<label id="number_box_label">Number</label>
			
			<div id="number_box_container" style="display:inline-block">
				<%= f.text_field :max_point, :id=>"number_box" %> &nbsp;&nbsp;/&nbsp;&nbsp;Total
			</div>
			 
			
			 
		</div>
	</div>
	<div id="notes_container">
		<label>Notes: </label>
		 <%=  f.text_area :notes,:cols =>68, :rows=>5, :id=>"notes" %>
	</div>
	<% end %>
</div>