      <% if params[:type] == "reading" %>
    
   <td align="right" valign="middle" class="tr_bg" >
  		<strong>Upload</strong>
  	</td>
  	<td align="left" valign="middle" class="tr_bg"  colspan="2" >
  	<%= file_field_tag 'assignment[pdf]' %>
  	</td>
      <% end %> 
