<% if @assignment.save %>
  
 jQuery('<%= escape_javascript(render(:partial => 'assignments/assignment_info', :locals => {:assignment => @assignment }))%>')
.prependTo('#assignment_div')
.hide()
.fadeIn()
  jQuery(document).trigger('close.facebox')
  document.location.reload();
<% else %>
  jQuery.facebox('<%= escape_javascript(render :template => 'assignments/new.html') %>');
  jQuery('#facebox form').data('remote','true');
<% end %>


