<% content_for :styles do %>
 
 <%= stylesheet_link_tag "facebox" %>
  
<% end %>
<% content_for :scripts do %>
  <%= javascript_include_tag "facebox" %>
  
<% end %>

<style>
 #facebox .content {
     background-color:#f8f8f8;
     width:638px;
     height:515px;
     -webkit-border-radius: 15px;
     border-radius: 10px;
     font-size: 16px;
     -webkit-box-shadow:  10px 10px 10px 0px rgba(0, 0, 0, 0.3);
     box-shadow:  10px 10px 10px 0px rgba(0, 0, 0, 0.3);
     font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
 }
 
 #facebox .close { padding: 12px !important; }
 
</style>



<div class="mc_heading">
	Manage Assignments
	
	</div>
 <div style="margin-bottom:10px; width:100%; height:auto; float:left">
	<div style="float:left; width:50%; height:auto; text-align:left">
	<img src="/assets/add.png" alt="" width="24" height="24" border="0" align="absmiddle" /><%= link_to 'Add New Assignment', new_course_assignment_path,:class=>"table_heading_link",:remote=>true %></div>
	
</div> 

 <div class="row4">
 <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"> 
  <tr>
    <td>
  	    <table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	      <tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading" width="32%">Assignment name</th>
		      <th align="center" valign="top" class="table_heading" width="10%">Assignment Type</th>
	        <th align="center" valign="top" class="table_heading" width="15%">Due Dates</th>
	        <th align="center" valign="top" class="table_heading" width="6%">Maximum Point</th>
	        <th width="37%" align="center" valign="top" class="table_heading">Action</th>
	    
	        </tr>
	      </table>
	   </td>
	   </tr>
	   <tr>
	   <td id="assignment_div">
	      <table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	   
	     
	   <% @assignments.each do |assignment| %>
	     
	     <%= render :partial => 'assignments/assignment_info', :locals => {:assignment => assignment }%> 
     	<% end %>
     </div>
      
      </table>
      </td>
     </tr>
    
  
  </tr>
  </table>
		
 </div>		
      
      
      
      
      
      
      
      
      
      
      
      

	
	


