 
   <div class="row4">
  	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">First Name</th>
		<th align="center" valign="top" class="table_heading">Last Name</th>
	    
	    
	</tr> 
	<%  @student.each do |s| %>
     <tr>
        <td align="left" valign="top" class="tr_bg"><a href="/courses/<%= params[:course_id] %>/assignments/<%=params[:assignment_id] %>/student/<%=s.id%>/submit_assignment "><%= s.first_name %></a></td>
    	<td align="left" valign="top" class="tr_bg"><%= s.last_name %></td>
        
       </tr>

    <% end %>
  </tbody></table>
		
 </div>		
      
      



