 <div class="mc_heading">Submitted Assignments </div>
		
	<div class="row4">
	<div id="wraper_ques">
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top">Question</td>
    <td width="20%" align="left" valign="top">Result</td>
  </tr>
  </table>

	 
	<%= form_for :assignment, :url=>{} do |s| %>
	  <% @user.each_with_index do |s,i| %>
	  <%= fields_for "student_assignment[]", s do |f| %>
	   <% que = Question.find_by_id(s.question_id) %>
		<div class="lq">
		<table width="100%" border="0" cellspacing="10" cellpadding="0">
    <tr>
      <td align="left" valign="top"><%= (i+1) %>.&nbsp; &nbsp;<%= que.question  %>
       <% if que.type_of_question == 0  %>
	      <div class="la">
		      <ul class="answer">
		        <% Objquestion.find_all_by_question_id(s.question_id).each do |c| %>
		        <li> <%= f.radio_button  :option_answer, "#{c.id}" %><%= c.que %> </li>
		        <% end %>
		      </ul> 
		     </div>	
		    <% elsif  que.type_of_question == 1   %> 
		     <div class="la">  
           <%= text_area_tag :explaination, "#{s.explaination}", :rows => 5, :cols => 55 %>
         </div>	
        <% end %>
		   </td>
       <td width="20%" align="left" valign="top">
          <% if que.type_of_question == 0  %>
            <% if que.option_answer == s.option_answer %>
              <%= f.radio_button :result, "1", :checked =>que.option_answer == s.option_answer %>True
              <%= f.radio_button :result, "0" %>False
            <% else %>
              <%= f.radio_button :result, "1" %>True
              <%= f.radio_button :result, "0", :checked =>true %>False
            <% end %>
          <% else %>
              <%= f.radio_button :result, "1" %>True
              <%= f.radio_button :result, "0" %>False
          <% end %>
          
       </td>
    </tr>
   </table>
		</div>
		<% end %>
    <% end %>
    
    <div class="lq">
      <%= submit_tag "Results" ,:class=>"greenbutton" %>
    </div>
     
	<% end %>

      </div>
	</div>