<%= form_for @topic, :remote => true do |f| %>
  
  <div id="form-errors"></div>
  <% if current_user.role? :admin %> 
        <div>
           <%= f.label :institute_id %><br />
          <%= f.collection_select :institute_id, Institution.all(:order => "id"), :id, :Name, :selected => 15 %>
       </div><br/>
      
    <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
      
    <% if @topic.chapter_id %>
      <%= f.hidden_field :chapter_id, :value=>"#{@topic.chapter_id}" %>
    <% else %>
    <%= f.hidden_field :chapter_id, :value=>"#{params[:chapter_id]}" %>
    <% end %>
  </p>
   <% if current_user.role? :instituteadmin %> 
	    <%= f.hidden_field :institute_id, :value => current_user.institute_id %>
   	<% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>