<p><%= link_to 'Add Topic',{ :controller=>"topics",:action => 'new', :chapter_id => @chapter_id }, :remote => true %></p>

<div class="row4">
  	<table width="100%" border="0" align="center border" cellpadding="10" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Topic Name</th>
		
	   
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>


	    <% for topic in @topics %>
		 <tr id ="topic-<%= topic.id %>">
        <td align="left" valign="top" class="tr_bg"><%= topic.name %></td>
    	
    	
        <td align="left" valign="middle" class="tr_bg">
        <%= link_to "Edit", edit_topic_path(topic), :remote => true,:class =>"td_link" %>|
 	    <%= link_to "Delete", {:controller => "topics", :action=> "destroy", :id=> "#{topic.id}" }, :remote=> true,:class =>"td_link" %>
        </td>
       </tr>

    <% end %>
  </tbody></table>
		
 </div>		
		


































