


<h1>Listing Topics</h1>

<% if current_user.role? :admin %> 

     <p> Select chapter : <%= select("user", "chapter_id", Chapter.find(:all,:order => "name asc").collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"topics", :action => "check_topic"}, :with => "'chapter_id='+value")}"}) %></p>

  <% elsif current_user.role? :instituteadmin %> 
          <p> Select chapter : <%= select("user", "chapter_id", Chapter.find_all_by_institute_id(current_user.institute_id,:order => "name asc").collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"topics", :action => "check_topic"}, :with => "'chapter_id='+value")}"}) %></p>

  <% end %>


<br/><div id="modal-box" style="display:none;"></div>


<br/><div id="topic"></div>




