<%= form_for(@admin_grade) do |f| %>
  <% if @admin_grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_grade.errors.count, "error") %> prohibited this admin_grade from being saved:</h2>

      <ul>
      <% @admin_grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :percentage_above %><br />
    <%= f.number_field :percentage_above %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
