<h1>Listing admin_grades</h1>

<table>
  <tr>
    <th>Grade</th>
    <th>Percentage above</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_grades.each do |admin_grade| %>
  <tr>
    <td><%= admin_grade.grade %></td>
    <td><%= admin_grade.percentage_above %></td>
    <td><%= link_to 'Show', admin_grade %></td>
    <td><%= link_to 'Edit', edit_admin_grade_path(admin_grade) %></td>
    <td><%= link_to 'Destroy', admin_grade, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admin grade', new_admin_grade_path %>
