<p id="notice"><%= notice %></p>

<p>
  <b>Grade:</b>
  <%= @admin_grade.grade %>
</p>

<p>
  <b>Percentage above:</b>
  <%= @admin_grade.percentage_above %>
</p>


<%= link_to 'Edit', edit_admin_grade_path(@admin_grade) %> |
<%= link_to 'Back', admin_grades_path %>
