<style>
input[type="checkbox"] {
    display: table-cell;
    float: none;
    left: 0;
    opacity: 1;
    position: relative;
    top: 0;
}
</style>
  
<%= form_for :assignment, :url=>{:controller =>"/sessions",:action=>"user_signout"} do |f| %>

<table width="100%" cellspacing="10" cellpadding="0" border="0">
<tr>
    <td valign="top" align="center"><h1>Sign Out?</h1></td>
  </tr>
  
    
  
  <tr>
    <td valign="top" align="center" style="padding:20px 0 30px 95px">
	<div align="center">
	<div class="buttondiv"><%= f.submit "Yes", :class=>"yes", :style=>"width:125px" %> </div>
	<div class="buttondiv"><%= link_to "No", "", :class=>"no" %></div>
	</div>
	
	</td>
  </tr>
   <tr>
    <td align="center" valign="top"style="font-size:16px;">
	
	 <%= f.check_box :dont_ask %> Don't ask me again
     
	
	
	</td>
  </tr>
   
  
 
</table>
 <%end%>