<div id="settings_container">
	<div class="binder">
		<div class="slider">
			<div id="start" class="additional-block">
				<% icons = {"exercise" => "excercises.png","reading" => "readings.png","report" => "reports.png",
					"group_project" => "group_projects.png" ,"exam" => "exams.png" }%>
					<div class="header">
						<div class="header_container">
							Settings
							<input type='button' value='X' onclick='Modalbox.hide()' class="close_overlay" />
						</div>
						<div class="sub_header">GENERAL</div>
					</div>
					<ul class="menu">
						<li class="accordion" id="profile_info">
							<h3><img class="settings_icon profile_icon" src="<%=path_to_image('profile_icon.png')%>"/><span>Profile</span><br/><span class="mini_header">Manage Profile</span></h3>
							<div class="profile_content">
								<div class="row">
									<label class="reddy">Name:</label>
									<div class="edit" name="user[first_name]" data-url="<%= update_meta_user_path(@user)%>" ><%= @user.first_name%></div>
									<div class="edit" name="user[last_name]" data-url="<%= update_meta_user_path(@user)%>"><%= @user.last_name%></div>
								</div>
								<div class="row">
									<label class="reddy">E-mail:</label>

									<div class="edit email_val" name="user[email]" data-url="<%= update_meta_user_path(@user)%>"><%= @user.email%></div>
								</div>
								<div class="row" >
									<label class="reddy">Language:</label>
									<%= select_tag "user[language]", options_for_select(["English","French","German","Spanish","Italian","Polish","Korean"],@user.language), "data-url" =>  update_meta_user_path(@user), id: 'user_settings_language', class: "lang_val" %>
								</div>
								<div id="change_password_link">change password</div>
								<div id="change_password" style="display:none">
									<p class="status_text reddy"></p>
									<%= form_for :change_password, :html=>{:id => "change_password_form"} do |f|  %>
									<%= f.password_field :old_password, :placeholder => "Enter old password" %>
									<%= f.password_field :new_password, :placeholder => "Enter new password" %>
									<%= f.password_field :new_password_confirmation, :placeholder => "Confirm new password" %>
									<%= f.hidden_field :is_settings, :value => true%>
									<p><%= f.submit 'submit', :value => "Ok" %></p>
									<% end %>
								</div>
							</div>

						</li>
						<% @class_settings.each_with_index do |class_setting, index| %>

						<li class="class_holder"><a href="#class<%= index%>"><div class="class<%=class_setting.id %>-color-box class-color-box" style="background-color:<%= class_setting.color%>"></div><span class="settings_center_label"><%= class_setting.subject_name.capitalize %></span></a></li>
						<% end %>
					</ul>
				</div>
				<% @class_settings.each_with_index do |class_setting, index| %>
				<div id="class<%= index%>" class="additional-block">
					<div class="header">
						<div class="header_container">
							Settings
							<input type='button' value='X' onclick='Modalbox.hide()' class="close_overlay" />
						</div>
						<div class="sub_header"><%= class_setting.subject_name.upcase %></div>
					</div>
					<ul class="menu">
						<li><div class="class<%=class_setting.id %>-color-box class-color-box" style="background-color:<%= class_setting.color%>"></div><span class="settings_center_label">Color</span>
							<select class="lms-class-color select-<%=class_setting.id %> float_right" data-is-student="<%= @user.role?('student')%>" data-class-id="<%= class_setting.id %>">>
								<% ClassSetting.colors.each do |color, color_code| %>
								<option <%= "selected" if class_setting.color == color_code %> value='<%= color_code%>' >
									<%= color.to_s.humanize%>
								</option>
								<% end %>
							</select>
						</li>
						<li><img src="<%= asset_path('remainder_icon.png') %>" class="settings_icon"></img>
							<span class="settings_center_label">Automatic Reminders</span>
							<div class="iphone-toggle-buttons">
								<label>

									<input type="checkbox" <%= "checked" if class_setting.automatic_remainder %> class="automatic_remainder_checkbox" data-class-id="<%= class_setting.id %>">
									<span class="automatic_span"></span>
								</label>
							</div>
						</li>
						<% ClassSetting.remainder_for_colection.each do |remainder_for| %>
						<li class="sub_remainders <%= 'hidden' unless class_setting.automatic_remainder %>"><a href="#class<%= "#{index}_#{remainder_for}"%>"> <img src="<%= asset_path(icons[remainder_for])%>" class="settings_icon"/><span class="settings_center_label"><%= remainder_for.pluralize.titleize %></span></a></li>
						<% end %>
					</ul>
				</div>

				<% ClassSetting.remainder_for_colection.each do |remainder_for| %>
				<div id='class<%= "#{index}_#{remainder_for}" %>' class="additional-block">
					<div class="header">
						<div class="header_container">
							Settings
							<input type='button' value='X' onclick='Modalbox.hide()' class="close_overlay" />
						</div>
						<div class="sub_header"><%= remainder_for.pluralize.titleize %></div>
					</div>
					<ul class="menu">
						<li class="mail_remainder_container">
							<span class="reddy">Email Reminder</span>
							<div class="iphone-toggle-buttons">
								<label>
									<input class="remainder_check" type="checkbox" <%= "checked" if class_setting.has_remainder(remainder_for, "Email") %> data-class-id="<%= class_setting.id %>" data-remainder-for="<%= remainder_for%>" data-remainder-type="Email">
									<span></span>
								</input>
								</label>
							</div>
						</li>
					</ul>
					<div class="checklist_container">
						<% (ClassSetting.remainders-["Email"]).each do |checklist|%>
						<label>
							<div>
								<input class="remainder_check checklist" type="checkbox" <%= "checked" if class_setting.has_remainder(remainder_for, checklist) %> data-class-id="<%= class_setting.id %>" data-remainder-for="<%= remainder_for%>" data-remainder-type="<%= checklist%>" data-remainder-type-underscore="<%= checklist.delete(" ").underscore%>">
								<div id="<%= "#{class_setting.id}_remainder_for_#{remainder_for}_#{checklist.delete(" ").underscore}" %>" class='checkbox_div <%= " greeny" if class_setting.has_remainder(remainder_for, checklist) %>'> <%= checklist%> </div>
							</div>
						</label>
						<% end %>
					</div>
				</div>
				<% end %>
				<% end %>

			</div>
		</div>	
	</div>