
  <% if (current_user.role?:student)  %>
    
    <% if current_user.setting == true %>
		<div id="reminders"></div>
		
	  <div id="row3">
    
      
        
        <% subjects = Assignment.select("DISTINCT(assignments.subject_id), assignments.subject_id, assignments.class_id").where('assignments.class_id' => current_user.class_id) rescue "There is no reminder" %>
        
        <% if subjects.blank? == false %>
        <% subjects.each_slice(3) do |subject_slice| %>
          
    	   <div class="subject_wrap">
    	
          <% subject_slice.each do |subject| %>
    	    <div class="subject_row">
    	     <div class="colum">
    	      <div class="colum_row1">
              <%= sub = Subject.find subject.subject_id%>
    	        <h1><%= sub.name rescue "" %></h1>
    	        <div class="graytext"> <%= sub.subject_location %><br/>
    	        <% days = sub.days %> <% days.each do |day| %> <%= day.abbreviate %> <% end %> <%= sub.start_time.strftime("%l:%M")  %>-<%= sub.end_time.strftime("%l:%M")  %></div>
            </div>
            
            <% assignments =  Assignment.find(:all, :conditions=> "subject_id= #{sub.id}")  %>
            <% assignments.each do |assignment| %>
               <% a = SolvedStudent.find_by_assignment_id_and_user_id(assignment.id,current_user.id) rescue "" %>  
               
               <% if a.nil? %>
               
    	       <div> 
    	       	 
    	        	<div class="checkbox_wrap">
 	               		<input name="" type="checkbox" value="" DISABLED  />
 	               		<label></label>
 	      			</div>
                <a class="green" href="javascript:void(0);"><span class="icon"></span><span class="buttontext"> <%= assignment.name %> </span> </a>
             </div>
             
             <%else%>
               <div>
              	<div class="checkbox_wrap">
                   <input name="" type="checkbox" value="" DISABLED checked="" />
                   <label></label>
            	</div> 
                <a class="green" href=" javascript:void(0); "><span class="icon"></span><span class="buttontext"><%= assignment.name%>  </span> </a>
         
      			</div>
            <% end %>
            <% end %>
    	     </div>
    
        </div>

      <% end %>
        </div>
      <% end %>
    <% end %>
    

    	</div>
    	
   <% end %>
	
	 <% end %>
	 
	 
	 
	 
	 
	 
	 
	 <% if (current_user.role? :teacher ) %>
	   <% if current_user.setting == true %>
	     
     <div id="reminders"></div>


     <div id="row3">       
  
       <% staffs = current_user.subjects rescue "" %>
       
         
         <% staffs.each_slice(3) do |subject_slice| %>

     	   <div class="subject_wrap">

           <% subject_slice.each do |subject| %>
     	    <div class="subject_row">
     	     <div class="colum">
     	      <div class="colum_row1">
              <% sub = Subject.find_by_id(subject.id) %>
     	        <h1><%= sub.name rescue "" %></h1>
     	        <div class="graytext"><%= sub.subject_location %><br/>
     	        <% days = sub.days %> <% days.each do |day| %> <%= day.abbreviate %> <% end %> <%= sub.start_time.strftime("%l:%M")  %>-<%= sub.end_time.strftime("%l:%M")  %></div>
             </div>

             <% assignments =  Assignment.find(:all, :conditions=> "subject_id= #{subject.id}")  %>
             <% assignments.each do |assignment| %>
             
      	       <div> 

     	        	<div class="checkbox_wrap">
  	               		<input name="" type="checkbox" value="" DISABLED  />
  	               		<label></label>
  	      			</div>
                 <a class="green" href="javascript:void(0);"><span class="icon"></span><span class="buttontext"> <%= assignment.name %> </span> </a>
              </div>

            
            <% end %>
     	     </div>

         </div>

       <% end %>
         </div>
      
     <% end %>

     	</div>
     <% end %>
   <% end %>