<div class="mc_heading">
	Admin Institute
	
	</div>
	


<div class="row4">

<%= form_for(@user) do |f| %>
   <table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
   
    <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>First name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :first_name,:class=>"textfield3" %>
    	</td>
    	</tr>
	 <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Last name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :last_name %>
    	</td>
    	</tr>	
    
 

  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Institution</strong></td>
   <td align="left" valign="top" class="tr_bg">
     <%= f.collection_select :institute_id, Institution.all(:order => "id"), :id, :Name, :selected => @user.institute_id %>

</td>
 
  <div>

	
		<%= f.hidden_field :designation,:value =>'i' %>
  </div>
   <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Username </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	    <%= f.text_field :username %>
    	</td>
    	</tr>	
 
  
  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Email </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	    <%= f.text_field :email %>
    	</td>
    	</tr>	
    	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Password </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= f.password_field :password %>
    	</td>
    	</tr>	
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Password Confirmation</strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= f.password_field :password_confirmation %>
    	<%= hidden_field_tag "user[role_ids][]", 4 %>
    	</td>
    	</tr>	

<tr>
	  <td colspan="2" align="left" valign="middle" class="tr_bg" style="padding-left:290px"><%= f.submit "Save",  :class=>"greenbutton", :style=>"float:left" %> </td>
	  </tr>
	
</div>
  <% end %>







































