<% if @user.save %>
  
jQuery('').prependTo('#box_bg')
.hide()
.fadeIn()
  jQuery(document).trigger('close.facebox')
<% else %>
  jQuery.facebox('<%= escape_javascript(render :template => 'users/new_student_info.html') %>');
  jQuery('#facebox form').data('remote','true');
<% end %>