<% content_for :styles do %>
<%= stylesheet_link_tag "dashboard" %>
<% end %>

<% if signed_in? %>
  
  <% if current_user.role? :admin %>
    <ul>
    
 
     <p>
  
     	<!--<a class="table_heading_link" href="/users/<%= current_user.id%>/student" >Students</a>  | &nbsp;
	 <a class="table_heading_link" href="/users/<%= current_user.id%>/teacher" >Teachers</a>  | &nbsp; -->
	 <%= link_to 'Classes', edu_classes_path, :class => "table_heading_link" %> | &nbsp;
	 	<!--<a class="table_heading_link" href="/users/<%= current_user.id%>/institute" >Institute Admins</a>  --> 
	 <%= link_to 'Institutions', institutions_path, :class => "table_heading_link" %> </p>
  
  
  
   <% else %>
        
        
  
  
<% end %>

      <% if current_user.role?:teacher %>
            <p><%= link_to 'Manage Classes', edu_classes_path, :class => "table_heading_link" %></p>
      <% end %>
  <% if current_user.role?:instituteadmin %>
 <p><a class="table_heading_link" href="/users/<%= current_user.id%>/student" >Students</a> | &nbsp;
	<a class="table_heading_link" href="/users/<%= current_user.id%>/teacher" >Teachers</a> | &nbsp; <%= link_to 'Classes', edu_classes_path %> </p>
  
  
 
 
 </p>
 <% end %>
  </ul>
  
<% else %>
  
<% end %>

	<div id="row2">
	<% if !current_user.role?:admin %>
	  <div><%= link_to 'Courses', courses_path ,:class=> "courses"%></div>

	<div><%= link_to 'Calendar', calenders_path ,:class=> "calendar1"%></div>
	<div style=" float:left; overflow:hidden"><% msg_count = @current_user.check_message %> <% if msg_count != 0 %><span class="alert"><%= render :partial => 'users/message_count' %></span><% end %><%= link_to 'Messages', messages_path ,:class=>"message"%></div>
	<% else %>
	<div><%= link_to '', index_admin_people_path('s') ,:class=> "people_dashboard dashboard_icons"%></div>
	<div><%= link_to '', '' ,:class=> "administration_dashboard dashboard_icons"%></div>
	<div><%= link_to 'Courses', subjects_path ,:class=> "courses"%></div>
<% end %>
	</div>
	
	   <%= render "reminder" %>
  </div>
</div>