     <h1>Edit user</h1>
 <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
         <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name %>
         </div>
         <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name %>
         </div>
        <% if current_user.role?:student %>
         <div>
              <%= f.label :class_id %><br />
              <%= f.collection_select :class_id, EduClass.all(:order => "id"), :id, :class_name, :selected => 15 %>
          </div>
        <% end %>
        <div class="field">
             <%= f.label :username %><br />
              <%= f.text_field :username %>
        </div>
        <div class="field">
           <%= f.label :email %><br />
            <%= f.text_field :email %>
       </div>
       <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation" %><br />
        <%= f.password_field :password_confirmation %>
        <%= hidden_field_tag "user[role_ids][]", 3 %>
    </div>
       <div class="actions">
       <%= f.submit "Update" %>
       </div>
<% end %>
<div>

</div>
