<div class="mc_heading">
	Edit Teacher
	
	</div>
	


<div class="row4">

 <%= form_for(@user, :html=>{:id=>"edit_teacher"}) do |f| %>
   <table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
      <% if current_user.role? :admin %> 
	  		<tr>
	  			<td align="right" valign="middle" class="tr_bg"><strong>Institutions </strong></td>
	  	     	<td align="left" valign="top" class="tr_bg"><%= f.collection_select :institute_id, Institution.all(:order => "id"), :id, :Name, :selected => 15,:class=>"textfield3" %>
           </td>
	  	</tr>
	  	<%end%>
      
    
      <% if current_user.role? :instituteadmin %> 
	    <%= f.hidden_field :institute_id, :value => current_user.institute_id %>
   	<% end %>
    <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>First name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :first_name,:size =>15,:class=>"textfield3" %>
    	</td>
    	</tr>
	 <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Last name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :last_name %>
    	</td>
    	</tr>	
    
 <tr>
 <% if current_user.role? :admin %> 
  	<td align="right" valign="middle" class="tr_bg"><strong>Select Subject</strong></td>
    <td align="left" valign="top" class="tr_bg">
      <%= select_tag("subject_ids[]", options_for_select(Subject.find(:all).collect { |cat| [cat.name, cat.id] }, @user.subjects.collect { |cat| cat.id}), {:multiple=>true, :size=>6}) %>
 </td>
 
  
  <% elsif current_user.role? :instituteadmin %>
     <td align="right" valign="middle" class="tr_bg"><strong>Select Subject</strong></td>
      <td align="left" valign="top" class="tr_bg">
      <%= select_tag("subject_ids[]", options_for_select(Subject.find_all_by_institute_id(current_user.institute_id).collect { |cat| [cat.name, cat.id] }, @user.subjects.collect { |cat| cat.id}), {:multiple=>true, :size=>6}) %>
     </td>
  
	<% end %>
	</tr>

	
		<%= f.hidden_field :designation,:value =>'t' %>
  </div>
   <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Username </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	    <%= f.text_field :username, disabled: :disabled %>
    	</td>
    	</tr>	
 
  
  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Email </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	    <%= f.text_field :email %>
    	</td>
    	</tr>	
    	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Password </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= f.password_field :password %>
    	</td>
    	</tr>	
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Password Confirmation</strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= f.password_field :password_confirmation %>
    	<%= hidden_field_tag "user[role_ids][]", 2 %>
    	</td>
    	</tr>	

<tr>
	  <td colspan="2" align="left" valign="middle" class="tr_bg" style="padding-left:290px"><%= f.submit "Update",  :class=>"greenbutton", :style=>"float:left" %> </td>
	  </tr>
	
</div>
  <% end %>





















