
	
	<div class="mc_heading">
	Edit Student
	
	</div>
	


<div class="row4">

   <%= form_for(@user) do |f| %>
   <table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
      <% if current_user.role? :admin %> 
	  		<tr>
	  			<td align="right" valign="middle" class="tr_bg"><strong>Institutions </strong></td>
	  	     	<td align="left" valign="top" class="tr_bg">         <%= f.collection_select :institute_id, Institution.all(:order => "id"), :id, :Name, :selected => 15,:class=>"textfield3" %>
           </td>
	  	</tr>
	  	<%end%>
      
    
      <% if current_user.role? :instituteadmin %> 
	    <%= f.hidden_field :institute_id, :value => current_user.institute_id %>
   	<% end %>
    <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>First name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :first_name,:class=>"textfield3" %>
    	</td>
    	</tr>
	 <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Last name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :last_name %>
    	</td>
    	</tr>	
    
 
  <% if current_user.role? :admin %> 
  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Classes</strong></td>
   <td align="left" valign="top" class="tr_bg">
    <%= f.collection_select :class_id, EduClass.all(:order => "id"), :id, :class_name, :selected => 15 %>
</td>
  <% elsif current_user.role? :instituteadmin %>
  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Classes</strong></td>
   <td align="left" valign="top" class="tr_bg">
    <%= f.collection_select :class_id, EduClass.find_all_by_institute_id(current_user.institute_id,:order => "id"), :id, :class_name, :selected => 15 %>
</td>
  <% end %>
  <div>

	
	<%= f.hidden_field :designation,:value =>'s' %>
  </div>
   <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Username </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	    <%= f.text_field :username, disabled: :disabled  %>
    	</td>
    	</tr>	
 
  
  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Email </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	    <%= f.text_field :email %>
    	</td>
    	</tr>	
    	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Password </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= f.password_field :password %>
    	</td>
    	</tr>	
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Password Confirmation</strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= f.password_field :password_confirmation %>
    	   <%= hidden_field_tag "user[role_ids][]", 3 %>
    	</td>
    	</tr>	

<tr>
	  <td colspan="2" align="left" valign="middle" class="tr_bg" style="padding-left:290px"><%= f.submit "Update",  :class=>"greenbutton", :style=>"float:left" %> </td>
	  </tr>
	
</div>
  <% end %>