
       
<div class="mc_heading">
	Manage Institute Admin
</div>	

	<div style="margin-bottom:10px; width:100%; height:auto; float:left">
	<div style="float:left; width:50%; height:auto; text-align:left">
	<img src="/assets/add.png" alt="" width="24" height="24" border="0" align="absmiddle" /><a class="table_heading_link" href="/users/<%= current_user.id %>/institute/add_institute">Add</a></div>
	 </div> 
	
	
	
	
	 <div class="row4">
  	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Firstname</th>
		<th align="center" valign="top" class="table_heading">Lastname</th>
	    <th align="center" valign="top" class="table_heading">Institute</th>
	   
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>

  <% @users.each do |i| %>
      <tr>
        <td align="left" valign="top" class="tr_bg"><%= i.first_name %></td>
    	<td align="left" valign="top" class="tr_bg"><%= i.last_name %> </td>
        <td align="left" valign="top" class="tr_bg"><%= Institution.find_by_id(i.institute_id).Name%> </td>
    	
        <td align="left" valign="middle" class="tr_bg">
        <%= link_to 'Edit', {:controller=>"users", :action=>"edit_institute", :id=>"#{current_user.id}", :id2=>"#{i.id}"},:class =>"td_link" %> 
        <a href="/users/<%= i.id %>/delete" class = "td_link" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip" >Delete</a>
        </td>
       </tr>

    <% end %>
  </tbody></table>
  <%= will_paginate @users %>

</div>







