
  <div>
  <div class="loginrow" style="text-align:center">
    <h1>Sign Up</h1>
  </div>

  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
  <div class="loginrow" style="text-align:center">
  <div class="colum1">First Name</div>
  <div class="colum2">
    <label>
      <%= f.text_field :first_name, :class=>"textfield" %>
    
    </label>
  </div>

  </div>

  <div class="loginrow" style="text-align:center">
  <div class="colum1">Last Name</div>
  <div class="colum2">
    <label>
      <%= f.text_field :last_name, :class=>"textfield" %>
    </label>
  </div>

  </div>

 <% if signed_in? %>
 <%else%>
  <div class="loginrow" style="text-align:center">
  <div class="colum1">Institution</div>
  <div class="colum2">
    <label>
        <%= f.select(:institute_id, @institutions.collect {|p| [ p.Name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"users", :action => "update_iid"}, :with => "'id='+value")}"}) %>
    </label>
  </div>
    <%= f.hidden_field :designation,:value =>'s' %>
  </div>
 <%end%>
 
 <div class="loginrow" style="text-align:center">
 <div class="colum1">Class</div>
 <div class="colum2" id="update3">
   <label>
   
    <% @class = [] %>
    <%= render :partial =>'update_iid', :object => @class %>
   
  </div>

  </div>

  <div class="loginrow" style="text-align:center">
  <div class="colum1">Username</div>
  <div class="colum2">
    <label>
      <%= f.text_field :username, :class=>"textfield" %>
    </label>
  </div>

  </div>

  <div class="loginrow" style="text-align:center">
  <div class="colum1">Email</div>
  <div class="colum2">
    <label>
      <%= f.text_field :email, :class=>"textfield" %>
    </label>
  </div>

  </div>

  <div class="loginrow" style="text-align:center">
  <div class="colum1">Password</div>
  <div class="colum2">
    <label>
      <%= f.password_field :password, :class=>"textfield" %>
    </label>
  </div>

  </div>

  <div class="loginrow" style="text-align:center">
  <div class="colum1">Confirmation</div>
  <div class="colum2">
    <label>
      <%= f.password_field :password_confirmation, :class=>"textfield" %>
      <% if signed_in?%>
<%= f.label       :Select_Role %></p>

     <% for role in Role.find(:all) %>
         	<%if role.name == "student"%>
           		<%= radio_button_tag "user[role_ids][]",role.id, @user.roles.include?(role) %>
              	<%= role.name %>
              	<% end %>
	            <% if role.name == "teacher"%>
               	<%= radio_button_tag "user[role_ids][]",role.id, @user.roles.include?(role) %>
              	<%= role.name %>
        	<% end %>
  

    <% end %>
    <%else%>
     <%= hidden_field_tag "user[role_ids][]", 3 %>
    <% end %>
    </label>
  </div>

  </div>

  <div class="loginrow" style="padding-left:95px">
  
    <%= f.submit "Sign up", :class=>"greenbutton" %>
  





  </div>
  <% end %>
  </div>
