<script>
	jQuery("#new_student").validate({
		errorElement:'div',
		rules: {
			"user[first_name]" : { required: true },
			"user[last_name]" : { required: true },
			  "user[username]":{
							  required: true,
							minlength:4,
							remote:"/users/validations/check_username"
						},
	  "user[email]":{
								required:true,
								email:true,
								remote:"/users/validations/check_email"
						},
	  "user[password]":{
						required:true,
						minlength:6
					},
	  "user[password_confirmation]":{
										required:true,
										equalTo: "#user_password"
									}
						

			},
		messages: {
			"user[first_name]":{ required:  "Please enter the name" },
	        "user[last_name]" : { required:  "Please enter the lastname" },
            
            "user[username]":{
							required: "Please enter username",
							minlength:jQuery.format("do not enter less than 4 characters"),
							remote:"Username already exists"
					 },
	 "user[email]":{
						required: "Please enter email address",
						email: "Please enter valid email id",
						remote:"email id already exists"
				 },
	 "user[password]":{
						required: "Please enter password",
						minlength:jQuery.format("do not enter less than 6 characters")
	              },
	  			"user[password_confirmation]":{
													required:"Please enter confirmation password",
													equalTo: "Password does not match"
												}
				
																
		}

			

		});
</script>
	
	<div class="mc_heading" style="color:#000000">
	Add Student
	
	</div>

   <%= form_for :user,:url=>{:action=>"create_student_info", :controller=>"users"}, :html=>{:id=>'new_student',:multipart => true } do |f| %>
   <table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
        <%= hidden_field_tag 's_class_id', params[:class_id] %>
        <%= hidden_field_tag 's_subject_id', params[:subject_id] %>
          
     
      
    
   	
    <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>First name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :first_name,:class=>"textfield3" %>
    	</td>
    	</tr>
	 <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Last name </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= f.text_field :last_name %>
    	</td>
    	</tr>	
    
 
 
  <div>

	<%= f.hidden_field :designation,:value =>'s' %>
	<%= f.hidden_field :institute_id,:value => Subject.find_by_id(params[:subject_id]).institute_id %>
	<%= f.hidden_field :class_id,:value =>params[:class_id] %>
  </div>
   <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Username </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	    <%= f.text_field :username %>
    	</td>
    	</tr>	
 
  
  <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Email </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	    <%= f.text_field :email %>
    	</td>
    	</tr>	
    	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Password </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= f.password_field :password %>
    	</td>
    	</tr>	
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Password Confirmation</strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= f.password_field :password_confirmation %>
    	   <%= hidden_field_tag "user[role_ids][]", 3 %>
    	</td>
    	</tr>	
      
		<td align="right" valign="middle" class="tr_bg"><strong>Add photo</strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	   <%= f.file_field :photo%>
    	</td>
    	</tr>	
    	<tr>
	  <td colspan="2" align="left" valign="middle" class="tr_bg" style="padding-left:290px"><%= f.submit "Save",  :class=>"greenbutton", :style=>"float:left" %> </td>
	  </tr>
	  <tr>
      
 </table
  <% end %>