

<div class="mc_heading">
	 Users
	
	</div>
	


<div class="row4">

   <table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
   
    <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>User Name</strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	 <%= @user.first_name %>
    	</td>
    	</tr>
	 <tr>
		<td align="right" valign="middle" class="tr_bg"><strong> Email </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    	<%= @user.email %>
    	</td>
    	</tr>	
    
 

 
 
  
   <tr>
		
    	<td valign="top" align="center" class="tr_bg" colspan="2">
    	  <%= link_to 'change password', change_password_path%><br><br>
				<% if current_user.id == 1 %>
				
       <% end %>  
    	</td>
    	</tr>	
 
  
  
</div>
  

