<% if current_user.role? :admin %>
<p> <%= link_to "Assign/Un-Assign Student to Classes", {:controller=>"student_classes", :action=>"index"},:class=>"table_heading_link" %> </p>
<% end %>
 <% if current_user.role?:instituteadmin %>
     <p> <%= link_to "Assign/Un-Assign Student to Classes", {:controller=>"student_classes", :action=>"index"},:class=>"table_heading_link" %> </p>
<% end %>  
<div class="mc_heading">
	Manage Students
	
	</div>
	<div style="margin-bottom:10px; width:100%; height:auto; float:left">
	<div style="float:left; width:50%; height:auto; text-align:left">
	<img src="/assets/add.png" alt="" width="24" height="24" border="0" align="absmiddle" /><a class="table_heading_link" href="/users/<%= current_user.id %>/student/add">Add Student</a></div>

	
<div style="float:right; width:50%; height:auto; text-align:right">
<%= form_tag "/users/1/student", :method => 'get' do %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<%= text_field_tag :search, params[:search],:class=>"textfield2" %>
<%= submit_tag "Search", :first_name => nil, :class => "searchbutton" %>
 
</div>
<% end %>
 </div> 

<div class="row4">
	
	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading"><%= sortable "last_name" %></th>
		<th align="center" valign="top" class="table_heading"><%= sortable "first_name"%></th>
	    <th align="center" valign="top" class="table_heading">Class</th>
	   
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>

      <% @users.each do |s| %>
      <tr>
        <td align="left" valign="top" class="tr_bg"> <%= s.last_name %></td>
    	<td align="left" valign="top" class="tr_bg"><%= s.first_name %> </td>
    	<td align="left" valign="top" class="tr_bg"><%= EduClass.find_by_id(s.class_id).class_name rescue "" %></td>
    	
        <td align="left" valign="middle" class="tr_bg">
       <%= link_to 'Edit', {:controller=>"users", :action=>"edit_student", :id=>"#{current_user.id}", :id2=>"#{s.id}"},:class =>"td_link" %>
   	   <a href="/users/<%= s.id %>/delete" class = "td_link" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip"  >Delete</a>
     
        </td>
       </tr>

    <% end %>
  </tbody></table>
	 <%= will_paginate @users %>
	
	</div>




