<% if current_user.role? :admin %>
   <p><%= link_to "Assign/Un-Assign Classes to Teacher", staffs_path, :class=>"table_heading_link" %> </p>
 <% end %>
<% if current_user.role?:instituteadmin %>
    <p><%= link_to "Assign/Un-Assign Classes to Teacher", staffs_path, :class=>"table_heading_link" %> </p>
 <% end %>      
<div class="mc_heading">
	Manage Teachers
	
	</div>
	
		<div style="margin-bottom:10px; width:100%; height:auto; float:left">
	<div style="float:left; width:50%; height:auto; text-align:left">
	<img src="/assets/add.png" alt="" width="24" height="24" border="0" align="absmiddle" /><a class="table_heading_link" href="/users/<%= current_user.id %>/teacher/add_teacher">Add Teacher</a></div>
	<div style="float:right; width:50%; height:auto; text-align:right">
  <%= form_tag "/users/1/teacher", :method => 'get' do %>
   <%= hidden_field_tag :direction, params[:direction] %>
   <%= hidden_field_tag :sort, params[:sort] %>
 
    <%= text_field_tag :search, params[:search],:class=>"textfield2" %>
    <%= submit_tag "Search", :first_name => nil, :class => "searchbutton" %>

 
</div>
<% end %>
 </div> 
 
 <div class="row4">
	
	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading"><%= sortable "last_name" %></th>
		<th align="center" valign="top" class="table_heading"><%= sortable "first_name" %></th>
	  
	   
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>

<% @users.each do |t| %>
      <tr>
        <td align="left" valign="top" class="tr_bg"><%= t.last_name %></td>
    	<td align="left" valign="top" class="tr_bg"><%= t.first_name %> </td>
    
    	
        <td align="left" valign="middle" class="tr_bg">
      <%= link_to 'Edit', {:controller=>"users", :action=>"edit_teacher", :id=>"#{current_user.id}", :id2=>"#{t.id}"},:class =>"td_link" %> 
      <a href="/users/<%= t.id %>/delete" class = "td_link" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip" >Delete</a>
     
        </td>
       </tr>

    <% end %>
  </tbody></table>
	 <%= will_paginate @users %>
	
	</div>
 
 
 
 
 
 
 
 
 

