<%= form_for @video do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <!-- the control will appear next to this, and the video ID will be stored here after the upload -->
  <input type="hidden" name="video[panda_video_id]" id="returned_video_id" />

  <!-- upload progress bar (optional) -->
  <div id="upload_progress" class="panda_upload_progress"></div>
  <%= f.hidden_field :subject_id, :value => params[:course_id]%>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit "Upload video" %>
<% end %>