<div id='forum' class="topics_container scrollable_list">
	
<h2>Video</h2>

<% if current_user.role? :teacher %>
<%= link_to "+ new", {:controller=>"videos", :action=>"new", :course_id=>"#{params[:course_id]}"}, remote: true %>
<% end %>

<div id="video_list">
<table width="100%" border="0" align="center border" cellpadding="10" cellspacing="2"> 
	<tr class="pretty"> <th align="center" valign="top" class="table_heading">Courses</th>
		
	   <% if current_user.role? :teacher %>
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	   <% end %>
	    
	</tr>


	<% for video in @videos %>

	<%= render :partial => 'videos/video_info', :locals => {:video => video } %>

    <% end %>
 </table>
 </div>

</div>



