
	<tr id='<%= dom_id(video)%>'>
        <td align="left" valign="top" class="tr_bg">
        	<%= link_to video.title ,{:controller=>"videos", :action=>"show", :id => video.id}, :remote => true  %>
        </td>
    	
    	<% if current_user.role? :teacher %>
        <td align="left" valign="middle" class="tr_bg">
       	<%= link_to "Edit",{:controller=>"videos", :action=>"edit", :id => video.id,:course_id=>video.subject_id}, :remote => true ,:class =>"td_link"%>
 	   	<%= link_to "Destroy",video_path(video.id), :method => :delete,:confirm => "r u sure?", :remote => true ,:class =>"td_link"%>
        </td>
        <% end %>
     </tr>