<% if @video.save %>
  
 jQuery('<%= escape_javascript(render(:partial => 'videos/video_info', :locals => {:video => @video }))%>')
.prependTo('#video_list')
.hide()
.fadeIn()
  jQuery(document).trigger('close.facebox')
  
<% else %>
  jQuery.facebox('<%= escape_javascript(render :template => 'videos/new.html') %>');
  jQuery('#facebox form').data('remote','true');
<% end %>


