<%= javascript_include_tag 'jquery.panda-uploader.min' %>
  <%= javascript_include_tag 'swfobject' %>

<%= render "form" %>

<script>
  <% auth_params = Panda.signed_params('post', "/videos.json") %>
  jQuery("#returned_video_id").pandaUploader(<%=raw auth_params.to_json %>, {
    // Uncomment the line below if your panda account is in the EU
    // api_host: 'api-eu.pandastream.com',
    upload_progress_id: 'upload_progress'
  });
</script>