<%= javascript_include_tag 'jquery.panda-uploader.min' %>
  <%= javascript_include_tag 'swfobject' %>

  <% unless @browser_type != "mobile"  %>
  <video id="movie" width="<%= @h264_encoding.width %>" height="<%= @h264_encoding.height %>" preload="none" 
    poster="<%= @h264_encoding.screenshots.first %>" controls>
    <source src="<%= @h264_encoding.url %>" type="video/mp4">
  </video>
  <% else %>
  <div id='flash_player' >Flash player will appear here</div>

<script type='text/javascript'>
  var so = new SWFObject('/assets/player.swf','mpl','<%= @h264_encoding.width %>','<%= @h264_encoding.height %>','9');
  so.addParam('allowfullscreen','true');
  so.addParam('allowscriptaccess','always');
  so.addParam('wmode','opaque');
  so.addVariable('file','<%= @h264_encoding.url %>');
  so.addVariable('image','<%= @h264_encoding.screenshots.first %>');
  so.write('flash_player');
</script>
<% end %>