
  
 jQuery('#<%= dom_id(@video)%>')
.html('<%= escape_javascript(render(:partial => 'videos/video_info', :locals => {:video => @video }))%>')
.hide()
.fadeIn()
  jQuery(document).trigger('close.facebox')
  



