
<%= form_for(@event) do |f| %>
<div class="new_message_row1">
<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td>Name :</td>
    <td><%= f.text_field :name,:class => "large_textfield" %></td>
</tr>
<tr>
    <td>Location :</td>
    <td><%= f.text_area :location ,:class =>"large_textfield" ,:size => "10x2"%></td>
</tr>

<tr>
    <td>Date :</td>
    <td><%= f.date_select :date %></td>
</tr>
<tr>
    <td>Notes :</td>
    <td><%= f.text_area :notes ,:class =>"large_textfield" ,:size => "10x2"%></td>
</tr>

<tr>
    <td colspan="2"><%= f.submit "Save" ,:class=>"greenbutton", :disable_with => "Please Wait...."%></td>
</tr>

</table>
<% end %>







