<% if @event.save %>
  
	jQuery('').prependTo('#calendar')
	  .hide()
	  .fadeIn()
  jQuery(document).trigger('close.facebox')
  
<% else %>
  jQuery.facebox('<%= escape_javascript(render :template => 'events/new.html') %>');
  jQuery('#facebox form').data('remote','true');
<% end %>