<script>
	jQuery("#new_event").validate({
		errorElement:'div',
		rules: {
			"event[name]" : { required: true },
			"event[location]" : { required: true },
			"event[notes]" : { required: true }
			},
			 
		messages: {
			"event[name]":{ required:  "Please enter the  event name" },
	        "event[location]" : { required:  "Please enter the location" },
            "event[notes]" : { required:  "Please enter the notes" }
         }
			

		});
</script>

<div class="mc_heading" style="color:#000000">
  New event
</div>

<div>

  <%= render 'form' %>

</div>

