
<body>
<div align="center" id="maindiv">
  <div id="wraper" style="width:970px">
   


<div style="display: none">
		
		<div id="inline3" style="width:470px; height:auto; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="0" cellpadding="5" style="font-size:12px; line-height:25px">
  <tr>
    <td colspan="2" align="center" valign="top"><h1>Add New Event :</h1></td>
    </tr>
  
    <tr>
    <td align="right" valign="middle">Name :          </td>
    <td align="left" valign="middle"><input name="Input2" type="text" class="textfield" /></td>
    </tr>
    <tr>
      <td align="right" valign="middle">Location :</td>
      <td align="left" valign="middle"><input name="Input3" type="text" class="textfield" /></td>
    </tr>
	    <tr>
      <td align="right" valign="middle">Month :</td>
      <td align="left" valign="middle"><label>
        <select name="select" class="textfield" style="width:150px">
          <option>January</option>
          <option>Feb</option>
          <option>Mar</option>
          <option>Apr</option>
          <option>May</option>
          <option>June</option>
          <option>July</option>
          <option>Aug</option>
          <option>Sep</option>
          <option>Oct</option>
          <option>Nov</option>
          <option>Dec</option>
        </select>
        </label></td>
    </tr>
	
	
	<tr>
      <td align="right" valign="middle">Repeat Every :</td>
      <td align="left" valign="middle"><label>
        <select name="select" class="textfield" style="width:150px">
          <option>Never</option>
          <option>Day</option>
          <option>Week</option>
          <option>2 Weeks</option>
          <option>Month</option>
          <option>Year</option>
        </select>
        </label></td>
    </tr>
	
	<tr>
      <td align="right" valign="middle">Reminders :</td>
      <td align="left" valign="middle"><label>
        <select name="select" class="textfield" style="width:150px">
          <option>None</option>
          <option>At Event Time</option>
          <option>30 min before</option>
          <option>1 hour</option>
          <option>1 Day</option>
          <option>1 Week</option>
        </select>
        </label></td>
    </tr>
	
	

      <td align="right" valign="middle">Day :</td>
      <td align="left" valign="middle"><input name="Input32" type="text" class="textfield" /></td>
    </tr>
   
    <tr>
      <td align="right" valign="middle">Color :</td>
      <td align="left" valign="middle"><select name="select2" class="textfield" style="width:150px">
        <option>Red</option>
            </select></td>
    </tr>
    
    <tr>
      <td align="right" valign="middle">Notes :</td>
      <td align="left" valign="middle"><textarea name="Input322" class="textfield"></textarea></td>
    </tr>
	<tr>
      <td align="right" valign="middle">&nbsp;</td>
      <td align="left" valign="middle"><a href="#">
        <input type="submit" name="Submit" value="Submit" class="greenbutton" />
      </a></td>
    </tr>
    
</table>


<div>
<div>



</div>
</div>
</div>
		</div>
		









	</div>
    </div>
	
	<div id="row2">
	
	<div style="margin:0 20px 5px 0"><a href="#inline3" id="various3" class="add1"></a></div>

<!--tab start-->

<div class="colors"><a href="#"><img src="images/colors.png" alt="" border="0" /></a></div>
<div id="container">
		<ul class="menu" style="width:275px">
			<li id="all" class="active" style="border-radius: 10px 0 0 10px;">List</li>
			<li id="date" style="border-radius:0px;">Day</li>
			<li id="date" style="border-radius:0px;">Week</li>
			<li id="type" style="border-radius: 0 10px 10px 0;">Month</li>
		</ul>
		
		
		
	  </div>

		<span class="clear"></span>
		<div class="content all">
		<div id="row2_left">

<div class="month_bg">

<div align="center" class="heading" style="padding:0 0 10px 0"><%= DateTime.now.strftime("%B %Y") %></div>

   <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #b0b0b0">
   	<% @events.each do |event| %>
     <tr>
       <td align="left" valign="top" class="graytd">
	   <div class="day">Monday </div> 
	   <div class="month">August 18</div>	   </td>
     </tr>
     <tr>
       <td align="left" valign="top" class="bluetd">
	   <div class="leftside_div">
	     <label>
	     <input type="checkbox" name="checkbox" value="checkbox" />
	     </label>
	    <%= event.name%> </div> 
	   <div class="rightside_div"> <%= @event.date.strftime("%a , %B , %Y") %></div></td>
     </tr>
	 <% end %>
	 
	     
    
	
	 
	     
	 
	
     
   </table>
</div>



</div>


<div id="row1_right_calender"><span class="clear"></span>
<div class="content all">
		<div id="calender_right">

          <div id="calender_pinkcurve">
		  
		  <div style="width:49px; height:35px; float:left; margin:15px"><img src="images/user2.png" alt="" /></div>
		  <div style="width:400px; height:auto; float:left; margin:10px 0 0 0" class="heading"><%= @event.name %><br />
		    <span class="heading2"><%= @event.date.strftime("%a , %B , %Y") %></span></div>
		  
		  </div>
          <div id="calender_whitecurve"> 
            <table width="100%" border="0" cellspacing="5" cellpadding="0">
              <tr>
                <td align="left" valign="top" style="padding-left:20px"><table width="100%" border="0" cellspacing="25" cellpadding="0">
                  <tr>
                    <td align="left" valign="top">Time: <span class="heading3"> <%= @event.date %></span></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top">Class:  <span class="heading3">English</span></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top">Location:  <span class="heading3"><%= @event.location %></span></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top">Reminders:  <span class="heading3">1 Day Before</span></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top">Group Members:</td>
                  </tr>
                  <tr>
                    <td align="left" valign="top"><span class="group_member">Stephen Jobs</span><span class="group_member">Aaron Lewis</span></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top"><div style="width:60px; padding:40px 0 0 0; float:left">Notes:</div>
                      <label>
                      <textarea name="textfield" rows="5" style="width:200px"></textarea>
                      </label></td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"><a href="#" class="aq">Ask a Question</a></td>
                  </tr>
                </table></td>
                
				
				</td>
              </tr>
            </table>
           
            </div>
          </div>


		</div>
		<div class="content date">


		</div>
		<div class="content type">
		<div id="box_bg2">

<div class="message_1">
<div class="cb"><input type="checkbox" value="" name=""></div>
<div class="author">Mrs. Johnson</div>
<div class="title">Answers to Oliver Twist Assignment 3</div>
<div class="time">4:04 pm      </div>
</div>

<div class="message_yellow">
<div class="cb"><input type="checkbox" value="" name=""></div>
<div class="author">Mr. Chiavetta</div>
<div class="title">Extra Practice Questions </div>
<div class="time">3:00 pm      </div>
</div>

<div class="message_green">
<div class="cb"><input type="checkbox" value="" name=""></div>
<div class="author">Mrs. Johnson</div>
<div class="title">Answers to Oliver Twist Assignment 3</div>
<div class="time">4:04 pm      </div>
</div>



<div class="message_brown">
<div class="cb"><input type="checkbox" value="" name=""></div>
<div class="author">Mrs. Johnson</div>
<div class="title">Answers to Oliver Twist Assignment 3</div>
<div class="time">4:04 pm      </div>
</div>

<div class="message_pink">
<div class="cb"><input type="checkbox" value="" name=""></div>
<div class="author">Mrs. Johnson</div>
<div class="title">Answers to Oliver Twist Assignment 3</div>
<div class="time">4:04 pm      </div>
</div>


<div class="message_yellow">
<div class="cb"><input type="checkbox" value="" name=""></div>
<div class="author">Mr. Chiavetta</div>
<div class="title">Extra Practice Questions </div>
<div class="time">3:00 pm      </div>
</div>

<div class="message_green">
<div class="cb"><input type="checkbox" value="" name=""></div>
<div class="author">Mrs. Johnson</div>
<div class="title">Answers to Oliver Twist Assignment 3</div>
<div class="time">4:04 pm      </div>
</div>


<div class="message_last">
<div class="cb"><input type="checkbox" value="" name=""></div>
<div class="author">Mrs. Johnson</div>
<div class="title">Answers to Oliver Twist Assignment 3</div>
<div class="time">4:04 pm      </div>
</div>

















</div>
		</div>
	</div>
	
	
	
		</div>
		<div class="content date">
<div id="row2_right">
<div id="topcurve"></div>
<div id="box_bg">










<div class="separator"></div>
<div class="pink_bg">

<div class="sn">5.</div>
<div class="icondiv2"></div>
<div class="assignment">Oliver Twist: Chapters 5-11</div>
<div class="points">10 /10</div>
<div class="due">7/30</div>

<div class="checkbox2"><input name="" type="checkbox" value="" /></div>
</div>

<div class="pink_bg">

<div class="sn">6.</div>
<div class="icondiv2"></div>
<div class="assignment">Oliver Twist: Chapters 5-11</div>
<div class="points">10 /10</div>
<div class="due">7/30</div>

<div class="checkbox2"><input name="" type="checkbox" value="" /></div>
</div>

<div class="pink_bg">

<div class="sn">7.</div>
<div class="icondiv2"></div>
<div class="assignment">Oliver Twist: Chapters 5-11</div>
<div class="points">10 /10</div>
<div class="due">7/30</div>

<div class="checkbox2"><input name="" type="checkbox" value="" /></div>
</div>

<div class="pink_bg">

<div class="sn">8.</div>
<div class="icondiv3"></div>
<div class="assignment">Oliver Twist: Chapters 5-11</div>
<div class="points">10 /10</div>
<div class="due">7/30</div>

<div class="checkbox2"><input name="" type="checkbox" value="" /></div>
</div>

</div>
<div id="bottom_curve"></div>

</div>

		</div>
		<div class="content type">
		<div id="row2_right">
<div id="topcurve"></div>
<div id="box_bg">

<div class="pink_bg">
<div class="sn">1.</div>
<div class="icondiv"></div>
<div class="assignment">Oliver Twist: Chapters 5-11</div>
<div class="points">10 /10</div>
<div class="due">7/30</div>
<div class="checkbox2"><input name="" type="checkbox" value="" /></div>
</div>


<div class="pink_bg">

<div class="sn">2.</div>
<div class="icondiv2"></div>
<div class="assignment">Oliver Twist: Chapters 5-11</div>
<div class="points">10 /10</div>
<div class="due">7/30</div>

<div class="checkbox2"><input name="" type="checkbox" value="" /></div>
</div>

<div class="pink_bg">

<div class="sn">3.</div>
<div class="icondiv2"></div>
<div class="assignment">Oliver Twist: Chapters 5-11</div>
<div class="points">10 /10</div>
<div class="due">7/30</div>

<div class="checkbox2"><input name="" type="checkbox" value="" /></div>
</div>

<div class="pink_bg">

<div class="sn">4.</div>
<div class="icondiv2"></div>
<div class="assignment">Oliver Twist: Chapters 5-11</div>
<div class="points">10 /10</div>
<div class="due">7/30</div>

<div class="checkbox2"><input name="" type="checkbox" value="" /></div>
</div>

<div class="separator"></div>
<div class="pink_bg">

<div class="sn">5.</div>
<div class="icondiv2"></div>
<div class="assignment">Oliver Twist: Chapters 5-11</div>
<div class="points">10 /10</div>
<div class="due">7/30</div>

<div class="checkbox2"><input name="" type="checkbox" value="" /></div>
</div>







</div>
<div id="bottom_curve"></div>

</div>
		</div>
	
</div>
<!--tab end-->

<script type="text/javascript" src="js/tabs.js"></script>



	</div>
	
	
		
	
	
	
  </div>
</div>
</body>
</html>