

 <div class="mc_heading">
	Assignments Questions
	
	</div>
<div class="row4">
<%= form_for :student_assignment, :url=>{:action=>"assign_ans", :controller=>"student_assignments", :student_assignment_id=>"#{params[:student_assignment_id]}"}, :html=>{:id=>'contactform', :multipart => true}  do |f| %>
	<table width="100%" border="0" align="center" cellpadding="10" cellspacing="2"> 
	<tbody>
		
 <% @ques.each do |q| %>
 <tr>
 	
 <td align="left" valign="top" class="tr_bg"><h4>Questions<h4><%= q.question %><br>
 	
 	<% if q.type_of_question == 0 %>
         <% Objquestion.find_all_by_question_id(q.id).each do |c| %>
         <%= radio_button_tag  "student_assignment[correct_answer][]", "#{c.id}" %><%= c.que %><br><br>
   <% end %>
   <% elsif q.type_of_question == 1 %>
         <%= f.text_area :description_answer,:size =>15 %>
    <% end %>
 
 <h4>Subquestions<h4>
        <% SubQuestion.find_all_by_question_id(q.id).each do |p| %>
        <%= p.subquestion %><br>
    <% if p.type_of_question == 0 %>
            <% Subobjquestion.find_all_by_sub_question_id(p.id).each do |q| %>
     
     <%= radio_button_tag  "correct_answer", "" %><%= q.que %><br><br>
   
  <% end %>
    <% elsif p.type_of_question == 1 %>
               <%= f.text_area :description_answer,:size =>15 %>
              
    <% end %>
  <% end %>
  
 </tr>

<% end %>
               <%= f.hidden_field :assignment_id, :value => params[:student_assignment_id] %>
    		   <%= f.hidden_field :user_id, :value => current_user.id %>  
               <%= f.submit "Save"  %>
<% end %>

    
</tbody></table>
	
	
	</div>