 

<div class="mc_heading">
	Manage Assignments
	
	</div>
 <div style="margin-bottom:10px; width:100%; height:auto; float:left">
	<div style="float:left; width:50%; height:auto; text-align:left">
	
</div> 

 <div class="row4">
  	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Assignment name</th>
			
		<th align="center" valign="top" class="table_heading">Assignment Type</th>
	    <th align="center" valign="top" class="table_heading">Due Dates</th>
	     <th align="center" valign="top" class="table_heading">Maximum Point</th>
	      <th align="center" valign="top" class="table_heading">unit</th>
	       <th align="center" valign="top" class="table_heading">Chapter</th>
	</tr>
	   
	   
	   <%  @student_assignments.each do |assignments| %>
	   
      <tr>
      	<td align="left" valign="top" class="tr_bg"><%= link_to assignments.name, new_student_assignment_assign_que_path(assignments.id)  %></td>
        
    	<td align="left" valign="top" class="tr_bg"><%= assignments.assignment_type%></td>
        <td align="left" valign="top" class="tr_bg"><%= assignments.due_date %>	</td>
    	<td align="left" valign="top" class="tr_bg"> <%= assignments.max_point %>	</td>
        	<td align="left" valign="top" class="tr_bg"> <%= Unit.find_by_id(assignments.unit_id).name%>	</td>
            <td align="left" valign="top" class="tr_bg"> <%= Chapter.find_by_id(assignments.chapter_id).name%>	</td>
       </tr>

    <% end %>
  </tbody></table>
		
 </div>		
      