<p><%= link_to 'Add SubTopic',{ :controller=>"sub_topics",:action => 'new', :topic_id => @topic_id }, :remote => true %></p>

<div class="row4">
  	<table width="100%" border="0" align="center border" cellpadding="10" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Topic Name</th>
		
	   
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>


	    <% for subtopic in @subtopics %>
		<tr id ="subtopic-<%= subtopic.id %>">
        <td align="left" valign="top" class="tr_bg"><%= subtopic.name %></td>
    	
    	
        <td align="left" valign="middle" class="tr_bg">
        <%= link_to "Edit", edit_sub_topic_path(subtopic), :remote => true,:class =>"td_link" %>
 	   <%= link_to "Delete", {:controller => "sub_topics", :action=> "destroy", :id=> "#{subtopic.id}" }, :remote=> true ,:class =>"td_link"%>
        </td>
       </tr>

    <% end %>
  </tbody></table>
		
 </div>		
		














