
<h1>Listing Sub Topics</h1>

<% if current_user.role? :admin %> 


   <p> Select Topic : <%= select("user", "topic_id", Topic.find(:all,:order => "name asc").collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"sub_topics", :action => "check_subtopic"}, :with => "'topic_id='+value")}"}) %></p>

 <% elsif current_user.role? :instituteadmin %> 
      <p> Select Topic : <%= select("user", "topic_id", Topic.find_all_by_institute_id(current_user.institute_id,:order => "name asc").collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"sub_topics", :action => "check_subtopic"}, :with => "'topic_id='+value")}"}) %></p>

 <% end %>


<br/><div id="modal-box" style="display:none;"></div>


<br/><div id="subtopic"></div>




