<%= form_for(@color) do |f| %>
<table> 
		
	<tr>
		<th align="justify"><%= f.label "Color" %></th>
		<td><%= f.text_field :color,:size =>15 %></td>
	</tr>
     
	<tr>
		<th align="justify"><%= f.label "Color code" %></th>
		<td><%= f.text_field :color_code,:size =>15 %></td>
	</tr>
    
<tr>
		<td>
		<div class="actions">
		<%= f.submit "Update", :class=>"signup_button" %>
		</div>
		</td>
		
	</tr>
<% end %>
</table>

