


<h1>Listing Colors</h1>


	<table cellpadding="10"  align=center border> 
	<tr><th>Colors
	<th>Color code	
		
	    <th colspan="3">Action
		<% @colors.each do |color| %>
		
	<tr>
		<td><%= color.color %>
    	<td><%= color.color_code %>	
	
		
		<td><%= link_to 'Show',color %>
   		<td><%= link_to 'Edit', edit_color_path(color) %>
   	    <td><a href="/colors/<%= color.id %>/delete" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip" >Delete</a>

<% end %>
</table>
      <br/>    

<%= link_to 'Add New Color', new_color_path %>

