 
<p>
  <h2>Subjects</h2>
   <table>
   	<tr>
  	<th align="right">Color name : </th>
    <td> <%= @color.color %></td>
   <th align="right">Color code : </th>
    <td> <%= @color.color_code %></td>
 
</table>
<%= link_to 'Back', colors_path %>
 