<% terms_val = params[:terms].nil? ? @subject.terms : params[:terms] %>

<% if terms_val == 'year' %>
<td align="right" valign="middle" class="tr_bg"><strong>Year </strong></td>
<td align="left" valign="top" class="tr_bg">
	<%= select_year(@subject.year.to_i, {:start_year => Time.now.year + 5, :end_year => Time.now.year - 95},  {:name => "subject[year]"}) %>
</td>

<% elsif terms_val == 'sem' %> 
<td align="right" valign="middle" class="tr_bg"><strong>Semester </strong></td>
<td align="left" valign="top" class="tr_bg"><%= select("institution", "sem",  { "Fall" => "Fall", "Spring" => "Spring", "Summer" => "Summer"}) %><%= select_year(@subject.sem.to_i, {:start_year => Time.now.year + 5, :end_year => Time.now.year - 95}, {name: "subject[sem]"}) %>
</td>
<% end %>