

<p><%= link_to 'Add Courses',{ :controller=>"subjects",:action => 'new', :class_id => @class_id }, :remote => true %></p>

<div class="row4">
  	<table width="100%" border="0" align="center border" cellpadding="10" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Course</th>
		
	   
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>


	    <% for subject in @subjects %>
		
		 <tr id ="subject-<%= subject.id %>">
        <td align="left" valign="top" class="tr_bg"><%= subject.name %></td>
    	
    	
        <td align="left" valign="middle" class="tr_bg">
       <%= link_to "Edit", edit_subject_path(subject), :remote => true ,:class =>"td_link"%>|
 	   <%= link_to "Delete", {:controller => "subjects", :action=> "destroy", :id=> "#{subject.id}" },:class =>"td_link" %>
        </td>
       </tr>

    <% end %>
  </tbody></table>
		
 </div>		
		























