<%= form_for(@subject, :remote => true) do |f| %>
  <div id="form-errors"></div>
<table> 
		
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Name </strong></td>
		<td align="left" valign="top" class="tr_bg"><%= f.text_field :name, :class=>"textfield3" %></td>
	<% if current_user.role? :admin %> 
        	<div>
           <%= f.label :institute_id %><br />
          <%= f.collection_select :institute_id, Institution.all(:order => "id"), :id, :Name %>
          <%= f.submit "Save", :class=>"signup_button", style: "float:right" %>
       </div><br/>
      
    <% end %>
   
	 	    <% if current_user.role? :instituteadmin %> 
			    <%= f.hidden_field :institute_id, :value => current_user.institute_id %>
			<% end %>
	</tr>
	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Days </strong></td>
			<td align="left" valign="top" class="tr_bg"><%= select_tag("day_ids[]", options_for_select(Day.find(:all).collect { |cat| [cat.day, cat.id] }, @subject.days.collect { |cat| cat.id}), {:multiple=>true, :size=>7}) %></td>
    </tr> 

    <tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Time </strong></td>
		<td align="left" valign="top" class="tr_bg"><%= time_select :subject, :start_time, {:ampm => true}, :prompt => true %> &nbsp;&nbsp;to &nbsp;&nbsp;
    <%= time_select :subject, :end_time, {:ampm => true}, :prompt => true %>
		
		</td>
    </tr>

	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Location </strong></td>
    	<td align="left" valign="top" class="tr_bg">
    		<%= f.text_field :subject_location,:class=>"textfield3" %></td>
  	</tr>
    <tr>
      <td align="right" valign="middle" class="tr_bg"><strong>Teachers </strong></td>
      <td align="left" valign="top" class="tr_bg">
        <%= text_field_tag 'subject_teachers', nil, placeholder: "search teachers" %>
        <% existing_ids = @subject.new_record? ? "" : @subject.teachers.collect(&:id).join(",")%>
        <input type="hidden" id="teachers" name="teachers" value="<%= existing_ids %>"></input>
        <div class="show_teachers">
          <ul>
            <% unless(@subject.new_record?)%>
              <% @subject.teachers.each do |teacher|%>
                <li data-id='<%= teacher.id%>'><%= teacher.fullname%>  <a class='remove'>x</a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td align="right" valign="middle" class="tr_bg"><strong>Students </strong></td>
      <td align="left" valign="top" class="tr_bg">
        <%= text_field_tag 'subject_students', nil, placeholder: "search students" %>
        <% existing_ids = @subject.new_record? ? "" : @subject.students.collect(&:id).join(",")%>
        <input type="hidden" id="students" name="students" value="<%= existing_ids %>"></input>
        <div class="show_students">
          <ul>
            <% unless(@subject.new_record?)%>
              <% @subject.students.each do |student|%>
                <li data-id='<%= student.id%>'><%= student.name_label%>  <a class='remove'>x</a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </td>
    </tr>
  	<tr>
		<td align="right" valign="middle" class="tr_bg"><strong>Seats </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= f.text_field :seats,:class=>"textfield3" %></td>
  	</tr>
  	<tr>
  		<% subject_id = @subject.new_record? ? -1 : @subject.id%>
    		<td align="right" valign="middle" class="tr_bg"><strong>Term </strong></td>
        <td align="left" valign="top" class="tr_bg"><%= f.select( :terms,  { "Year" => "year", "Semester" => "sem"}, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"subjects", :action => "check_terms", id: subject_id }, :with => "'terms='+value")}"}) %></td>
  	</tr>
	<tr id="term">
      <%= render "check_terms"%>
  </tr>
	<tr>
  		<td align="right" valign="middle" class="tr_bg"><strong>Code </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= f.text_field :code,:class=>"textfield3" %></td>
  	</tr>
  	<tr>
  		<td align="right" valign="middle" class="tr_bg"><strong>Credits </strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= f.text_field :credits, value: number_with_precision(@subject.credits, :precision => 2) %></td>
  	</tr>
  	<tr>
  		<td align="right" valign="middle" class="tr_bg"><strong>Description</strong></td>
    	<td align="left" valign="top" class="tr_bg"><%= f.text_area :description, :rows=>"3" %></td>
  	</tr>

    
	
<% end %>
</table>
