



<!--  <% if current_user.role? :admin %> 
           <p> Select Class : <%= select("user", "class_id", EduClass.find(:all,:order => "class_name asc").collect {|p| [ p.class_name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"subjects", :action => "check_subject"}, :with => "'class_id='+value")}"}) %></p>
  <% elsif current_user.role? :instituteadmin %> 
            <p> Select Class : <%= select("user", "class_id", EduClass.find_all_by_institute_id(current_user.institute_id,:order => "class_name asc").collect {|p| [ p.class_name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"subjects", :action => "check_subject"}, :with => "'class_id='+value")}"}) %></p>

 <% end %> -->


<br/><div id="modal-box" style="display:none;"></div>


<br/><div id="subject">


<p><%= link_to 'Add Courses',{ :controller=>"subjects",:action => 'new', :class_id => @class_id }, :remote => true %></p>

<div class="row4">
  	<table width="100%" border="0" align="center border" cellpadding="10" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Courses</th>
		
	   
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>


	    <% for subject in @subjects %>
		
		 <tr id ="subject-<%= subject.id %>">
        <td align="left" valign="top" class="tr_bg"><%= subject.name %></td>
    	
    	
        <td align="left" valign="middle" class="tr_bg">
       <%= link_to "Edit", edit_subject_path(subject), :remote => true ,:class =>"td_link"%>|
 	   <%= link_to "Delete", {:controller => "subjects", :action=> "destroy", :id=> "#{subject.id}" }, :class =>"td_link" %>
        </td>
       </tr>

    <% end %>
  </tbody></table>
		
 </div>		
		
</div>