<% if( current_user.role? :admin) || (current_user.role? :instituteadmin ) || (current_user.role? :student ) || (current_user.role? :teacher )  %>
  <div id="row2">
   
    <div id="course_colum">
  
    <div style="margin-bottom:10px">
      <div class="courses_title"><img src="/assets/courses_title.png" alt="" /></div>
      <% if( current_user.role? :admin) || (current_user.role? :instituteadmin ) || (current_user.role? :teacher ) %>
      <div class="attendance_title"><img src="/assets/attendance_title.png" alt="" width="122" height="22" /></div>
      <% end %>
    </div>

     <% @edu_classes.each do |subject| %>
      <div style="width:100%; height:auto; float:left;  %>">
        <div class="course_shadow"><%= link_to subject.name,{:controller=>"course_classes", :action=>"index", :course_id=>"#{subject.id}"} ,{:style => "background:#{ current_user.get_color_for(subject.id)}", :class=>"class_history"} %> </div>
        <% if( current_user.role? :admin) || (current_user.role? :instituteadmin ) || (current_user.role? :teacher ) %>
       <div class="course_shadow2">   <%= link_to "", course_student_infos_path(subject.id) , {:style=>"background:url('/assets/avatar.png') no-repeat scroll center 13px #{current_user.get_color_for(subject.id)};", :class=>"english_attendance"} %></div>
        <% end %>
      </div>
     <% end %>
     <div class="course_shadow">
       <a href="javascript:void(0);" class="class_history">Class History </a></div>
     </div>
    </div>
  </div>
  
<% end %>