<div id="row2">
<% shown_title = false %>
<% shown_title1 = false %>

<% @edu_classes.each do |subject| %>
<div id="course_colum">
	<% unless shown_title %>
<div style="margin-bottom:10px"><img src="/assets/courses_title.png" alt="" /></div>
<% shown_title = true %>
    <% end %>
<div class="course_shadow">
   <%= link_to subject.name,{:controller=>"course_classes", :action=>"index", :course_id=>"#{subject.id}", :class_id=>"#{subject.class_id}"} ,{:style=>"background:#{current_user.get_color_for(subject.id)};", :class=>"english"} %>

  </a></div>

</div>
  <% if( current_user.role? :admin) || (current_user.role? :instituteadmin ) || (current_user.role? :teacher )  %>
  <div id="attendance">
    <% unless shown_title1 %>
      <div style="margin-bottom:10px"><img src="/assets/attendance_title.png" alt="" /></div>
    <% shown_title1 = true %>
    <% end %>

      <%= link_to "", nil , {:style=>"background:url('/assets/avatar.png') no-repeat scroll center 13px #{current_user.get_color_for(subject.id)};", :class=>"english_attendance"} %>
  
  </div>
  <% end %>
  
  <%end%>
   </div>
  
  
  <% unless shown_title %>
      <p>Subject not added yet !</p>
    <% end %>

