<p><%= link_to 'Add Chapter',{ :controller=>"chapters",:action => 'new', :unit => @unit_id }, :remote => true %></p>


<div class="row4">
  	<table width="100%" border="0" align="center border" cellpadding="10" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Chapter Name</th>
		
	   
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>


	    <% for chapter in @chapters %>
		
		 <tr id ="chapter-<%= chapter.id %>">
        <td align="left" valign="top" class="tr_bg"><%= chapter.name %></td>
    	
    	
        <td align="left" valign="middle" class="tr_bg">
      <%= link_to "Edit", edit_chapter_path(chapter), :remote => true ,:class =>"td_link"%>|
 	   <%= link_to "Delete", {:controller => "chapters", :action=> "destroy", :id=> "#{chapter.id}" }, :remote=> true ,:class =>"td_link"%>
        </td>
       </tr>

    <% end %>
  </tbody></table>
		
 </div>		
		

























