<%= form_for @chapter, :remote => true do |f| %>
  <% if current_user.role? :admin %> 
        <div>
           <%= f.label :institute_id %><br />
          <%= f.collection_select :institute_id, Institution.all(:order => "id"), :id, :Name, :selected => 15 %>
       </div><br/>
      
  <% end %>
  <div id="form-errors"></div>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
      
    <% if @chapter.unit_id %>
      <%= f.hidden_field :unit_id, :value=>"#{@chapter.unit_id}" %>
    <% else %>
    <%= f.hidden_field :unit_id, :value=>"#{params[:unit]}" %>
    <% end %>
     <% if current_user.role? :instituteadmin %> 
	    <%= f.hidden_field :institute_id, :value => current_user.institute_id %>
   	<% end %>
  </p>
  
  <p><%= f.submit "Submit" %></p>
<% end %>