


<h1>Listing Chapters</h1>

 <% if current_user.role? :admin %> 

         <p> Select Unit : <%= select("user", "unit_id", Unit.find(:all,:order => "name asc").collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"chapters", :action => "check_chapter"}, :with => "'unit_id='+value")}"}) %></p>

   <% elsif current_user.role? :instituteadmin %> 

     <p> Select Unit : <%= select("user", "unit_id", Unit.find_all_by_institute_id(current_user.institute_id,:order => "name asc").collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"chapters", :action => "check_chapter"}, :with => "'unit_id='+value")}"}) %></p>

   <% end %>

<br/><div id="modal-box" style="display:none;"></div>


<br/><div id="chapter"></div>




