<div id='topic' style="text-align:left" class="scrollable_list">
  <h2><%= @topic.subject%></h2>
  <span class="back"><%= link_to "Back", forem.forum_path(@topic.forum.id), remote: true%></span>
  <menu>
    <% if @topic.user == forem_user && forem_user.teacher? %>
      <%= link_to t(".delete"), forem.forum_topic_path(@forum, @topic), :method => :delete, :confirm => t("are_you_sure") , remote: true%>
    <% end %>
    <% if @topic.can_be_replied_to? && can?(:reply, @topic) %>
      <%= link_to t(".reply"), forem.new_topic_post_path(@topic), remote: true %>
    <% end %>
  </menu>

  <div id='posts' >
    <%= render :partial => "forem/posts/post", :collection => @posts %>
  </div>

</div>
