<% if @topic.valid? %>
jQuery("#topic_list").append('<tr><td><%= @index %></td><td class="topic_subject"><%= link_to @topic.subject, forem.forum_topic_path(@forum, @topic), remote: true %></td><td><% last_post = @topic.posts.last%><%= "#{time_ago_in_words(last_post.created_at)} #{t("ago_by")} #{last_post.user.fullname}" %></td><td><%= @topic.posts.count%></td><td><%= @topic.views_count %></td></tr>')
jQuery.facebox.close()
<% end %>