<h2>New Topic</h2>
<%= simple_form_for [forem, @forum, @topic] do |f| %>
  <%= f.input :subject %>

  <%= f.simple_fields_for :posts do |post| %>
    <%= render :partial => "forem/posts/form", :locals => { :f => post }%>
  <% end %>
  
  <%= f.submit remote: true, class: 'forum_overlay_submit' %>
<% end %>
