  <div style="margin-bottom:10px; width:100%; height:auto; float:left">
    <div style="float:left; width:50%; height:auto; text-align:left">
      <img src="/assets/add.png" alt="" width="24" height="24" border="0" align="absmiddle" /><a class="table_heading_link" href="<%= admin_people_add_path(params[:type])%>">Add</a></div>
    </div> 

    <div class="row4" style="height: 60%; position: absolute;top:220px">
      <div class="people_list_container scrollable_list">

      <table width="100%" border="0" align="center" cellpadding="5" cellspacing="2"> 
        <tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading"><%= sortable "last_name" %></th>
          <th align="center" valign="top" class="table_heading"><%= sortable "first_name"%></th>
          <th align="center" valign="top" class="table_heading">Class</th>

          <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>

        </tr>

        <% @users.each_with_index do |s| %>
        <tr class="admin_student_link" data-student="<%= student_show_admin_people_path(s.id, sort: params[:sort], direction: params[:direction], search: params[:search])%>">
          <td align="left" valign="top" class="tr_bg"> <%= s.last_name %></td>
          <td align="left" valign="top" class="tr_bg"><%= s.first_name %> </td>
          <td align="left" valign="top" class="tr_bg"><%= EduClass.find_by_id(s.class_id).class_name rescue "" %></td>

          <td align="left" valign="middle" class="tr_bg">
           <%= link_to 'Edit', admin_people_edit_path(params[:type], s.id), :class =>"td_link" %>
           <a href="/users/<%= s.id %>/delete" class = "td_link" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip"  >Delete</a>

         </td>
       </tr>

       <% end %>
     </tbody></table>
   </div>
     

   </div>