<% unless @student_profile.nil? %>
<script>
jQuery(document).ready(function(){
});
</script>
<!-- <%= stylesheet_link_tag "tab2" %>
   <%= stylesheet_link_tag "subject" %>
   <%= stylesheet_link_tag "facebox" %> -->
<div id="container_head">

	<div class="profile_pic">
	    <% if @student_profile.photo.url(:small) == "/photos/small/missing.png" %> 
	  		<img src="/assets/photo-1.png" style="box-shadow: 0 0 10px black;border-radius: 15px;">
	  	<% else %>
	        <%= image_tag @student_profile.photo.url(:small)%>
	    <% end %>
	</div>

	<div class="profile_content">
		<div class="previous_student" data-link='<%= student_show_admin_people_path(@user_list.previous, sort: params[:sort], direction: params[:direction], search: params[:search]) %>'></div>
		<div class="user_name">
			<%= @student_profile.last_name.capitalize %>, <%= @student_profile.first_name.capitalize %>
		</div>
		<div class="next_student" data-link='<%= student_show_admin_people_path(@user_list.next, sort: params[:sort], direction: params[:direction], search: params[:search]) %>'></div><br>
	  <div class="user_grade">
	  	<%= @grade.class_name %> Grade
	  </div>
	  
	  <div> 
	  	<ul class="menu">
			<li class="gradebook gradebook_active"></li>
			<li class="discipline"></li>
			<li class="contacts"></li>
			<li class="report_card"></li>
		</ul>
	  </div>
					
	</div>
</div>

<div id="container_body">
	<div class="class_list">
		<div class='batch_of'>
			<div class="prev_batch"></div>
			<span>FALL 2012</span>
			<div class="next_batch"></div>
		</div>
		<div class="subject_list">
			<% @subjects.each do |subj| %>
			<div class="subject_box">
				<div class="subject_color_holder"><div class="subject_color"></div></div>
				<div class="subject_details">
					<div class="subject_name"><%= subj.name.capitalize %></div>
					<div class="subject_location"><%= @grade.class_location %></div>
					<div class="subject_timing">MW 5:15-6:45 pm</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="selected_menu_details">
		<div style="border-bottom: 1px solid grey; position: absolute;">
			<span style="margin-left: 125px">Assignment</span>
			<span style="margin-left: 100px">Score/Max</span>
			<span style="margin-left: 110px; width:">Date</span>
		</div>
	</div>
</div>
<% end %>
