
<p><%= link_to 'Add Unit',{ :controller=>"units",:action => 'new', :subject => @subject_id }, :remote => true %></p>


<div class="row4">
  	<table width="100%" border="0" align="center border" cellpadding="10" cellspacing="2"> 
	<tbody><tr class="pretty"> <th align="center" valign="top" class="table_heading">Class name</th>
		
	   
	    <th width="37%" colspan="3" align="center" valign="top" class="table_heading">Action</th>
	    
	</tr>


	    <% for unit in @units %>
		
		 <tr id="unit-<%= unit.id %>">
        <td align="left" valign="top" class="tr_bg"><%= unit.name %></td>
    	
    	
        <td align="left" valign="middle" class="tr_bg">
        <%= link_to "Edit", edit_unit_path(unit), :remote => true ,:class =>"td_link"%>|
 		<%= link_to "Delete", {:controller=>"units", :action=>"destroy", :id=>"#{unit.id}"}, :remote=> true,:class =>"td_link" %>
        </td>
       </tr>

    <% end %>
  </tbody></table>
		
 </div>		
		


























