


<h1>Listing units</h1>

<% if current_user.role? :admin %> 

    <p> Select Subject : <%= select("user", "subject_id", Subject.find(:all,:order => "name asc").collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"units", :action => "check_unit"}, :with => "'subject_id='+value")}"}) %></p>

 <% elsif current_user.role? :instituteadmin %> 
       <p> Select Subject : <%= select("user", "subject_id", Subject.find_all_by_institute_id(current_user.institute_id,:order => "name asc").collect {|p| [ p.name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"units", :action => "check_unit"}, :with => "'subject_id='+value")}"}) %></p>

 <% end %>


<br/><div id="modal-box" style="display:none;"></div>


<br/><div id="unit"></div>


