*{outline:none;}
.people_icon{
	background: url(/assets/people1.png) no-repeat 0  0;
	cursor: pointer;
	left: 421px;
	top: 0px;
	width: 198px;
	height: 129px;
	z-index: 100000;
	display: inline-block;
}

.people_icon:hover{
	background: url(/assets/people3.png);
}

.searchfield_new {width:129px; height:26px; padding:0 10px 0 15px; float: left; background:url(/assets/search_bg.png) no-repeat; border:none; position:relative;}
.search_button{ width:34px; height:27px; float:left; background:url(/assets/search_button.png) no-repeat; border:0; cursor:pointer }

.former_sel{
	background: url(/assets/former-1.png) no-repeat 0 0;
}

.current_sel{
	background: url(/assets/current-1.png) no-repeat 0 0;
}

.current_sel:active, .current_selected{
	background: url(/assets/current-2.png) no-repeat 0 0;

}

.former_sel:active{
	background: url(/assets/former-2.png) no-repeat 0 0;
}

.cur_for{
width: 65px;
height: 40px;
text-align: center;	
text-decoration: none;
float: left;
}


.people_icon_links{
width: 184px;
height: 58px;
float: left;
margin-right: 10px;
}

.stduents_icon{
	background: url(/assets/students-1.png) no-repeat 0 0;	
}
.stduents_icon:active, .students_icon_selected{
	background: url(/assets/students-2.png) no-repeat 0 0;	
}

.teachers_icon{
	background: url(/assets/teachers-1.png) no-repeat 0 0;	
}
.teachers_icon:active, .teachers_icon_selected{
	background: url(/assets/teachers-2.png) no-repeat 0 0;	
}

.admin_icon{
	background: url(/assets/admin-1.png) no-repeat 0 0;	
}
.admin_icon:active, .admin_icon_selected{
	background: url(/assets/admin-2.png) no-repeat 0 0;	
}
.admin_small{
	width: 70px;
	height: 71px;
	float: left;
}
.people_list_container{
	min-height: 100px;
	height: 80%;
	position: absolute;
	width: 927px;

}
.admin_book_small{
	background: url(/assets/courses-1.png) no-repeat 0 5px;
}
.admin_book_small:hover{
	background: url(/assets/courses-2.png) no-repeat 0 5px;
}
.admin_book_small:active{
	background: url(/assets/courses-3.png) no-repeat 0 5px;
}

.admin_home_small{
	background: url(/assets/admin_link-1.png) no-repeat 0 5px;
}

.admin_home_small:hover{
	background: url(/assets/admin_link-2.png) no-repeat 0 5px;	
}

.admin_home_small:active{
	background: url(/assets/admin_link-3.png) no-repeat 0 5px;	
}

.student_show_popup_frame{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#E0E0E0), color-stop(100%,rgb(172, 172, 172)) );
	background: -moz-linear-gradient(top, #E0E0E0 50%, rgb(172, 172, 172) 100%); /* FF3.6+ */
	width:970px;
	min-height: 535px;
	padding-bottom: 20px;
	border: inset 1px black;
	box-shadow: 2px 0px 8px black, inset 0px -6px 6px black;
	-moz-border-radius:20px !important;
	-webkit-border-radius: 20px !important;
}

#container_head {
	font-family:Arial, Helvetica, sans-serif; height:150px;
}

#container_head .profile_pic{
	width: 265px;
	float: left;
	text-align: center;
}

#container_head .profile_content{
	width: 625px;
	float: right;
}

#container_head .profile_content .previous_student{
	position: relative;
	display: inline-block;
	width: 31px;
	height: 27px;
	float: left;
	background-image: url('prev_student.png');
	margin-left: 30px;
}

#container_head .profile_content .previous_student:hover{
	background-image: url('prev_student-2.png');
	cursor: pointer;
}

#container_head .profile_content .user_name{
	font-size: 31px;
	color: #333;
	top: -5px;
	float: left;
	position: relative;
	margin: 0px 30px;
}

#container_head .profile_content .next_student{
	display: inline-block;
	position: relative;
	width: 31px;
	height: 27px;
	background-image: url('next_student-1.png');
	float: left
}

#container_head .profile_content .next_student:hover{
	background-image: url('next_student-2.png');
	cursor: pointer;	
}

#container_head .profile_content .user_grade{
	position: relative;
	left: 135px;
	font-size: 20px;
	color: #333;
	width: 400px;
	display: inline-block;
}

#container_head ul{
   font-size: 12px;
   border-radius: 10px;
   -moz-border-radius:10px;
   list-style: none outside none;
   position: relative;
   width:auto; left:0; padding:0; margin:5px 0 0 0; height:33px;
}
#container_head ul.menu li{
	float: left;
	margin-bottom: -1px;
	height: 73px;
	width: 93px;
	cursor:pointer;
}

 .gradebook
{
	background: url(/assets/tab_gradebook-1.png) no-repeat 0  0;
}
.gradebook_active
{
	background: url(/assets/tab_gradebook-2.png) no-repeat 0  0 !important;
}
 .discipline
{
	background: url(/assets/tab_discipline-1.png) no-repeat 0  0;
}

 .discipline_active
{
	background: url(/assets/tab_discipline-2.png) no-repeat 0  0 !important;
}

 .contacts
{
	background: url(/assets/tab_contacts-1.png) no-repeat 0  0;
}

 .contacts_active
{
	background: url(/assets/tab_contacts-2.png) no-repeat 0  0 !important;
}

.report_card
{
	background: url(/assets/tab_report-1.png) no-repeat 0  0;
}

.report_card_active
{
	background: url(/assets/tab_report-2.png) no-repeat 0  0 !important;
}
#container_body {
	width: 950px;
}

#container_body .class_list {
	width: 210px;
	float: left;
	height: 355px;
	margin-top: 10px;
	margin-left: 30px;
	border: 2px solid #8A8888;
	border-radius: 10px;
	-moz-border-radius:10px;
	background-color: white;
}

#container_body .class_list .batch_of{
	height: 25px;
	border-bottom: 2px solid #8A8888;
	color: #6C6C6C;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
	padding: 8px 10px 0 10px;
}

.batch_of .prev_batch{
	background-image: url('term_prev-1.png');
	float: left;
	width: 25px;
	height: 22px;
}

.batch_of span{
	float: left;
	padding: 0px 37px;
}

.batch_of .prev_batch:hover{
	background-image: url('term_prev-2.png');
	cursor: pointer;
}

.batch_of .next_batch{
	background-image: url('term_next-1.png');
	float: left;
	width: 25px;
	height: 22px;
}

.batch_of .next_batch:hover{
	background-image: url('term_next-2.png');
	cursor: pointer;
}

#MB_content
{
	margin-top: -20px;
	padding-bottom: 0px;
}

.subject_list{
	width: 100%;
	overflow: auto;
}

.subject_box{
	height: 60px;
	padding-top: 20px;
}

.subject_box .subject_color_holder{
	float: left;
	width: 60px;
}

.subject_color_holder .subject_color{
	margin: 0px 4px 0px 10px;
	border: 1px solid black;
	background-color: red;
	border-radius: 5px;
	-moz-border-radius:5px;
	height: 40px;
	width: 50px;
}

.subject_color_holder .subject_color:hover{
	cursor: pointer;
}

.subject_details{
	width: 125px;
	position: relative;
	float: right;
	text-align: left;
}

.subject_details .subject_name {
	font-size: 14px;
}

.subject_details .subject_location{
	color: #6C6C6C;
	font-size: 14px;
}
.subject_details .subject_timing{
	color: #6C6C6C;
	font-size: 14px;
}

#container_body .selected_menu_details{
	height: 354px;
	width: 650px;
	border: 2px solid #8A8888;
	border-radius: 10px;
	-moz-border-radius:10px;
	position: relative;
	top: 10px;
	left: 270px;
	background-color: white;
}