// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fc-event-skin {
    background-color: #3366CC;
    border-color: #3366CC;
    color: #FFFFFF;
}
