/* CSS Document */
body{ background:url(/assets/bg.jpg) ;
 margin:0; font-size:22px; font-family:'MyriadProLightBold', Arial, Helvetica, sans-serif; color:#333333}
   	
#maindiv{ width:100%; height:auto;}
	
#wraper{ width:947px; height:auto;}
.gradient { 
 overflow:hidden;
background:-moz-radial-gradient(center center, rgba(0,0,0,0.1) 15%, rgba(0,0,0,0.5) 60%);background:-webkit-radial-gradient(center center, rgba(0,0,0,0.1) 15%, rgba(0,0,0,0.5) 60%);
/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: absolute;
	top: 0;
	left: 0;
}				
#loginbox_wraper{ width:100%; height:auto; overflow: hidden; padding:10px 0 10px 0; float:left}

.loginbox{ width:280px; height:auto; overflow: hidden; text-align:left; background:#FFFFFF; border:1px solid #cfdede; padding:30px;
-moz-box-shadow: 0px 0px 20px #000;
-webkit-box-shadow: 0px 0px 20px #000;
box-shadow: 0px 0px 20px #000; margin:10px;

}


.textfield{box-shadow:inset 4px 4px 4px #434343; #fff repeat-x; width:260px; padding:8px; border:1px solid #7f7f7f; color:#6C6C6C}

.login_row{ padding:5px 0 5px 0}

.login_enter{width:266px; height:51px; background:url(/assets/login_enter.jpg) no-repeat; border:0; cursor:pointer; margin:15px 0 15px 0; color:#FFFFFF; font-size:20px;}

.star{ color:#01b3b3; font-weight:bold}

.fp{ font-size:14px; color:#666666; text-decoration:none}
.fp:hover{color:#000;}


.signin_title{ background:#4082a9; width:200px; text-align:center; padding:5px; color:#FFFFFF; -moz-box-shadow:4px 4px 4px #000000;
    -webkit-box-shadow:4px 4px 4px #000000;box-shadow:4px 4px 4px #000000;}

.flash{color: #FE1717;font: 13px "Trebuchet MS",Arial,Helvetica,sans-serif,sans-serif;}