/* CSS Document */

.book_small{ width:88px; height:71px; float:left; background:url(/assets/book_small2.png) no-repeat 0 5px}
.book_small:hover{background:url(/assets/book_small2_hover.png) no-repeat 3px -3px}
.book_small:active {background:url(/assets/book_small2.png) no-repeat 0 -154px }


@font-face {
    font-family: 'MyriadProLightBold';
    src: url('myriadpro-semibold-webfont.eot');
    src: url('myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-semibold-webfont.woff') format('woff'),
         url('myriadpro-semibold-webfont.ttf') format('truetype'),
         url('myriadpro-semibold-webfont.svg#MyriadProLightBold') format('svg');
    font-weight: normal;
    font-style: normal; font-size:22px}
	
body{ background:url(/assets/bg.jpg); margin:0; font-size:22px; font-family:'MyriadProLightBold', Arial, Helvetica, sans-serif}
   	
#maindiv{ width:100%; height:auto;}
	
#wraper{ width:947px; height:auto;}

#row1{ width:100%; height:auto; background:url(/assets/divider.jpg) bottom center no-repeat; overflow:hidden; padding:0 0 20px 0}

.cloud_div{ width:171px; height:171px; float:left; margin:0 0 0 385px}
.cloud_div2{ width:263px; height:82px; float:left; margin:0; margin:10px 0 0 0}

.book_div{ width:139px; height:115px; float:left; margin:0; margin:0 0 0 150px}

.course_e_button{ width:139px; height:106px; float:left; background:url(/assets/course_e_button2.png) no-repeat 0 0}
.course_e_button:hover{ background-position: 0 -110px;}
.course_e_button:active { background-position: 0 -225px;}

.cloud{ width:171px; height:171px; float:left; background:url(/assets/cloud2.png) no-repeat}
.cloud:hover{background-position:0 -171px}

.cloud2{ width:80px; height:81px; float:left; background:url(/assets/home_e_button2.png) no-repeat 0 0; margin:0 20px 0 0}
.cloud2:hover{ background-position:0 -81px}
.cloud2:active { background-position:0 -162px}

.button{ width:168px; height:auto; float:right; margin:5px 20px 0 0}

.setting{ width:72px; height:68px; float:right; background:url(/assets/setting2.png) no-repeat 0 8px}
.setting a:hover 	{ background-position:0 -57px}
.setting a:active 	{ background-position:0 -127px}


.logout{ width:72px; height:68px; float:right; background:url(/assets/logout2.png) no-repeat 0 8px; }
.logout a:hover 	{ background-position:0 -56px}
.logout a:active 	{ background-position:0 -127px}

#row1_right{ width:654px; height:auto;  float:left; text-align:right; margin:0 0 10px 0}

.search{ width:200px; height:auto; float:right; text-align:left;}
.searchfield{width:177px; height:26px; padding:0 10px 0 15px; background:url(/assets/search_bg.png) no-repeat; border:none; position:relative; top:-32px;}

#row2{ width:100%; height:auto; padding:10px 0 10px 0}
#row2_left{ width:293px; height:auto; float:left; text-align:left}
#row2_right{ width:654px; height:auto; overflow:hidden; float:left; text-align:left}
.assignment_list{height: 90% !important;min-height: 0px !important; background: transparent!important;}
.scrollable_list{position: absolute !important; overflow-y: auto !important;background: whitesmoke;}
.scrollable_list::-webkit-scrollbar{width:8px;height:9px;}
.scrollable_list::-webkit-scrollbar-button:start:decrement,#doc ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
.scrollable_list::-webkit-scrollbar-track{background-color:rgb(150, 150, 150);-webkit-border-radius:6px;}
.scrollable_list::-webkit-scrollbar-thumb:vertical{height:50px;background-color:rgb(80, 80, 80);-webkit-border-radius:6px;}
.scrollable_list::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:rgb(80, 80, 80);-webkit-border-radius:6px;}
.scrollable_list::-webkit-scrollbar-thumb:hover{height:50px;background-color:rgb(50, 50, 50);-webkit-border-radius:6px;}

#topcurve{ width:654px; height:14px; float:left; background:url(/assets/top_curve.png) no-repeat}

#bottom_curve{ width:654px; height:10px; float:left; background:url(/assets/bottom_curve.png) no-repeat}

.courses{ width:271px; height:72px; float:left; background:url(/assets/courses2.png) no-repeat 0 0; padding:200px 0 0 0; margin-left:32px; color:#FFFFFF; text-decoration:none}
.courses:hover{ background-position:-1px -272px}
.courses:active { background-position:0 -544px}

.dashboard_icons{width:271px; height:72px; float: left; padding:200px 0 0 0; margin-left:32px; color:#FFFFFF; text-decoration:none;}
.people_dashboard{background:url(/assets/people_button.png) no-repeat 0 0;  background-position: center;}
.people_dashboard:hover{background:url(/assets/people_hover.png) no-repeat 0 0; background-position: center;}
.people_dashboard:active{background:url(/assets/people_click.png) no-repeat 0 0; background-position: center;}

.administration_dashboard{background:url(/assets/admin_button.png) no-repeat 0 0;  background-position: center;}
.administration_dashboard:hover{background:url(/assets/admin_hover.png) no-repeat 0 0; background-position: center;}
.administration_dashboard:active{background:url(/assets/admin_click.png) no-repeat 0 0; background-position: center;}

.calendar1{ width:271px; height:72px; float:left; background:url(/assets/calender2.png) no-repeat 0 0; padding:200px 0 0 0; margin-left:32px; color:#FFFFFF; text-decoration:none}
.calendar1:hover{background-position:0 -272px}
.calendar1:active {background-position:0 -543px}


.message{ width:271px; height:72px; float:left; background:url(/assets/message2.png) no-repeat 0 0; padding:200px 0 0 0; margin-left:32px; color:#FFFFFF; text-decoration:none}
.message:hover{ background-position:0 -271px}
.message:active { background-position:0 -543px}

#reminders{ width:100%; height:19px; overflow:hidden; padding:0 0 5px 0; background: url(/assets/reminders.png) no-repeat top center}
#row3{ width:900px; height:auto; background: none repeat scroll 0 0 rgb(243, 243, 243); border-radius: 10px 10px 10px 10px; box-shadow: 3px 4px 3px rgb(68, 68, 68) inset;
    height: auto; margin: 20px 0; overflow: hidden; padding: 0 20px 20px 20px;}

 .subject_row { float: left; height: auto; margin: 20px 0 0; width: auto;}

.row4{ width:927px; height:auto; margin:20px 0 20px 0; overflow:hidden; padding:20px; border-radius:10px; background:#f3f3f3; 

    -moz-box-shadow:inset 3px 4px 3px #444444;
    -webkit-box-shadow:inset 3px 4px 3px #444444;
    box-shadow:inset 3px 4px 3px #444444;

}


.mc_heading{ width:927; height:auto; margin:10px 0 10px 0; overflow:hidden; padding:10px; border-radius:10px; color:#fff; font-size:30px

}

.colum{ width:300px; height:auto; float:left; text-align:left}
.colum_row1{ width:100%; height:auto; float:left; text-align:left; margin:0 0 10px 40px}

.green{ width:277px; height:43px; float:left; background:#defde4 ;color:#000; text-decoration:none; font-size:14px; padding:5px 0 0 5px; border:1px solid #8fa292; border-radius:7px; margin:1px 0 1px 0; -moz-box-shadow:1px 1px 1px #c4c3c3; -webkit-box-shadow:1px 1px 1px #c4c3c3; box-shadow:1px 1px 1px #c4c3c3;}

.green:active { background:#defde4; -moz-box-shadow:inset -2px 0px 2px #7e8980; -webkit-box-shadow:inset -2px 0px 2px #7e8980; box-shadow:inset -2px 0px 2px #7e8980;}

.pink{ width:277px; height:43px; float:left; background:#fdbdbd ;color:#000; text-decoration:none; font-size:14px; padding:5px 0 0 5px; border:1px solid #a1a0a0; border-radius:7px; margin:1px 0 1px 0; -moz-box-shadow:2px 2px 2px #f29e9e; -webkit-box-shadow:2px 2px 2px #c4c3c3; box-shadow:2px 2px 2px #c4c3c3;}

.pink:active { background:#fdbdbd; -moz-box-shadow:inset -2px 0px 2px #f29e9e; -webkit-box-shadow:inset -2px 0px 2px #f29e9e; box-shadow:inset -2px 0px 2px #f29e9e;}


.yellow{ width:277px; height:43px; float:left; background:#fde9bd ;color:#000; text-decoration:none; font-size:14px; padding:5px 0 0 5px; border:1px solid #a1a0a0; border-radius:7px; margin:1px 0 1px 0; -moz-box-shadow:2px 2px 2px #f29e9e; -webkit-box-shadow:2px 2px 2px #c4c3c3; box-shadow:2px 2px 2px #c4c3c3;}

.yellow:active { background:#fde9bd; -moz-box-shadow:inset -2px 0px 2px #e5c889; -webkit-box-shadow:inset -2px 0px 2px #e5c889; box-shadow:inset -2px 0px 2px #e5c889;}



.buttontext{display: block;
    padding: 12px 0 0 40px;}

h1{ color:#6c6c6c; font-size:22px; line-height: normal; padding:0; margin:0}
.graytext{ color:#6c6c6c; font-size:14px; line-height: normal}

.icon{ width:33px; height:36px; float:left; background:url(/assets/pencil.png) no-repeat}

.checkbox{ width:15px; height:15px; position:relative; top:5px; left:-10px }

.checkbox2{position:relative; top:-30px; left:-84px }

.buttondiv{width:124px; height:39px; margin:0 10px 0 0; float:left; font-size:20px}

.yes{width:119px; height:39px; background:url(/assets/yes.jpg) no-repeat;color:#fff; text-decoration:none; font-size:14px; padding:5px 0 0 5px; text-align:center;border-width: 0; display:block; font-size:22px}
.yes:active { background:url(/assets/yes_click.jpg) no-repeat;}

.no{width:119px; height:39px; background:url(/assets/no.jpg) no-repeat;color:#fff; text-decoration:none; font-size:14px; padding:5px 0 0 5px; text-align:center; display:block; font-size:22px; border:none; border-width:0; cursor:pointer}

.login{width:124px; padding: 4px 0 8px; background:url(/assets/yes.jpg) no-repeat;color:#fff; text-decoration:none; font-size:14px; text-align:center; display:block; font-size:22px; border: none; border-width:0; cursor:pointer; float:right;  margin-left:10px;}

.login:active { background:url(/assets/yes_click.jpg) no-repeat;}

.no:active { background:url(/assets/no_click.jpg) no-repeat;}

.alert {background: none repeat scroll 0 0 #FF5F5F;
    border: 5px solid #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    box-shadow: -3px 6px 5px #000000;
    color: white;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 23px;
    min-width: 20px;
    padding: 3px 4px;
    position: relative;
    right: 41px;
    text-align: center;
}
	
.calender1_e_button{ width:73px; height:61px; float:left; background:url(/assets/calender_e_button2.png) no-repeat 0 4px}
.calender1_e_button:hover{background-position:0 -54px}
.calender1_e_button:active { background-position:0 -115px}

.calender1_home {background: url(/assets/calender_home2.png) no-repeat scroll 0 7px transparent;float: left;height: 126px; width: 134px;}
.calender1_home:hover {background-position: 0 -114px;}
.calender1_home:active {background-position: 0 -114px;}



.message_e_button{ width:73px; height:61px; float:left; background:url(/assets/message_e_button2.png) no-repeat 0 5px}
.message_e_button:hover{ background-position:0 -53px}
.message_e_button:active { background-position:0 -114px}

.left_button{ width:283px; height:auto; float:left; background:url(/assets/left_button.png) no-repeat;color:#000; text-decoration:none; font-size:16px; padding:15px 0 17px 50px}
.left_button:active { background:url(/assets/left_button_hover.png) no-repeat;}
.left_button_selected { width:283px; height:auto; float:left; background:url(/assets/left_button_hover.png) no-repeat; color:#000; text-decoration:none; font-size:16px; padding:15px 0 17px 50px}


.pink_bg{width:623px; height:38px; float:left; background:#fdbdbd; font-size:16px; border-radius:5px; margin:2px 0 2px 0; -moz-box-shadow:inset 0px 0px 3px #a27979;
-webkit-box-shadow:inset 0px 0px 3px #a27979; box-shadow:inset 0px 0px 3px #a27979; border:1px solid #a4a3a3}

.sn{ width:50px; height:auto; float:left; margin:-11px 0 0 -7px; font-size:22px; color:#6c6c6c;}
.icondiv{ width:40px; height:36px; float:left; margin:7px 0 0 0; background:url(/assets/book.png) no-repeat}
.icondiv2{ width:40px; height:36px; float:left; margin:5px 0 0 0; background:url(/assets/pencil.png) no-repeat top center}
.icondiv3{ width:40px; height:36px; float:left; margin:7px 0 0 0; background:url(/assets/user.png) no-repeat top center}
.assignment{ width:320px; height:auto; float:left; margin:15px 0 0 10px; font-style:italic;}
.points{ width:100px; height:auto; float:left; margin:15px 0 0 10px;  font-style:italic;}
.due{ width:90px; height:auto; float:left; margin:15px 0 0 10px;  font-style:italic;}

.loginbox{border-radius: 10px 10px 10px 10px; width:470px; height:auto; overflow: hidden; text-align:left; background:#FFFFFF; padding:30px;
-moz-box-shadow: 4px 6px 4px #000000;
-webkit-box-shadow: 4px 6px 4px #000000;
box-shadow: 4px 6px 4px #000000; margin:50px 0 0 0

}

.loginrow{ width:100%; height:auto; margin:10px 0 10px 0; float: left}
.colum1{ width:20%; height:auto;float:left; text-align:left; margin:10px 0 0 0; font-size:14px; color:#6C6C6C}

.colum2{ width:70%; height:auto;float:left; text-align:left}

.textfield{border-radius:5px; background: url(/assets/textfield_bg.jpg) repeat-x; width:300px; padding:10px; border:1px solid #c1c1c1}

.textfield2{border-radius:5px; background: url(/assets/textfield_bg.jpg) repeat-x; width:300px; padding:10px; border:1px solid #9d6931}

.fp{ font-size:14px; color:#666666; text-decoration:none}
.fp:hover{color:#000;}

.separator{float: left; height: 5px; width: 623px; background:#6c6c6c; margin:5px 0 5px 0; border-radius: 3px;}

.table_heading{ background:#fdbdbd; font-size:16px; font-weight:bold; color:#4a4a4a; border-radius: 5px;
    -moz-box-shadow:inset 2px 2px 2px #fedddd;
    -webkit-box-shadow:inset 2px 2px 2px #fedddd;
    box-shadow:inset 2px 2px 2px #fedddd; border:1px solid #a1a0a0;
}

.table_heading_link{ color:#000; text-decoration:none; padding:0 30px 0 30px; font-size:18px}
.table_heading_link:hover{ color:#000; text-decoration:underline }

.tr_bg{ background:#fff; font-size:14px; font-weight:normal; color:#4a4a4a; border-radius: 5px; border:1px solid #e6e6e6}

.td_link{ color:#000; text-decoration:none; padding:5px; border-radius:5px; margin:0 5px 0 5px;}
.td_link:hover{ background:#fdbdbd; }

.greenbutton{width:auto; padding:4px 15px 4px 15px; background:#54b35f; color:#fff; text-decoration:none; font-size:18px; text-align:center; display:block; border: none; border-width:0; cursor:pointer; float:left; border-radius:5px; border:1px solid #292929; margin-left:5px}



.greenbutton:active {
-moz-box-shadow:inset 3px 3px 3px #000;
    -webkit-box-shadow:inset 3px 3px 3px #000;
    box-shadow:inset 3px 3px 3px #000;}

	.searchbutton{width:auto; padding:4px 15px 4px 15px; background:#54b35f; color:#fff;float:left; text-decoration:none; font-size:18px; text-align:center; display:block; border: none; border-width:0; cursor:pointer; float:right; border-radius:5px; border:1px solid #292929; margin-left:5px}



	.searchbutton:active {
	-moz-box-shadow:inset 3px 3px 3px #000;
	    -webkit-box-shadow:inset 3px 3px 3px #000;
	    box-shadow:inset 3px 3px 3px #000;}

.graybutton{width:auto; padding:4px 15px 4px 15px; background:#bfbfbf; color:#fff; text-decoration:none; font-size:18px; text-align:center; display:block; border: none; border-width:0; cursor:pointer; float:left; border-radius:5px; border:1px solid #292929; margin-left:5px}



.graybutton:active {
-moz-box-shadow:inset 3px 3px 3px #000;
-webkit-box-shadow:inset 3px 3px 3px #000;
box-shadow:inset 3px 3px 3px #000;}

.font16 {font-size: 16px;}

.error { color: #FE1717; font: 13px "Trebuchet MS",Arial,Helvetica,sans-serif,sans-serif;}

.sub_question_{ background:#fff; font-size:14px; font-weight:normal; color:#4a4a4a; border-radius: 5px; border:1px solid #e6e6e6}



  #maindiv_ques{ width:100%; height:auto}
  #wraper_ques{ width:890px; height:auto; overflow:hidden; margin:0; text-align:center; padding:10px}
  .row_ques{ width:100%; height:auto; float:left; margin:1px 0 1px 0}
  .colum_left_ques{ width:25%; height:auto; float:left; text-align:left; margin-right:2px; background:#FFFFFF; border-radius: 5px; border:1px solid #e6e6e6; padding:10px; font-size:14px }
  .colum_right_ques{ width:69%; height:auto; float:right; text-align:left; background:#FFFFFF; border-radius: 5px; border:1px solid #e6e6e6; padding:10px; font-size:14px }

 .lq{ width:878px; height:auto; text-align:left; float:left; background:#FFFFFF; border-radius: 5px; border:1px solid #e6e6e6;padding:10px; font-size:14px; overflow:hidden; margin:5px 0 0 0}
.la{ width:100%; height:auto; text-align:left; float:left; padding:5px 0 0 0; font-size:14px; overflow:hidden; color:#626262 }  
.answer{ list-style-type:none; padding:0; margin:0}
.sq_title{ width:878px; height:auto; text-align:left;
float:left;padding:10px 0 0 21px; font-size:14px; font-weight:bold;
margin:5px 0 0 0px; color:#626262}
.sq{ width:878px; height:auto; text-align:left; float:left;padding:10px;
font-size:13px; overflow:hidden; margin:5px 0 0 10px; color:#626262}
.answer2{ list-style-type:none; padding:0; margin:0; color:#333333;
font-size:13px; color:#626262}


.pagination { padding: 3px; margin: 3px; font-size:14px;}
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #aaaadd; text-decoration: none; color: #000099; }
.pagination a:hover,
.pagination a:active { border: 1px solid #000099; color: #000; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #000099; font-weight: bold; background-color: #000099; color: #FFF; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd; }

.alert2{ background: none repeat scroll 0 0 #df3a3a; border: 1px solid #FFFFFF; border-radius: 30px;
    color: #FFFFFF;
    height: 23px;
    position: relative;
    left: 57px;
    top: -68px;
    width: 23px; 
   -moz-box-shadow: 1px 1px 1px #000000;
    -webkit-box-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px #000000; font-size:20px; float:left
	}
	
.alert3{ background: none repeat scroll 0 0 #df3a3a; border: 1px solid #FFFFFF; border-radius: 30px;
    color: #FFFFFF;
    height: 23px;
    position: relative;
    left: 127px;
    top: -68px;
    width: 23px; 
   -moz-box-shadow: 1px 1px 1px #000000;
    -webkit-box-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px #000000; font-size:20px; float:left
	}	

	
	
	
 	.course_shadow{ width:650px; height:62px; float:left; text-align:center; background:#FFFFFF; border-radius:20px; margin:15px 0 15px 0;

	    -moz-box-shadow: 0px 0px 2px #000000;
	    -webkit-box-shadow: 0px 0px 2px #000000;
	    box-shadow: 0px 0px 2px #000000;
    opacity:1.0;
    filter:alpha(opacity=100);
	}

	.english{background:#fc9e9e url(/assets/english.jpg) repeat-x; font-size:18px; color:#000000; width:618px; height:30px; padding:15px; text-decoration:none; display:block; border-radius:20px; border:1px solid #000; font-size:25px;
	}
	.english:active{ background:#fc9e9e; -moz-box-shadow:inset 2px 2px 2px #000; -webkit-box-shadow:inset 2px 2px 2px #000; color :#000000; box-shadow:inset 3px 3px 3px #000;}
	
	.add { background: url("/assets/add_button.png") no-repeat scroll 0 0 transparent; float: left; height: 47px; position: relative;top: 41px; width: 50px; z-index:100;}
	
	.add1 {background: url("/assets/add_button.png") no-repeat scroll 0 0 transparent;float: left;height: 47px;position: relative;top: 5px;width: 50px;}
	
.english_attendance {background: url(/assets/avatar.png) no-repeat center 13px #fc9e9e; border-radius: 10px 10px 10px 10px; box-shadow:inset -3px -3px 5px #000000; display: block; float: right;
	    height: 55px; margin: 5px 18px 5px 0; padding: 15px 18px; text-decoration: none; width: 55px;}

	.english_attendance:active{ background:-moz-box-shadow:inset 3px 3px 5px #000000;-webkit-box-shadow:inset 3px 3px 5px #000000; box-shadow:inset 3px 3px 5px #000000;}}}
	
	#attendance{ width:125px; height:auto; float:right; overflow:hidden; margin-left:20px}
	
	#course_colum { float: left; height: auto; margin-left: 125px; overflow: hidden; width: 821px;}
	

			
.search_courses {background: url(/assets/search_button.png) no-repeat scroll 0 0 transparent; cursor:pointer; border: medium none; height: 32px; width: 32px;}	
	
	
#student_info_right{ 
	width:630px;min-height:355px; margin:0; overflow:hidden; padding:20px 10px; border-radius:10px; background:#f3f3f3; 
	-moz-box-shadow:inset 3px 4px 3px #444444;
    -webkit-box-shadow:inset 3px 4px 3px #444444;
    box-shadow:inset 3px 4px 3px #444444;
}

#student_info_right_wrap{ 
	width:647px;height:390px; margin:20px 0 20px 0; overflow-y:auto; border-radius:10px; 
	overflow-x:hidden;
}

.profile_photo{ width:100px; height:125px; float:left; border:5px solid #fff;    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000; border-radius:10px }
	
	.profile_name{ width:500px; height:auto; float:left; text-align:left; font-size:36px; margin-left:10px }
	.profile_grade{ font-size:18px; margin-left:20px }
	
	.pink_bg2{ width:623px; height:47px; float:left; background:url(/assets/pink_strip.png) no-repeat; font-size:16px;}
	
	
	.grade_box{ float:left; width:100px; height:70px;
	display: block; text-align: center;
	
	padding:0;
	background:#f3f3f3;
	position: relative; color:#6c6c6c;

	border-radius:5px; margin:0 5px 0 5px;
	-moz-box-shadow:inset 1px 1px 3px #8f9090;
    -webkit-box-shadow:inset 1px 1px 3px #8f9090;
    box-shadow:inset 1px 1px 3px #303030; font-size:14px; margin:0 0 0 40px
	
}

.grade_text{ font-size:26px; color:#fdbdbd;}

.tdborder{ border-bottom:3px solid #cccccc; font-size:16px; color:#333333}
.tdscore{ font-size:16px; color:#333333}

.add_picture{ width:130px; height:100px; border:1px solid #7e7d7d; border-radius:10px; text-align:center; padding:50px 0 0 0}

.alwrap{ width:55px; height:30px; float:left}

.a{ padding:7px; float:left; background:#dad9d9; border-radius:5px 0 0 5px; 

    -moz-box-shadow:inset 1px 1px 2px #000000;
    -webkit-box-shadow:inset 1px 1px 2px #000000;
    box-shadow:inset 1px 1px 2px #000000;

}
.l{ padding:7px; float:left; background:#dad9d9; border-radius:0 5px 5px 0; -moz-box-shadow:inset 1px 1px 2px #000000;
    -webkit-box-shadow:inset 1px 1px 2px #000000;
    box-shadow:inset 1px 1px 2px #000000;}
	
	.student_info_link{ font-size:18px; color:#000000; text-decoration:none}
	.student_info_link:hover{text-decoration:none}
	
.student_info_button{ float:left; padding:5px 0 0 0}
	
 .left_button_curve_bg{ background:#f6f6f6; border:1px solid #a6a6a6; border-radius:10px; color:black; float:left; font-size:16px; height:auto; margin: 0; padding: 10px 0 10px 0; text-decoration: none; width:288px; font-family: 'MyriadPro',Arial,Helvetica,sans-serif;}
 
  .left_button_curve_bg_wrap{ border-radius:10px; color:black; float:left; font-size:16px; height:300px;; margin: 0; padding: 10px 0 10px 0; text-decoration: none; width:288px;overflow-x:hidden;overflow-y: auto;}

 
 .left_button3{ width:250px; height:auto; float:left; background:url(/assets/right_arrow.png) no-repeat  240px center #f6f6f6 ;color:#000; text-decoration:none; font-size:16px; padding:7px 0 7px 10px; margin:0px 0 0px 0; border-bottom:1px solid #cecece;}	


.divider{ width:95%; height:9px; background:url(/assets/divider2.jpg) bottom left repeat-x ; float:left; overflow:hidden; padding:0 0 10px 0; border-radius:5px}

.colum1 {float: left;height: auto;text-align: left; width: 300px;}




.message_1{ background:#fdbdbd; font-size:16px; font-weight:bold; color:#4a4a4a; border-radius: 5px 5px 0 0;
    -moz-box-shadow:inset 2px 2px 2px #fedddd;
    -webkit-box-shadow:inset 2px 2px 2px #fedddd; color:#000000;
    box-shadow:inset 2px 2px 2px #fedddd; border-top:1px solid #a1a0a0; border-bottom:1px solid #a1a0a0; width:634px; height:45px; overflow:hidden
}

.message_last{ background:#fdbdbd; font-size:16px; font-weight:bold; color:#4a4a4a; border-radius: 0 0 5px 5px;
    -moz-box-shadow:inset 2px 2px 2px #fedddd;
    -webkit-box-shadow:inset 2px 2px 2px #fedddd; color:#000000;
    box-shadow:inset 2px 2px 2px #fedddd; border-top:1px solid #a1a0a0; border-bottom:1px solid #a1a0a0; width:634px; height:45px; overflow:hidden
}

.message_yellow{ background:#fdfdde; font-size:16px; font-weight:bold; color:#4a4a4a; border-top:1px solid #fff; border-bottom:1px solid #a1a0a0; width:634px; height:45px; overflow:hidden
}


.message_green{ background:#defde4; font-size:16px; font-weight:bold; color:#4a4a4a; border-top:1px solid #fff; border-bottom:1px solid #a1a0a0; width:634px; height:45px; overflow:hidden}

.message_brown{ background:#fde9bd; font-size:16px; font-weight:bold; color:#4a4a4a; border-top:1px solid #fff; border-bottom:1px solid #a1a0a0; width:634px; height:45px; overflow:hidden}

.message_pink{ background:#fdbdbd; font-size:16px; font-weight:bold; color:#4a4a4a; border-top:1px solid #fff; border-bottom:1px solid #a1a0a0; width:634px; height:45px; overflow:hidden}

.cclink{ color: #000000;float: right; font-size: 18px; margin-top: 2px; text-decoration: none; width: 83%;    }
.cclink:hover{ }

.cc_link1{background:#fdbdbd; font-size:18px; color:#000000; width:230px; padding:10px; border-radius:10px 10px 0 0; text-decoration:none; display:block; border-top:1px solid #bebebd; border-bottom:1px solid #bebebd}
.cc_link1:hover{ 
background:#fdbdbd url(/assets/r_arrow.png) no-repeat 220px center;
-moz-box-shadow:inset 2px 2px 2px #000;
-webkit-box-shadow:inset 2px 2px 2px #000;
color :#000000; 
box-shadow:inset 3px 3px 3px #000;}

.message_round_first{ border-radius: 20px 20px 0px 0px;}
.message_round_last{ border-radius: 0px 0px 20px 20px;}
.cc_link2{background:#fdfdde; font-size:18px; color:#000000; width:257px; padding:7px 10px; text-decoration:none; display:block; border-bottom:1px solid #bebebd; border-top:1px solid #fff; overflow:hidden; font-family: "Myriad Pro";}
.cc_link2:hover{ 
background:#fdfdde url(/assets/r_arrow.png) no-repeat 220px center;
-moz-box-shadow:inset 2px 2px 2px #000;
-webkit-box-shadow:inset 2px 2px 2px #000;
color :#000000; 
}

.active_message{ -moz-box-shadow:inset 2px 2px 2px #000;
-webkit-box-shadow:inset 2px 2px 2px #000; box-shadow:inset 3px 3px 3px #000; color :#000000; }




.cc_link3{background:#def4fd; font-size:18px; color:#000000; width:230px; padding:10px; text-decoration:none; display:block; border-bottom:1px solid #bebebd; border-top:1px solid #fff}
.cc_link3:hover{ 
background:#def4fd url(/assets/r_arrow.png) no-repeat 220px center;
-moz-box-shadow:inset 2px 2px 2px #000;
-webkit-box-shadow:inset 2px 2px 2px #000;
color :#000000; 
box-shadow:inset 3px 3px 3px #000;}


.cc_link4{background:#defde4; font-size:18px; color:#000000; width:230px; padding:10px; text-decoration:none; display:block; border-bottom:1px solid #bebebd; border-top:1px solid #fff}
.cc_link4:hover{ 
background:#defde4 url(/assets/r_arrow.png) no-repeat 220px center;
-moz-box-shadow:inset 2px 2px 2px #000;
-webkit-box-shadow:inset 2px 2px 2px #000;
color :#000000; 
box-shadow:inset 3px 3px 3px #000;}


.cc_link5{background:#fde9bd; font-size:18px; color:#000000; width:230px; padding:10px; border-radius:0px 0px 10px 10px ; text-decoration:none; display:block; border-top:1px solid #fff; border-bottom:1px solid #bebebd}
.cc_link5:hover{ background:#fde9bd url(/assets/r_arrow.png) no-repeat 220px center; -moz-box-shadow:inset 2px 2px 2px #000; -webkit-box-shadow:inset 2px 2px 2px #000;
color :#000000; box-shadow:inset 3px 3px 3px #000;}


.redcircle{ border-radius:20px; background:#df3838; color:#FFFFFF; font-size:14px; font-weight:bold; padding:5px 10px 5px 10px; margin-right:10px}





.left_button2{ width:283px; height:auto; float:left; background:url(/assets/left_button2.png) no-repeat;color:#000; text-decoration:none; font-size:16px; padding:15px 0 12px 50px; margin:5px 0 5px 0}
.left_button2:hover {}


.left_button3{ width:267px; height:auto; float:left; background:url(/assets/right_arrow.png) no-repeat ;color:#000; text-decoration:none; font-size:16px; padding:5px 0 5px 10px; margin:0px 0 0px 0; border-bottom:1px solid #cecece;}

.left_button3_selected{ width:267px; height:auto; float:left; background:url(/assets/right_arrow_selected.png) no-repeat ;color:#000; text-decoration:none; font-size:16px; padding:5px 0 5px 10px; margin:0px 0 0px 0; border-bottom:1px solid #cecece;}


 
 .left_button_topcurve{ width:250px; height:auto; float:left; background:url(/assets/right_arrow.png) no-repeat  240px center #f6f6f6 ;color:#000; text-decoration:none; font-size:16px; padding:7px 0 7px 10px; margin:0px 0 0px 0; border-bottom:1px solid #cecece; border-top:1px solid #fff; border-left:1px solid #a6a6a6; border-right:1px solid #a6a6a6; border-radius:10px 10px 0 0}

.left_button_topcurve:hover {background: url(/assets/right_arrow.png) no-repeat  240px center -moz-linear-gradient(0% 0% 280deg, #f2f2f2, #cdcdcd 100%);


    -moz-box-shadow:inset 3px 3px 5px #000000;
    -webkit-box-shadow:inset 3px 3px 5px #000000;
    box-shadow:inset 3px 3px 5px #000000; 

 }


 .left_button_bottomcurve{ width:250px; height:auto; float:left; background:url(/assets/right_arrow.png) no-repeat  240px center #f6f6f6 ;color:#000; text-decoration:none; font-size:16px; padding:7px 0 7px 10px; margin:0px 0 0px 0; border-bottom:1px solid #cecece; border-top:1px solid #fff; border-left:1px solid #a6a6a6; border-right:1px solid #a6a6a6; border-radius:0 0 10px 10px}

.left_button_bottomcurve:hover {background: url(/assets/right_arrow.png) no-repeat  240px center -moz-linear-gradient(0% 0% 280deg, #f2f2f2, #cdcdcd 100%);


    -moz-box-shadow:inset 3px 3px 5px #000000;
    -webkit-box-shadow:inset 3px 3px 5px #000000;
    box-shadow:inset 3px 3px 5px #000000; 

 }


.assignment{ width:320px; height:auto; float:left; margin:15px 0 0 10px; font-style:italic;}
.author{ width:170px; height:auto; float:left; margin:15px 0 0 10px;}
.points{ width:100px; height:auto; float:left; margin:15px 0 0 10px;  font-style:italic;}
.title{ width:300px; height:auto; float:left; margin:15px 0 0 10px;}
.time{ width:90px; height:auto; float:left; margin:15px 0 0 10px;}
.due{ width:90px; height:auto; float:left; margin:15px 0 0 10px;  font-style:italic;}

.message1_e_button{ width:123px; height:84px; float:left; background:url(/assets/message_large.png) no-repeat 0 5px}

.message_div{ width:142px; height:115px; float:left; margin:0; margin:0 0 0 150px}

#topcurve{ width:654px; height:14px; float:left; background:url(/assets/top_curve.png) no-repeat}
#box_bg{ width:634px; min-height:430px; float:left; background:url(/assets/box_bg.png) repeat-y; padding:0 15px 0 15px}
#box_bg2{ width:634px; height:auto; float:left; background:#FFFFFF; border-radius:10px;}
#bottom_curve{ width:654px; height:10px; float:left; background:url(/assets/bottom_curve.png) no-repeat}
.checkbox_wrap{ width:15px; height:15px; position:relative; top:5px; left:-10px }

input[type="checkbox"] {
    display: block;
    float: left;
    left: -1px;
    opacity: 0;
    position: relative;
    top: 23px;
}
input[type="checkbox"]:checked + label {
    background: url(/assets/check.png) no-repeat scroll left 0 transparent;
}
input[type="checkbox"] + label {
    background: url(/assets/off.png) no-repeat scroll left 0 transparent;
    clear: none;
    cursor: pointer;
    margin: 0;
    padding: 0 0 14px 24px;
}
.buttontext2{display: block; padding: 12px 0 0 20px;}


#calender_pinkcurve{ width:654px; height:auto; overflow:hidden; float:right; text-align:left; background:#fdbdbd; border-radius:5px 5px 0 0; border-bottom:1px solid #b3b1b1;


    -moz-box-shadow:inset -5px 5px 9px #ffeded;
    -webkit-box-shadow:inset -5px 5px 9px #ffeded;
    box-shadow:inset -5px 5px 9px #ffeded;


}
#calender_whitecurve{ width:654px; height:auto; padding:20px; overflow:hidden; float:right; text-align:left; background:#f3f3f3; border-radius:0 0 5px 5px;


    -moz-box-shadow:inset -5px -5px 10px #b1b1b1;
    -webkit-box-shadow:inset -5px -5px 10px #b1b1b1;
    box-shadow:inset -5px -5px 10px #b1b1b1; font-size:18px; color:#3d3d3d


}
#calender_right{ width:654px; height:auto; overflow:hidden; float:right; text-align:left; background:#FFFFFF; margin:5px; border-radius:5px;
	-moz-box-shadow: 0px 0px 9px #000000;
    -webkit-box-shadow: 0px 0px 9px #000000;
    box-shadow: 0px 0px 9px #000000;}
.leftside_div{ width:58%; float:left; margin-left:10px; font-size:14px}
.rightside_div{ width:36%; float:right; text-align:right; margin-right:5px}	

.graytd{ background:#dad9d9; border:1px solid #fff}
.bluetd{ background:#cde7f3; padding:10px 0 10px 0}
.pinktd{ background:#fdbdbd; padding:10px 0 10px 0}
.yellowtd{ background:#fde9bd; padding:10px 0 10px 0}
.greentd{ background:#c6f5cf; padding:10px 0 10px 0}
.colors{ width:114px; height:39px; float:left; }

.heading{ font-size:24px; color:#3d3d3d}
.heading2{ font-size:18px; color:#fff}

.heading3{ font-size:18px; color:#777777}

.aq{ padding:10px 20px 10px 20px; background:#dad9d9; border-radius:5px; color:#000000; text-decoration:none}
.aq:hover{background:#c6c6c6;}
.month_bg{ width:270px; height:auto; background:#f3f3f3; border-radius:10px; border:1px solid #9c743f; padding:10px}
#row1_right_calender{ width:675px; height:auto; overflow:hidden; float:right; text-align:right; margin:0 0 10px 0}
.assignment_heading{ width:270px; float:left; padding:0 0 10px 0; margin:0 0 0 40px; font-size:18px}
.assignment_new_link{float:left; height:auto; text-align:left}


.points_heading{ width:100px; float:left; padding:0 0 10px 0; margin:0 0 0 10px; font-size:18px}

.due_heading{ width:100px; float:left; padding:0 0 10px 0; margin:0 0 0 10px; font-size:18px}
.courses_title { float: left; height: auto; width: 650px;}
.attendance_title { float: right; height: auto; width: 125px;}

.gradebook_row1{ width:100%; float:left; overflow:hidden; margin:0 0 10px 0}
.gradebook_row2{ width:100%; float:left; overflow:hidden;}
.marksdiv{ width:100px; float:left; margin:17px 0 0 150px; font-size:16px}
.datediv{ width:50px; float:left; margin:17px 0 0 10px; font-size:16px}

.marksheading{ width:135px; float:left; padding:60px 0 0 50px; font-size:16px; border-bottom:3px solid #cccccc;}
.dateheading{ width:55px; float:left; margin:60px 0 0 0px; font-size:16px; border-bottom:3px solid #cccccc;}

.checkbox_wrap2{ width:15px; height:15px; position:relative; top:-6px; left:7px; float:left }

.assignment a {color:#000000;}
.menu a {color:#000000;}

.large_textfield{ width:640px; height:auto; padding:5px 10px 5px 10px; border:1px solid #777777; background:#eeeeee; border-radius:10px; font-size:22px; color:#3f3f3f}

.new_message_row1{ width:890px; height:auto; float:left; font-size:22px; color:#777777; padding:10px 20px 0 20px}

.pink_class{ background: #fed3d3; /* Old browsers */
background: -moz-linear-gradient(top, #fed3d3 1%, #fc9e9e 5%, #e49191 97%, #372323 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fed3d3), color-stop(5%,#fc9e9e), color-stop(97%,#e49191), color-stop(100%,#372323)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fed3d3 1%,#fc9e9e 5%,#e49191 97%,#372323 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fed3d3 1%,#fc9e9e 5%,#e49191 97%,#372323 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fed3d3 1%,#fc9e9e 5%,#e49191 97%,#372323 100%); /* IE10+ */
background: linear-gradient(to bottom, #fed3d3 1%,#fc9e9e 5%,#e49191 97%,#372323 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed3d3', endColorstr='#372323',GradientType=0 ); /* IE6-9 */
font-size:18px; color:#000000; width:618px; height:30px; padding:15px; text-decoration:none; display:block; border-radius:20px; border:1px solid #000; font-size:25px;
}
.pink_class:active{ -moz-box-shadow:inset 2px 2px 2px #000; -webkit-box-shadow:inset 2px 2px 2px #000; color :#000000; box-shadow:inset 3px 3px 3px #000;}

.light_yellow_class{ background: #fdfdda; /* Old browsers */
background: -moz-linear-gradient(top, #fdfdda 1%, #fafaad 5%, #e1e19d 97%, #373726 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fdfdda), color-stop(5%,#fafaad), color-stop(97%,#e1e19d), color-stop(100%,#373726)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fdfdda 1%,#fafaad 5%,#e1e19d 97%,#373726 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fdfdda 1%,#fafaad 5%,#e1e19d 97%,#373726 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fdfdda 1%,#fafaad 5%,#e1e19d 97%,#373726 100%); /* IE10+ */
background: linear-gradient(to bottom, #fdfdda 1%,#fafaad 5%,#e1e19d 97%,#373726 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdda', endColorstr='#373726',GradientType=0 ); /* IE6-9 */ font-size:18px; color:#000000; width:618px; height:30px; padding:15px; text-decoration:none; display:block; border-radius:20px; border:1px solid #000; font-size:25px;
}
.light_yellow_class:active{ -moz-box-shadow:inset 2px 2px 2px #000; -webkit-box-shadow:inset 2px 2px 2px #000; color :#000000; box-shadow:inset 3px 3px 3px #000;}


.light_blue_class{ background: #dbf1fb; /* Old browsers */
background: -moz-linear-gradient(top, #dbf1fb 1%, #afe1f7 5%, #a0cbde 97%, #41545b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dbf1fb), color-stop(5%,#afe1f7), color-stop(97%,#a0cbde), color-stop(100%,#41545b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dbf1fb 1%,#afe1f7 5%,#a0cbde 97%,#41545b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dbf1fb 1%,#afe1f7 5%,#a0cbde 97%,#41545b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dbf1fb 1%,#afe1f7 5%,#a0cbde 97%,#41545b 100%); /* IE10+ */
background: linear-gradient(to bottom, #dbf1fb 1%,#afe1f7 5%,#a0cbde 97%,#41545b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf1fb', endColorstr='#41545b',GradientType=0 ); /* IE6-9 */
; font-size:18px; color:#000000; width:618px; height:30px; padding:15px; text-decoration:none; display:block; border-radius:20px; border:1px solid #000; font-size:25px;
}
.light_blue_class:active{ 
-moz-box-shadow:inset 2px 2px 2px #000; -webkit-box-shadow:inset 2px 2px 2px #000; color :#000000; box-shadow:inset 3px 3px 3px #000;}


.forest_green_class {
background: #bbd4ba; /* Old browsers */
background: -moz-linear-gradient(top, #bbd4ba 0%, #69a068 5%, #60915e 97%, #273b26 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbd4ba), color-stop(5%,#69a068), color-stop(97%,#60915e), color-stop(100%,#273b26)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #bbd4ba 0%,#69a068 5%,#60915e 97%,#273b26 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #bbd4ba 0%,#69a068 5%,#60915e 97%,#273b26 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #bbd4ba 0%,#69a068 5%,#60915e 97%,#273b26 100%); /* IE10+ */
background: linear-gradient(to bottom, #bbd4ba 0%,#69a068 5%,#60915e 97%,#273b26 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbd4ba', endColorstr='#273b26',GradientType=0 ); /* IE6-9 */
; font-size:18px; color:#000000; width:618px; height:30px; padding:15px; text-decoration:none; display:block; border-radius:20px; border:1px solid #000; font-size:25px;
}
.forest_green_class:active{ -moz-box-shadow:inset 2px 2px 2px #000; -webkit-box-shadow:inset 2px 2px 2px #000; color :#000000; box-shadow:inset 3px 3px 3px #000;}


.banana_class { background: #ffefcc; /* Old browsers */
background: -moz-linear-gradient(top, #ffefcc 0%, #fedb8e 5%, #ebcc89 97%, #3a3222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffefcc), color-stop(5%,#fedb8e), color-stop(97%,#ebcc89), color-stop(100%,#3a3222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffefcc 0%,#fedb8e 5%,#ebcc89 97%,#3a3222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffefcc 0%,#fedb8e 5%,#ebcc89 97%,#3a3222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffefcc 0%,#fedb8e 5%,#ebcc89 97%,#3a3222 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffefcc 0%,#fedb8e 5%,#ebcc89 97%,#3a3222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffefcc', endColorstr='#3a3222',GradientType=0 ); /* IE6-9 */ font-size:18px; color:#000000; width:618px; height:30px; padding:15px; text-decoration:none; display:block; border-radius:20px; border:1px solid #000; font-size:25px;
}
.banana_class:active{ 
-moz-box-shadow:inset 2px 2px 2px #000; -webkit-box-shadow:inset 2px 2px 2px #000; color :#000000; box-shadow:inset 3px 3px 3px #000;}

#container ul.menu li a {text-decoration:none;}


.subject_wrap { height: auto; overflow: hidden; padding: 0 0 10px; width: auto;}

.tabdiv{width:195px; height:auto; float:left; text-align:left; font-size:12px; font-weight:bold; margin-left:73px; }

.tab_all{ width:65px; height:40px; float:left; text-align: center; background:url(/assets/all_tab.png) no-repeat 0 0; text-decoration:none}
.tab_all:active{ background-position:0 -40px}

.tab_date{ width:62px; height:40px; float:left; text-align: center; background:url(/assets/date_tab.png) no-repeat 0 0; text-decoration:none}
.tab_date:active{ background-position:0 -40px}

.type_tab{ width:68px; height:40px; float:left; text-align: center; background:url(/assets/type_tab.png) no-repeat 0 0; text-decoration:none}
.type_tab:active{ background-position:0 -40px}
.type_tab_selected{ background:url("/assets/type_tab.png") no-repeat scroll 0 -40px transparent; width:68px; height:40px; float:left; text-align: center; text-decoration:none}
.tab_date_selected {width:62px; height:40px; float:left; text-align: center; background:url(/assets/date_tab.png) no-repeat 0 -40px; text-decoration:none}
.tab_all_selected {width:65px; height:40px; float:left; text-align: center; background:url(/assets/all_tab.png) no-repeat 0 -40px; text-decoration:none}




/* settings overlay */
  #settings_container {
    
    width: 320px;
    height: 500px;
    position: relative;
    overflow: hidden;
    text-align: left;
  }

  #settings_container *
  {
    font-family: arial;
  }
    
   #settings_container .binder {
      background: white;
      float: left;
      width: 307px;
      height: 390px;
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 4px 4px 8px;
      border: 2px solid #F0F0F0;
    }
    
    #settings_container .header {
      font-size: 14px;
      color: #fff;
      height: 60px;
      text-shadow: 0px 2px 10px black;
      text-align: center;
      position: relative; 
    }

    #settings_container .header_container{
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#719aaf), to(#527688), color-stop(.5,#628ba0));
        background: -moz-linear-gradient(0% 65% 90deg,#719aaf, #527688, #628ba0 100%);
        height: 27px;
        padding-top: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #settings_container .settings_center_label
    {
        margin-top: 6px;
        position: absolute;
    }

    #settings_container .sub_header{
            color: #424242;;
            font-size: 12px;
            height: 17px;
            border-bottom: 1px solid #CCC;
            text-shadow: none;
            margin-top: 5px;
            padding-right: 19px;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6f6f6), to(#eeeeee));
            background: -moz-linear-gradient(0% 65% 90deg,#f6f6f6, #eeeeee 100%);
    }
    
    .additional-block {
      float: left;
      width: 305px;
      height: 388px;
      border: 1px solid grey;
      border-radius: 13px;
      position: absolute;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#E4E4E4));
      background: -moz-linear-gradient(0% 65% 90deg,#fafafa, #e4e4e4 100%);
    }
    
    .binder .menu li:not(.accordion):hover {
      background: #e7e7e7;
      cursor: pointer;
    } 
    
    .binder .menu li a {
      display: block;
      width: 272px;
    }
    
    
    .binder .has-child {
      background: url('arrow.png') center right no-repeat;
    }

    
    .binder .back {
      background: url('arrow.png') center center no-repeat;
      position: absolute;
      display: block;
      height: 20px;
      width: 20px;
      cursor: pointer;
      margin-left: 7px;
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      background-color: #EBEBEB;
      border-radius: 15px;
    }
    
    .binder ul {
      margin: 0;
      padding: 0;
    }

    #settings_container .automatic_span{
        top:6px;
    }

    #settings_container .mail_remainder_container{
        padding: 15px;
        padding-left: 23px;
    }
  
   .binder li {
    list-style-type: none;
    font-size: 14px;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #ccc;
    }

    .binder label div{
        font-size: 14px;
    }
    

    .binder a, .binder a:visited, .binder a:hover {
      text-decoration: none;
      color: #000;
    }
    li.accordion h3
    {
     margin: 0px; 
    }
    li.accordion:hover h3
    {
      margin: 0px;
      background: #e7e7e7;
      cursor: pointer;
    }

     .iphone-toggle-buttons input[type="checkbox"] + span::after
        {
            content: "off";
            vertical-align: middle;
        }

        .iphone-toggle-buttons input[type="checkbox"]:checked + span::after
        {
            content: "on";
            vertical-align: middle;
        }

        .iphone-toggle-buttons
        {
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

        .iphone-toggle-buttons
        {
            display: inline;

        }


        .iphone-toggle-buttons label,
        .iphone-toggle-buttons input[type="checkbox"] + span,
        .iphone-toggle-buttons input[type="checkbox"] + span::before,
        .iphone-toggle-buttons input[type="checkbox"] + span::after
        {
            display: inline-block;
        }

        .iphone-toggle-buttons label,
        .iphone-toggle-buttons input[type="checkbox"] + span
        {
            vertical-align: middle;
        }

        .iphone-toggle-buttons input[type="checkbox"] + span,
        .iphone-toggle-buttons input[type="checkbox"] + span::before,
        .iphone-toggle-buttons input[type="checkbox"] + span::after
        {
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
        }

        .iphone-toggle-buttons input[type="checkbox"] + span::before
        .iphone-toggle-buttons input[type="checkbox"] + span::after,
        .iphone-toggle-buttons input[type="checkbox"]:checked + span::before,
        .iphone-toggle-buttons input[type="checkbox"]:checked + span::after
        {
            top: 0;
        }

        .iphone-toggle-buttons input[type="checkbox"] + span::after,
        .iphone-toggle-buttons input[type="checkbox"]:checked + span::before
        {
            right: 0;
        }

        .iphone-toggle-buttons input[type="checkbox"] + span::before,
        .iphone-toggle-buttons input[type="checkbox"]:checked + span::after
        {
            left: 0;
        }

        .iphone-toggle-buttons input[type="checkbox"],
        .iphone-toggle-buttons input[type="checkbox"] + span::before,
        .iphone-toggle-buttons input[type="checkbox"] + span::after
        {
            position: absolute;
        }

        .iphone-toggle-buttons label
        {
            float: right;
            cursor: pointer;
        }

        .iphone-toggle-buttons input[type="checkbox"]
        {
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -webkit-opacity: 0;
            opacity: 0;
        }

        .iphone-toggle-buttons input[type="checkbox"] + span
        {
            width: 60px;
            height: 17px;
            font: bold 15px Arial, Sans-serif;
            color: #8c8c8c;
            text-transform: uppercase;
            border: solid 1px #bcbbbb;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8c8c8", endColorstr="#f3f3f3");
            background: -moz-linear-gradient(top, #c8c8c8, #f3f3f3);
            background: -webkit-linear-gradient(top, #c8c8c8, #f3f3f3);
            background: -o-linear-gradient(top, #c8c8c8, #f3f3f3);
            background: -ms-linear-gradient(top, #c8c8c8, #f3f3f3);
            background: linear-gradient(top, #c8c8c8, #f3f3f3);
            position: relative;
            text-indent: -9999px;
            text-align: center;
            margin-left: 20px
        }

        .iphone-toggle-buttons input[type="checkbox"] + span::before
        {
            content: "";
            width: 40%;
            height: 16px;
            border-top: solid 1px #fff;
            border-right: solid 1px #bebebe;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#f9f9f9");
            background: -moz-linear-gradient(top, #cfcfcf, #f9f9f9);
            background: -webkit-linear-gradient(top, #cfcfcf, #f9f9f9);
            background: -o-linear-gradient(top, #cfcfcf, #f9f9f9);
            background: -ms-linear-gradient(top, #cfcfcf, #f9f9f9);
            background: linear-gradient(top, #cfcfcf, #f9f9f9);
            -moz-box-shadow: 1px 0 1px #bebebe;
            -webkit-box-shadow: 1px 0 1px #bebebe;
            box-shadow: 1px 0 1px #bebebe;
        }

        .iphone-toggle-buttons input[type="checkbox"] + span::after
        {
            text-indent: 0;
            width: 62%;
            height: 19px;
            text-align: center;
        }

        .iphone-toggle-buttons input[type="checkbox"]:checked + span
        {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b45bd", endColorstr="#5d96ea");
            background: -moz-linear-gradient(top, #1b45bd, #5d96ea);
            background: -webkit-linear-gradient(top, #1b45bd, #5d96ea);
            background: -o-linear-gradient(top, #1b45bd, #5d96ea);
            background: -ms-linear-gradient(top, #1b45bd, #5d96ea);
            background: linear-gradient(top, #1b45bd, #5d96ea);
            color: #fff;
            text-shadow: -1px -1px #0d2046;
        }

        .iphone-toggle-buttons input[type="checkbox"]:checked + span::before
        {
            left: auto;
            -moz-box-shadow: -2px 0 1px #3a5e91;
            -webkit-box-shadow: -2px 0 1px #3a5e91;
            box-shadow: -2px 0 1px #3a5e91;
        }

        .iphone-toggle-buttons input[type="checkbox"]:checked + span::after
        {
            height: 17px;
            top: -1px;
            left: -1px;
            -moz-border-radius: 4px 0 0 4px;
            -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

        li .class-color-box {
            height: 25px;
            width: 30px;
            display: inline-block;
            margin-right: 25px;
            border-radius: 5px;
            margin-left: 15px;
        }

        .float_right
        {float: right}

        .hidden
        {visibility: hidden;}

        #settings_container .edit
        {
            color: #3A86AC;
            display: inline-block;
            margin-left: 36px;

        }

        #settings_container .edit form input, #settings_container .edit form div{
            border: 0px;
            padding:0px;
            width: 80px;
            display: inline-block;
            outline: none;
        }

        #settings_container .edit form input[name="user[email]"]{
            width: 130px;
        }

        #settings_container input[type="checkbox"].checklist
        {
            position: static;
            left: 0px;
            opacity: 1;
            display: inline;
            float: none;
        }
        .no_border{
            border :0px !important;
        }

        #change_password_link{
            color:#59595F;
            text-decoration: underline;
            cursor: pointer;
            margin-left: 8px;
            margin-top: 10px; 
        }

        #change_password{
            margin: 14px 0px 14px 8px;
        }

        #change_password p{
            margin: 0px;
        }

        #change_password_form input{
            width: 150px
        }
                
        #profile_info .row{
            margin: 14px 0px 14px 8px;
        }

        #profile_info .status_text{
            font-size: 13px;
            padding-bottom: 7px;
        }
        
        #profile_info h3{
            outline: none;
        }

        #profile_info h3 span:first-child{
         color: #424242;
        }

        #profile_info h3 span:last-child{
         color: #8a8a8a;   
        }

        #profile_info .email_val
        {
            margin-left: 34px !important;
        }
        
        #profile_info .lang_val
        {
            margin-left: 11px !important;
        }


        .profile_info_h3_border_bottom{
            border-bottom: 1px solid #CCC;
        }

        #settings_container .close_overlay
        {
            float: right;
            border-radius: 20px;
            border: 0px;
            margin-right: 5px;
            height: 19px;
            font-weight: bold;
            color: #686868;
            width: 21px
        }

        #settings_container .settings_icon
        {
            height: 25px;
            width: 24px;
            margin-right: 25px;
            margin-left: 15px;
        }

        #settings_container .profile_icon
        {
            float: left;
            height: 38px;
            width: 56px;
            margin-right: 13px;
            margin-left: 0px;
        }

        .mini_header{
            font-weight: normal;
            font-size: 12px;
            color: #4B4B4B;
        }

        .greeny{
            color: #92d266 !important;
        }

        .checkbox_div
        {
            display: inline-block;
        }

        .reddy{
            color: #fd6e6e;
        }

        #settings_container .checklist_container{
            padding: 12px 0px 0px 20px;
        }

        .checklist_container label div{
            margin: 3px;
        }

        .checklist_container label .checkbox_div{
            color: #a0a0a0;
        }


        .checklist_container label div:hover .checkbox_div{
            color: #3f3f3f;
        }

        #settings_container .checklist_container input[type="checkbox"]{
            margin-right: 10px;
        }


   	.class_history {
		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top, #eeeeee 0%, #dadada 5%, #b8b8b8 97%, #2d2d2d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(5%,#dadada), color-stop(97%,#b8b8b8), color-stop(100%,#2d2d2d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #eeeeee 0%,#dadada 5%,#b8b8b8 97%,#2d2d2d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #eeeeee 0%,#dadada 5%,#b8b8b8 97%,#2d2d2d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #eeeeee 0%,#dadada 5%,#b8b8b8 97%,#2d2d2d 100%); /* IE10+ */
		background: linear-gradient(to bottom, #eeeeee 0%,#dadada 5%,#b8b8b8 97%,#2d2d2d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#2d2d2d',GradientType=0 ); /* IE6-9 */ 
    font-size:18px; color:#000000; width:618px; height:30px; padding:15px; text-decoration:none; display:block; border-radius:20px; 
    font-size:25px;
     box-shadow: 0 -1px 2px #000000 inset;
		opacity:1.0;
   filter:alpha(opacity=100);
   padding: .73em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(100, 100, 100); 
  border: 1px solid rgba(0, 0, 0, 0.3); 
  -moz-background-clip: padding; 
  -webkit-background-clip: padding; 
  background-clip: padding-box; 
  
 
    }
		.class_history:active{ 
		background:#d4d4d4; -moz-box-shadow:inset 2px 2px 2px #000; -webkit-box-shadow:inset 2px 2px 2px #000; color :#000000; box-shadow:inset 3px 3px 3px #000;}

.assignments_container
{
  padding:20px;
  -moz-box-shadow: inset 3px 4px 3px #444444;
  -webkit-box-shadow: inset 3px 4px 3px #444444;
  box-shadow: inset 3px 4px 3px #444444;
  border-radius: 10px;
  background: #f3f3f3;
  overflow: hidden;
  height:65% !important;
  position:absolute;
}

.ui-autocomplete
{
  border: 1px solid #aaaaaa;
  background: #ffffff 50% 50% repeat-x ;
  color: #222222;
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
  width:172px !important;
}
.ui-widget{
  font-family: Verdana,Arial,sans-serif;
  font-size: 13px;
}
.ui-autocomplete li{
  margin: 0;
  padding: 0;
  zoom: 1;
  width: 100%;
}
.ui-autocomplete li a{
  text-decoration: none;
display: block;
padding: 2px .4em;
line-height: 1.5;
zoom: 1;
font-weight: normal;
outline: none;
}

.show_teachers ul, .show_students ul{
  margin: 5px 0 0 10px;
  list-style: none;
  padding: 0px;
}

.ui-state-hover {
  border: 1px solid #999999;
  background: #dadada  50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}
a.remove{
  text-decoration: underline;
  cursor: pointer;
}

.topics_container, #topic
{
  padding: 20px;
-moz-box-shadow: inset 3px 4px 3px #444444;
-webkit-box-shadow: inset 3px 4px 3px #444444;
box-shadow: inset 3px 4px 3px #444444;
border-radius: 10px;
background: #f3f3f3;
overflow: hidden;
height: 65% !important;
position: absolute;
width:600px;
text-align: left;
font-size: 18px;
}

#posts
{

}
.topics_container h2{
  text-align: center;
  margin:0px;
}
#topic_list{
  padding: 5px 25px;
  font-size: 14px;
  margin-left: 15px;
}
#topic_list tr{
  padding: 10px 0px;
}
#topic_list td{
  padding: 4px 5px;
}
.simple_form{
  font-size: 14px;
}
.simple_form input[type="text"]{
  width: 250px; 
}

.content h3 {
  padding-left: 20px;
}
.simple_form textarea{
  margin-top: 10px;
  height: 175px;
  width: 250px;
}
#facebox .content{
  padding: 5px
}

.topics_container a{
  font-size: 14px
}

.content h2{
  font-size: 18px;
  text-align: center;
  }
.simple_form label:first-child{
  padding: 5px;
}
.simple_form label.text{
  padding: 0px 24px 0px 5px !important;
  vertical-align: top;
}

.simple_form label.text abbr {
  vertical-align: top;
}

#posts{
  font-size: 14px;
}
#posts a{
  font-size: 14px;
}
.post{
  padding: 15px;
  border-radius: 5px;
  margin-top:10px;
}

#posts .even{
    background: rgb(209, 208, 208);
}

#posts .odd{
    background: rgb(228, 228, 228);
}
.actions li 
{
  display: inline;
  float: left;
  list-style: none;
  margin-right: 10px;
  float: right;
  font-family: 'Times New Roman'
}
.actions{
  margin: 0px;
  padding: 10px;
}

#topic h2{
  text-align: center;
  margin:0px;
}

#topic menu a{
  font-size: 14px;
  float: right;
  margin-left: 10px;
}
#topic menu
{
  padding: 10px;
  margin: 10px;
}

.post .user .username{
  display: inline;

}
.post .user .time_updated{
  float: right;
  display: inline;
  font-family: 'Times New Roman';
  margin-right: 15px;
}
#topic .back{
  font-size: 14px;
  padding-left: 15px
}
.topic_subject{
  font-family: 'Times New Roman'
}

.forum_overlay_submit{
  float:right;
  margin: 10px 0px;
}