
.sendbutton{ color:#FFFFFF; background:#505050; border:1px solid #000; cursor:pointer; font-weight:bold; border-radius: 3px; padding:3px;}

.text_field
	{border: 1px solid #909090;
    height: 23px;
    width: 654px;}
	
	
.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

#container{
	margin:auto;
	width:650px; font-family:Arial, Helvetica, sans-serif; float:left; margin:0 0 10px 0; height:39px
}
#container ul{
   
    box-shadow: 0 -2px 5px #000000;
    font-size: 12px;
   border-radius: 10px;
    list-style: none outside none;
    position: relative;
    width: 192px; left:70px; padding:0; margin:5px 0 0 0; height:33px

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#container ul{
width: 193px;
}}

#container ul.menu li{
	float: left;
	
	margin-bottom: -1px;
}
#container ul.menu li{
	font-weight: bold;
	display: block;
	padding: 9px 20px 9px 20px;
	background: url(/assets/tab_bg.jpg) repeat-x;
	border-right: 1px solid #909090;
	border-width: 1px 1px 1px 1px;
	position: relative;
	color: #868686;
	cursor: pointer;border-radius:5px;
}
#container ul.menu li.active{
	background: #fff; background: url(/assets/active.jpg);
	-moz-box-shadow:inset 2px 2px 2px #8f9090;
    -webkit-box-shadow:inset 4px 3px 4px #8f9090;
    box-shadow:inset 2px 2px 2px #303030;
	color: #868686;
	border-radius: 5px;
}
/******* /MENU *******/
/******* CONTENT *******/
.content{
	margin: 0pt auto;
	text-align: left;
	font-size: 12px;
}
.content h1{
	line-height: 1em;
	vertical-align: middle;
	height: 48px;
	padding: 10px 10px 10px 10px;
	font-size: 14px;
}
/******* /CONTENT *******/
/******* all *******/
.content.all h1{
	background: transparent url(images/all.jpg) no-repeat scroll left top;
}
.content.all{
	display: block;
}
/******* /all *******/
/******* date *******/
.content.date h1{
	background: transparent url(images/tuts.jpg) no-repeat scroll left top;
}
.content.date{
	display: none;
}
/******* /date *******/
/******* type *******/
.content.type h1{
	background: transparent url(images/type.jpg) no-repeat scroll left top;
}
.content.type{
	display: none;
}
.content.type a{
	color: #5f95ef;
}
/******* /type *******/

