
.sendbutton{ color:#FFFFFF; background:#505050; border:1px solid #000; cursor:pointer; font-weight:bold; border-radius: 3px; padding:3px;}

.text_field
	{border: 1px solid #909090;
    height: 23px;
    width: 654px;}
	
	
.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

#container{
	margin:auto;
	width:650px; font-family:Arial, Helvetica, sans-serif; float:left; margin:0 0 10px 0; height:150px
}
#container ul{
   
   
    font-size: 12px;
   border-radius: 10px;
    list-style: none outside none;
    position: relative;
    width:auto; left:0; padding:0; margin:5px 0 0 0; height:33px


}
#container ul.menu li{
	float: left;
	
	margin-bottom: -1px;
}
#container ul.menu li{
	font-weight: 700;
	display: block;
	padding: 24px 15px 24px 15px;
	background:#f3f3f3;
	position: relative;
	color: #868686;
	cursor: pointer;border-radius:5px; margin:0 5px 0 5px;
	-moz-box-shadow:inset 0 0 3px #8f9090;
    -webkit-box-shadow:inset 0 0 3px #8f9090;
    box-shadow:inset 0 0 3px #303030;
	
}
#container ul.menu li.active{
	background:#e9e9e9;
	-moz-box-shadow:inset 2px 2px 5px #8f9090;
    -webkit-box-shadow:inset 2px 2px 5px #8f9090;
    box-shadow:inset 2px 2px 5px #303030;
	color: #868686;
	border-radius: 5px;
}
/******* /MENU *******/
/******* CONTENT *******/
.content{
	margin: 0pt auto;
	text-align: left;
	font-size: 12px;
}

/******* /CONTENT *******/
/******* all *******/
.content.all h1{
	background: transparent url(assets/all.jpg) no-repeat scroll left top;
}
.content.all{
	display: block;
}
/******* /all *******/
/******* date *******/
.content.date h1{
	background: transparent url(assets/tuts.jpg) no-repeat scroll left top;
}
.content.date{
	display: none;
}
/******* /date *******/
/******* type *******/
.content.type h1{
	background: transparent url(assets/type.jpg) no-repeat scroll left top;
}
.content.type{
	display: none;
}
.content.type a{
	color: #5f95ef;
}
/******* /type *******/





/******* four *******/
.content.four h1{
	background: transparent url(assets/type.jpg) no-repeat scroll left top;
}
.content.four{
	display: none;
}
.content.four a{
	color: #5f95ef;
}
/******* /type *******/


