<div id='forum' class="topics_container scrollable_list">
	<h2><%= "#{@forum.for.name} forum".titleize  %></h2>
	<%= link_to "+ new", forem.new_forum_topic_path(@forum.id), remote: true%>
	<table id="topic_list">
		<th>
			<tr><td></td><td>Topic</td><td>Latest</td><td>Posts</td><td>Views</td></tr>
		</th>
		<% @forum.topics.each_with_index do |topic, index|%>
		<tr>
			<td><%= index + 1 %></td>
			<td class="topic_subject">
				<%= link_to topic.subject, forem.forum_topic_path(@forum, topic), remote: true %>
			</td>
			<td>
				<% last_post = topic.posts.last%>
				<%= "#{time_ago_in_words(last_post.created_at)} #{t("ago_by")} #{last_post.user.fullname}" %>
			</td>
			<td>
				<%= topic.posts.count%>
			</td>
			<td>
				<%= topic.views_count %>
			</td>
		</tr>
		<% end %>

	</table>

</div>
