<% if @ques.empty? %>
  
	jQuery('').prependTo('#box_bg')
	  .hide()
	  .fadeIn()
  jQuery(document).trigger('close.facebox')
<% else %>
  jQuery.facebox('<%= escape_javascript(render :template => 'events/new.html') %>');
  jQuery('#facebox form').data('remote','true');
<% end %>