<h2><%= @assignment.name.camelize %></h2 >
<iframe src="http://docs.google.com/gview?url=<%= @assignment.pdf.url %>&embedded=true" style="width:808px; height:400px;" frameborder="0"></iframe>


<% if (current_user.role? :student ) %>
<%= form_for [:student_assignment, @solve_pdf_assignment], :html => {:multipart => true} do |f|%>
<br/>
<%= f.hidden_field :class_id,:value => @assignment.class_id %> 
<%= f.hidden_field :subject_id,:value => @assignment.subject_id %> 
<%= f.hidden_field :assignment_id,:value => @assignment.id %> 
<%= f.hidden_field :user_id,:value => current_user.id %> 

<pre> Pdf Upload :   <%= f.file_field :std_pdf%></pre>
 <%= f.submit 'Save' ,:class => "greenbutton"%></p>
<% end%>
<% end%>