<div class="mc_heading">
	Assign Student to Classes
	
	</div>
	

<% if current_user.role? :admin %> 
   <p> Select Class : <%= select("user", "class_id", EduClass.find(:all,:order => "class_name asc").collect {|p| [ p.class_name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"student_classes", :action => "check_student_class"}, :with => "'class_id='+value")}"}) %></p>

<% elsif current_user.role? :instituteadmin %> 

     <p> Select Class : <%= select("user", "class_id", EduClass.find_all_by_institute_id(current_user.institute_id,:order => "class_name asc").collect {|p| [ p.class_name, p.id ] }, {:prompt => 'Select'}, {:onChange => "#{remote_function(:url => {:controller =>"student_classes", :action => "check_student_class"}, :with => "'class_id='+value")}"}) %></p>

 <% end %>


<br/><div id="student"></div>