<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Learning Management System</title>
<%= stylesheet_link_tag 'style', 'drop', 'modalbox','layout','menu', 'admin_people' %>
<%= yield :styles %>
<%= javascript_include_tag "application" %>
<%= yield :scripts %>
<%= csrf_meta_tag %>


	
</head>

<body>
<div align="center" id="maindiv">
  <div id="wraper">
    <div id="row1">
	
	<div class="cloud_div2">
	
	<div><%= link_to "", root_path,:class =>"cloud2" %></div>
	<div><%= link_to "", "", :class=>"admin_home_small admin_small"%></div>

	<div><a href="/courses" class="admin_book_small admin_small"></a></div>
	
	
	</div>
	
	
		<div style="display:inline-block">

		<a href="<%= index_admin_people_path(params[:type]) %>" class="people_icon" ></a>

	</div>
	<div class="button">
	
    <div class="logout"><%= link_to "",  users_dashboard_confirm_destroy_path, :method => :delete, :class=>"logout", :remote => true %></div>
	<div class="setting"><%= link_to "",  users_dashboard_confirm_setting_path, :method => :delete, :class=>"setting", :remote => true %></div>


	<div style="display: none">
		
		<div id="inline1" style="width:470px; height:auto ; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h1>Settings</h1></td>
  </tr>
  
    <tr>
    <td align="center" valign="top" style="font-size:16px; padding:30px 0 10px 0">Show Reminders?</td>
  </tr>
  
  <tr>
    <td align="center" valign="top" style="padding:0 0 50px 95px">
	<div align="center">
	<div class="buttondiv"><a class="yes" href="#">yes</a></div>
	<div class="buttondiv"><a class="no" href="#">No</a></div>
	</div>
	
	</td>
  </tr>

</table>


</div>
		</div>
		
</div>



<div style="display:none">
		
		<div id="inline2" style="width:470px; height:auto; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h1>Sign Out?</h1></td>
  </tr>
  
    
  
  <tr>
    <td align="center" valign="top" style="padding:20px 0 30px 95px">
	<div align="center">
	<div class="buttondiv"><a class="yes" href="#">yes</a></div>
	<div class="buttondiv"><a class="no" href="#">No</a></div>
	</div>
	
	</td>
  </tr>
  
  
  <tr>
    <td align="center" valign="top"style="font-size:16px;">
	
	<input name="" type="checkbox" value="" />Don't ask again
	
	
	</td>
  </tr>

</table>


<div>
<div>



</div>
</div>
</div>
		</div>
		
</div>



	</div>
    </div>
    <div class="row2">
    	<div>
    		<%= link_to "", index_admin_people_path('s'), class: "stduents_icon people_icon_links #{'students_icon_selected' if params[:type].blank? || params[:type] == 's' }" %>
    		<%= link_to "",  index_admin_people_path('t'), class: "teachers_icon people_icon_links #{'teachers_icon_selected' if params[:type] == 't' }"%>
    		
    		<%= link_to "",  index_admin_people_path('i'), class: "admin_icon people_icon_links #{'admin_icon_selected' if params[:type] == 'i' }" %>
    	</div>

    	<div style="display:inline-block">
    		<%= link_to "", "#", class: 'current_selected cur_for' %>
    		<%= link_to "", "#", class: 'former_sel cur_for' %>
    	</div>
    	<div class="search" style="margin:14px 0 0 0">
    	<%= form_tag index_admin_people_path(params[:type]), :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>

        <%= text_field_tag :search, params[:search],:class=>"searchfield_new", placeholder: "Search..." %>
        <%= submit_tag '', :first_name => nil, :class => "search_button" %>
        <% end %>
    		
    	</div>
	</div>
	 <div id="modal-box" style="display:none;"></div>
	
	<%=yield%>
		
	
	
	
  </div>
</div>
</body>
</html>