<!DOCTYPE html>
<html>
<head>
<title>Learning Management System</title>
<%= stylesheet_link_tag 'style', 'drop', 'modalbox', 'selectbox' %>
<%= yield :styles %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>  
	<%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'http://cdn.pandastream.com/u/1.4/jquery.panda-uploader.min.js' %>
  <%= javascript_include_tag 'swfobject' %>
<%= csrf_meta_tag %>
<%= yield :scripts %>
</head>
<body>

<div align="center" id="maindiv">
  <div id="wraper">
  <% if signed_in? %>
    <div id="row1">
	
	<div class="cloud_div"> <%= link_to "", main_app.root_path,:class =>"cloud" %> </div>
	<div class="button">
	
<% if signed_in? %>
<% if current_user.dont_ask == true %>
<div class="logout"><%= link_to "", main_app.signout_path, :class=>"logout" %></div>
<%else%>
<div class="logout"><%= link_to "",  main_app.users_dashboard_confirm_destroy_path, :method => :delete, :class=>"logout", :remote => true %></div>
<%end%>
<% else %>
<li><%= link_to "Sign in", signin_path %></li>
<p>If Student? <%= link_to "Student Sign up", main_app.signup_path %></p>

<% end %>
	<a href="#inline2" id="various2" ></a>
	<div class="setting"><%= link_to "",  main_app.users_dashboard_confirm_setting_path, :method => :delete, :class=>"setting", :remote => true %></div>
	<div style="display: none">
		
		<div id="inline1" style="width:470px; height:auto ; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h1>Settings</h1></td>
  </tr>
  
    <tr>
    <td align="center" valign="top" style="font-size:16px; padding:30px 0 10px 0">Show Reminders?</td>
  </tr>
  
  <tr>
    <td align="center" valign="top" style="padding:0 0 50px 95px">
	<div align="center">
	<div class="buttondiv"><a class="yes" href="#">yes</a></div>
	<div class="buttondiv"><a class="no" href="#">No</a></div>
	</div>
	
	</td>
  </tr>

</table>


</div>
		</div>
		
</div>



<div style="display:none">
		
		<div id="inline2" style="width:470px; height:auto; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h1>Sign Out?</h1></td>
  </tr>
  
    
  
  <tr>
    <td align="center" valign="top" style="padding:20px 0 30px 95px">
	<div align="center">
	<div class="buttondiv"><a class="yes" href="#">yes</a></div>
	<div class="buttondiv"><a class="no" href="#">No</a></div>
	</div>
	
	</td>
  </tr>
  
  
  <tr>
    <td align="center" valign="top"style="font-size:16px;">
	
	<input name="" type="checkbox" value="" />Don't ask again
	
	
	</td>
  </tr>

</table>


<div>
<div>



</div>
</div>
</div>
		</div>
		
</div>



	</div>
    </div>
    
  <% else %>
  
  
  <div id="row2">

	
	<div class="loginbox">
	
	
	<% end %>

<div id="modal-box" style="display:none;"></div>

<%= yield %>

</section>


</body>
</html>
