<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Learning Management System</title>

<%= stylesheet_link_tag 'style', 'drop', 'modalbox','layout','menu', 'selectbox' %>
<%= yield :styles %>
<%= javascript_include_tag "application" %>
<%= yield :scripts %>
<%= csrf_meta_tag %>


	
</head>

<body>
<div align="center" id="maindiv">
  <div id="wraper">
    <div id="row1">
	
	<div class="cloud_div2">
	
	<div><%= link_to "", root_path,:class =>"cloud2" %></div>
	<div><%= link_to "", calenders_path, :class=>"calender1_e_button"%></div>

	<div><%= link_to "", messages_path, :class=>"message_e_button"%><% msg_count = @current_user.check_message %> <% if msg_count != 0 %> <div class="alert3"><%= render :partial => 'users/message_count' %></div><% end %></div>

	
	
	</div>
	
	<div class="book_div"><%= link_to "", courses_path, :class=>"course_e_button"%></div>
	
	<div class="button">
	
    <div class="logout"><%= link_to "",  users_dashboard_confirm_destroy_path, :method => :delete, :class=>"logout", :remote => true %></div>
	<div class="setting"><%= link_to "",  users_dashboard_confirm_setting_path, :method => :delete, :class=>"setting", :remote => true %></div>
	<div style="display: none">
		
		<div id="inline1" style="width:470px; height:auto ; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h1>Settings</h1></td>
  </tr>
  
    <tr>
    <td align="center" valign="top" style="font-size:16px; padding:30px 0 10px 0">Show Reminders?</td>
  </tr>
  
  <tr>
    <td align="center" valign="top" style="padding:0 0 50px 95px">
	<div align="center">
	<div class="buttondiv"><a class="yes" href="#">yes</a></div>
	<div class="buttondiv"><a class="no" href="#">No</a></div>
	</div>
	
	</td>
  </tr>

</table>


</div>
		</div>
		
</div>



<div style="display:none">
		
		<div id="inline2" style="width:470px; height:auto; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h1>Sign Out?</h1></td>
  </tr>
  
    
  
  <tr>
    <td align="center" valign="top" style="padding:20px 0 30px 95px">
	<div align="center">
	<div class="buttondiv"><a class="yes" href="#">yes</a></div>
	<div class="buttondiv"><a class="no" href="#">No</a></div>
	</div>
	
	</td>
  </tr>
  
  
  <tr>
    <td align="center" valign="top"style="font-size:16px;">
	
	<input name="" type="checkbox" value="" />Don't ask again
	
	
	</td>
  </tr>

</table>


<div>
<div>



</div>
</div>
</div>
		</div>
		
</div>



	</div>
    </div>
	 <div id="modal-box" style="display:none;"></div>
	
	<%=yield%>
		
	
	
	
  </div>
</div>
</body>
</html>