<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Learning Management System</title>
<%= stylesheet_link_tag 'style', 'drop', 'modalbox','layout','menu','tab','fullcalendar','calendar' %>
<%= yield :styles %>
<%= javascript_include_tag "application" %>
<%= yield :scripts %>
<%= csrf_meta_tag %>


	
</head>

<body>
<div align="center" id="maindiv">
  <div id="wraper" style="width:970px">
    <div id="row1">
	
	<div class="cloud_div2">
	<div><%= link_to "", root_path,:class =>"cloud2" %></div>
	<div><a href="/courses" class="book_small"></a></div>
	<div><%= link_to "", messages_path, :class=>"message_e_button"%><% msg_count = @current_user.check_message %> <% if msg_count != 0 %><div class="alert2"><%= render :partial => 'users/message_count' %></div> <% end %></div>

	
	</div>
	
		
	 <div class="book_div"><div class="calender1_home">
 
 <div style="margin:15px 0 0 0; color:#FFFFFF; font-size:16px"><%= Time.new.strftime("%a")%></div>
 <div style="margin:10px 0 0 0; font-size:60px; font-weight:bold; font-family:Arial, Helvetica, sans-serif"><%= Time.new.strftime("%d")%></div>

</div>	
</div>		
	
	
	
	<div class="button">
	
	<div class="logout"><%= link_to "",  users_dashboard_confirm_destroy_path, :method => :delete, :class=>"logout", :remote => true %></div>
	<div class="setting"><%= link_to "",  users_dashboard_confirm_setting_path, :method => :delete, :class=>"setting", :remote => true %></div>
	<div style="display: none">
		
		<div id="inline1" style="width:470px; height:auto ; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h1>Settings</h1></td>
  </tr>
  
    <tr>
    <td align="center" valign="top" style="font-size:16px; padding:30px 0 10px 0">Show Reminders?</td>
  </tr>
  
  <tr>
    <td align="center" valign="top" style="padding:0 0 50px 95px">
	<div align="center">
	<div class="buttondiv"><a class="yes" href="#">yes</a></div>
	<div class="buttondiv"><a class="no" href="#">No</a></div>
	</div>
	
	</td>
  </tr>

</table>


</div>
		</div>
		
</div>



<div style="display:none">
		
		<div id="inline2" style="width:470px; height:auto; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h1>Sign Out?</h1></td>
  </tr>
  
    
  
  <tr>
    <td align="center" valign="top" style="padding:20px 0 30px 95px">
	<div align="center">
	<div class="buttondiv"><a class="yes" href="#">yes</a></div>
	<div class="buttondiv"><a class="no" href="#">No</a></div>
	</div>
	
	</td>
  </tr>
  
  
  <tr>
    <td align="center" valign="top"style="font-size:16px;">
	
	<input name="" type="checkbox" value="" />Don't ask again
	
	
	</td>
  </tr>

</table>


<div>
<div>



</div>
</div>
</div>
		</div>
		
</div>













<div style="display: none">
		
		<div id="inline3" style="width:470px; height:auto; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="0" cellpadding="5" style="font-size:12px; line-height:25px">
  <tr>
    <td colspan="2" align="center" valign="top"><h1>Add New Event :</h1></td>
    </tr>
  
    <tr>
    <td align="right" valign="middle">Name :          </td>
    <td align="left" valign="middle"><input name="Input2" type="text" class="textfield" /></td>
    </tr>
    <tr>
      <td align="right" valign="middle">Location :</td>
      <td align="left" valign="middle"><input name="Input3" type="text" class="textfield" /></td>
    </tr>
	    <tr>
      <td align="right" valign="middle">Month :</td>
      <td align="left" valign="middle"><label>
        <select name="select" class="textfield" style="width:150px">
          <option>January</option>
          <option>Feb</option>
          <option>Mar</option>
          <option>Apr</option>
          <option>May</option>
          <option>June</option>
          <option>July</option>
          <option>Aug</option>
          <option>Sep</option>
          <option>Oct</option>
          <option>Nov</option>
          <option>Dec</option>
        </select>
        </label></td>
    </tr>
	
	
	<tr>
      <td align="right" valign="middle">Repeat Every :</td>
      <td align="left" valign="middle"><label>
        <select name="select" class="textfield" style="width:150px">
          <option>Never</option>
          <option>Day</option>
          <option>Week</option>
          <option>2 Weeks</option>
          <option>Month</option>
          <option>Year</option>
        </select>
        </label></td>
    </tr>
	
	<tr>
      <td align="right" valign="middle">Reminders :</td>
      <td align="left" valign="middle"><label>
        <select name="select" class="textfield" style="width:150px">
          <option>None</option>
          <option>At Event Time</option>
          <option>30 min before</option>
          <option>1 hour</option>
          <option>1 Day</option>
          <option>1 Week</option>
        </select>
        </label></td>
    </tr>
	
	

      <td align="right" valign="middle">Day :</td>
      <td align="left" valign="middle"><input name="Input32" type="text" class="textfield" /></td>
    </tr>
   
    <tr>
      <td align="right" valign="middle">Color :</td>
      <td align="left" valign="middle"><select name="select2" class="textfield" style="width:150px">
        <option>Red</option>
            </select></td>
    </tr>
    
    <tr>
      <td align="right" valign="middle">Notes :</td>
      <td align="left" valign="middle"><textarea name="Input322" class="textfield"></textarea></td>
    </tr>
	<tr>
      <td align="right" valign="middle">&nbsp;</td>
      <td align="left" valign="middle"><a href="#">
        <input type="submit" name="Submit" value="Submit" class="greenbutton" />
      </a></td>
    </tr>
    
</table>


<div>
<div>



</div>
</div>
</div>
		</div>
		
</div>








	</div>
    </div>
    <div id="modal-box" style="display:none;"></div>
    
	<%=yield%>
	
<!--tab end-->




	</div>
	
	
		
	
	
	
  </div>
</div>
</body>
</html>
