<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Learning Management System</title>
<%= stylesheet_link_tag 'style', 'drop', 'modalbox','layout','menu','style1' %>
<%= yield :styles %>
<%= javascript_include_tag "application" %>
 
  
<%= yield :scripts %>
<%= csrf_meta_tag %>


	
</head>

<body>
<div align="center" id="maindiv">
  <div id="wraper">
    <div id="row1">
	
	<div class="cloud_div2">
	<div><%= link_to '',root_path , :class => "cloud2" %></div>
	<div><a href="/courses" class="book_small"></a></div>
	<div><%= link_to "", calenders_path, :class=>"calender1_e_button"%></div>
	
	
	</div>
	
	<div class="book_div"><a class="message_icon" href="#"></a></div>
	
	<div class="button">
	
	<div class="logout"><%= link_to "",  users_dashboard_confirm_destroy_path, :method => :delete, :class=>"logout", :remote => true %></div>
	<div class="setting"><a href="#inline1" id="various1" class="setting"></a></div>
	<div style="display: none">
		
		<div id="inline1" style="width:470px; height:auto ; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h1>Settings</h1></td>
  </tr>
  
    <tr>
    <td align="center" valign="top" style="font-size:16px; padding:30px 0 10px 0">Show Reminders?</td>
  </tr>
  
  <tr>
    <td align="center" valign="top" style="padding:0 0 50px 95px">
	<div align="center">
	<div class="buttondiv"><a class="yes" href="#">yes</a></div>
	<div class="buttondiv"><a class="no" href="#">No</a></div>
	</div>
	
	</td>
  </tr>

</table>


</div>
		</div>
		
		
		
		
		<div id="inline3" style="width:950px; height:auto ; overflow:auto; text-align:left">
<div class="new_message_row1">

<div align="center" class="new_message_colum1"><div class="message_photo"></div>
<div style=" width:100%; float:left; margin:10px 0 10px 0;"><a href="#" class="select_class">Select Class</a></div>
</div>
<div class="new_message_colum2">
<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td width="15%" align="left" valign="middle">Subject:</td>
    <td><input type="text" value="Assignment #3" class="large_textfield" /></td>
  </tr>
  <tr>
    <td align="left" valign="middle">To:</td>
    <td><input type="text" value="Andrew Joseph, Jane Smith" class="large_textfield" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="#" class="attach">Attach File</a> 
      <div style="width:95px; float:right"><input type="button" value="SEND"  class="send_button"/></div></td>
  </tr>
</table>

</div>

</div>

<div class="new_message_row2">
<textarea name="" class="extralarge_textfield"> </textarea>
</div>
		</div>
		
</div>



<div style="display:none">
		
		<div id="inline2" style="width:470px; height:auto; overflow:auto; text-align:left">
<div>

<table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h1>Sign Out?</h1></td>
  </tr>
  
    
  
  <tr>
    <td align="center" valign="top" style="padding:20px 0 30px 95px">
	<div align="center">
	<div class="buttondiv"><a class="yes" href="#">yes</a></div>
	<div class="buttondiv"><a class="no" href="#">No</a></div>
	</div>
	
	</td>
  </tr>
  
  
  <tr>
    <td align="center" valign="top"style="font-size:16px;">
	
	<input name="" type="checkbox" value="" />Don't ask again
	
	
	</td>
  </tr>

</table>


<div>
<div>



</div>
</div>
</div>
		</div>
		
</div>



	</div>
    </div>
    <div id="modal-box" style="display:none;"></div>
    
	<%= yield %>



	</div>
	
	
		
	
	
	
  </div>
</body>
</html> 	





