<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Learning Management System</title>
<%= stylesheet_link_tag 'login' %>
	
</head>

<body>
<div align="center" id="maindiv">

<div class="gradient">
  <div id="wraper">
  
<div><%= link_to image_tag("/assets/login_cloud.png"),root_path%></div>
  
  
    
	    
	    
	    
	   
<%= yield %>
    
	
	
	
	
		
	
	
	
  </div>
  </div>
</div>
</body>
</html>
